<div class="container">
	<div class="balance">
		<div class="balance__status">
			<span class="balance__availablenum">
			1 243 руб.
				<span class="balance__available">Доступно</span>
			</span>
			<span class="balance__freezednum">
			11 243 руб.
				<span class="balance__freezed">
					Заморожено
				</span>
			</span>
		</div>
		<div class="balance__tabhead">
			<a href="#" class="balance__link balance__link--active">Все операции</a>
			<a href="#" class="balance__link">Пополнение</a>
			<a href="#" class="balance__link">Заморожено</a>
			<a href="#" class="balance__link">Оплата</a>
			<a href="#" class="balance__link">Возврат</a>
		</div>
		<div class="balance__tabcontent">
			<table class="balance__table">
				<thead>
					<tr>
						<td>Сумма</td>
						<td>Тип операции</td>
						<td>Дата</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="balance__item--refil"><span>+ 2 500</span> руб.</td>
						<td>Пополнение</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td class="balance__item--payment"><span>- 1 500</span> руб.</td>
						<td>Оплата</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr class="balance__item--active">
						<td><span>- 1 200 </span> руб.</td>
						<td>Заморозка </td>
						<td>7 августа 2015, 21:45</td>
					</tr>
					<tr>
						<td><span>+ 14 000</span> руб.</td>
						<td>Возврат</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td class="balance__item--refil"><span>+ 900 </span> руб.</td>
						<td>Пополнение</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td><span>- 14 000</span> руб.</td>
						<td>Заморозка  </td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td class="balance__item--refil"><span>+ 2 500</span> руб.</td>
						<td>Пополнение</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
				</tbody>
			</table>
			<!-- /balance__table -->
			<div class="paymentdetails">
				<span class="paymentdetails__tittle">Детали платежа</span>
				<div class="paymentdetails__wrapper">
					<span class="paymentdetails__status">Заморожено</span>
					<span class="paymentdetails__amount">- 1 200 руб.</span>
					<span class="paymentdetails__inf">Дата</span>
					<span class="paymentdetails__infdata">7 августа 2015, 20:46</span>
					<span class="paymentdetails__inf">Тендер</span>
					<span class="paymentdetails__infdata">Помощь в редактировании описания дизайн-концепта</span>
					<span class="paymentdetails__inf">Переводчик</span>
					<span class="paymentdetails__infdata">Константин Константинов</span>
					<a href="#" class="paymentdetails__printlink">Распечатать</a>
				</div>
			</div>
			<!-- /balance__paymentdetails -->
		</div><!-- /balance__tabcontent -->
		<div class="balance__tabcontent" style="display: none;">
			<table class="balance__table">
				<thead>
					<tr>
						<td>Сумма</td>
						<td>Источник</td>
						<td>Дата</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span> 2 500</span> руб.</td>
						<td>«Евросеть»</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td><span> 1 500</span> руб.</td>
						<td>Перевод с карты 345667889900026</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr class="balance__item--active">
						<td><span> 1 200 </span> руб.</td>
						<td>«Связной» </td>
						<td>7 августа 2015, 21:45</td>
					</tr>
					<tr>
						<td><span> 14 000</span> руб.</td>
						<td>Перевод с карты 345667889900026</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td><span> 900 </span> руб.</td>
						<td>Перевод с карты 345667889900026</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td><span> 14 000</span> руб.</td>
						<td>«Связной» </td>
						<td>12 июля 2015, 21:45</td>
					</tr>
					<tr>
						<td><span> 2 500</span> руб.</td>
						<td>«Евросеть»</td>
						<td>12 июля 2015, 21:45</td>
					</tr>
				</tbody>
			</table>
			<!-- /balance__table -->
			<div class="paymentdetails">
				<span class="paymentdetails__tittle">Детали платежа</span>
				<div class="paymentdetails__wrapper">
					<span class="paymentdetails__status">Пополнение</span>
					<span class="paymentdetails__amount">1 200 руб.</span>
					<span class="paymentdetails__inf">Дата</span>
					<span class="paymentdetails__infdata">7 августа 2015, 20:46</span>
					<span class="paymentdetails__inf">Источник</span>
					<span class="paymentdetails__infdata">«Связной», Гражданский пр., 45</span>
					<a href="#" class="paymentdetails__printlink">Распечатать</a>
				</div>
			</div>
			<!-- /balance__paymentdetails -->
		</div><!-- /balance__tabcontent -->
		<div class="balance__tabcontent" style="display: none;"></div>
		<div class="balance__tabcontent" style="display: none;"></div>
		<div class="balance__tabcontent" style="display: none;"></div>
		
	</div>
</div>