<div class="categories">
	<div class="categories__select"></div>
	<div class="categories__dropdown">
		<ul class="categories__list">
			<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
			<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
			<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
			<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
			<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
			<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
			<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
			<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
			<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
			<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
			<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
			<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
			<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
		</ul>
	</div>
</div>