<header class="header private">
	<a href="#" class="header__logo--private has-tooltip-lightBottom" data-tooltip="На главную">translate<span>market</span></a>
	<a href="#" class="header__logo--private-sm has-tooltip-lightBottom" data-tooltip="На главную">tm</a>		
	<a href="#" class="header__private-link">Переводчики</a>		
	<div class="header__personal-block">
		<a href="#" class="notification"></a>
		<a href="#" class="message"></a>
		<a href="#" class="balance has-tooltip-lightBottom" data-tooltip="Баланс">1 243 <small>руб.</small></a>
		<span class="avatar-block">
			<i class="avatar"><img src="upload/avatar-1.jpg" height="46" width="46" alt=""></i>			
			<i class="btn-arrow"></i>
		</span>
		<div class="header__user-menu" style="display:none;">
			<a href="#">Мой профиль</a>
			<a href="#">Настройки</a>
			<a href="#">Выход</a>
		</div>
	</div>
	<div class="header__tenders">
		<a href="#">Мои тендеры</a>
		<a href="#">Поиск тендеров</a>
	</div>
	<div class="menu-btn not-active has-tooltip-lightBottom" data-tooltip="Мои тендеры" id="menu-btn"><span></span></div>
	<div class="drop-menu" style="display:none;">
		<div class="drop-menu__inner">
			<div class="drop-menu__top">					
				<span class="drop-menu__top-txt">Мои тендеры</span>
				<span class="drop-menu__top-links">						
					<a href="#" class="drop-menu__link processing">В работе<i>0</i></a>
					<a href="#" class="drop-menu__link approving">На утверждении<i>0</i></a>
					<a href="#" class="drop-menu__link finished">Завершенные<i>0</i></a>					
				</span>					
			</div><!--/drop-menu__top-->		
			<div class="drop-menu__list">					
				<p class="drop-menu__info">Вы ещё не участвуете ни в одном тендере</p>				
			</div><!--/drop-menu__list-->
		</div><!--/drop-menu__inner-->
	</div><!--/drop-menu-->
</header>