<div class="language__select"></div>
<div class="language__dropdown">
	<ul class="language__list">
		<li class="language__item"><a class="ic-af" href="#">Язык</a></li>
		<li class="language__item"><a class="ic-am" href="#">Язык</a></li>
		<li class="language__item"><a class="ic-se" href="#">Язык</a></li>
		<li class="language__item"><a class="ic-ht" href="#">Мексиканский</a></li>
		<li class="language__item"><a class="ic-ba" href="#">Мексиканский</a></li>
		<li class="language__item"><a class="ic-dk" href="#">Мексиканский</a></li>
		<li class="language__item"><a class="ic-de" href="#">Немецкий</a></li>
		<li class="language__item"><a class="ic-bd" href="#">Немецкий</a></li>
		<li class="language__item"><a class="ic-ee" href="#">Немецкий</a></li>
		<li class="language__item"><a class="ic-hu" href="#">Итальянский</a></li>
		<li class="language__item"><a class="ic-be" href="#">Итальянский</a></li>
		<li class="language__item"><a class="ic-es" href="#">Итальянский</a></li>
		<li class="language__item"><a class="ic-id" href="#">Финский</a></li>
		<li class="language__item"><a class="ic-bg" href="#">Финский</a></li>
		<li class="language__item"><a class="ic-fr" href="#">Финский</a></li>
		<li class="language__item"><a class="ic-ie" href="#">Португальский</a></li>
		<li class="language__item"><a class="ic-br" href="#">Португальский</a></li>
		<li class="language__item"><a class="ic-gb" href="#">Португальский</a></li>
		<li class="language__item"><a class="ic-il" href="#">Американский</a></li>
		<li class="language__item"><a class="ic-by" href="#">Американский</a></li>
		<li class="language__item"><a class="ic-ge" href="#">Американский</a></li>
		<li class="language__item"><a class="ic-is" href="#">Чешский</a></li>
		<li class="language__item"><a class="ic-ch" href="#">Чешский</a></li>
		<li class="language__item"><a class="ic-gr" href="#">Чешский</a></li>
		<li class="language__item"><a class="ic-it" href="#">Корейский</a></li>
		<li class="language__item"><a class="ic-cn" href="#">Корейский</a></li>
		<li class="language__item"><a class="ic-th" href="#">Корейский</a></li>
		<li class="language__item"><a class="ic-jp" href="#">Японский</a></li>
		<li class="language__item"><a class="ic-cz" href="#">Японский</a></li>
		<li class="language__item"><a class="ic-tr" href="#">Японский</a></li>
		<li class="language__item"><a class="ic-lv" href="#">Русский</a></li>
		<li class="language__item"><a class="ic-fi" href="#">Русский</a></li>
		<li class="language__item"><a class="ic-ua" href="#">Русский</a></li>
	</ul>
</div>

