<div style="width: 1000px; margin:0 auto; padding:0 0 80px;">		
	<div style="width:50%;float:left;padding:20px 0;">	
		<p style="font-size:14px">Главная кнопка на странице</p>		
		<span class="btn-upload">
			<label for="btn-hidden">Загрузить файл</label> 
			<input type="file" name="upload" id="btn-hidden">							
		</span>
		<br><br>
		<p style="font-size:14px">Неактивная кнопка</p>
		<span class="btn-upload disabled">
			<label for="btn-hidden2">Загрузить файл</label> 
			<input type="file" name="upload" id="btn-hidden2">							
		</span>
	</div>
	<div style="width:50%;float:left;padding:20px 0;">	
		<p style="font-size:14px">Сокращенный вариант главной кнопки</p>					
		<span class="btn-upload-sm">
			<label for="btn-hidden-sm"></label> 
			<input type="file" name="upload" id="btn-hidden-sm">							
		</span>
		&nbsp;&nbsp;&nbsp;
		<button class="btn-add-sm"></button>
		&nbsp;&nbsp;&nbsp;
		<a href="#" class="btn-add-sm"></a>
	</div>
	<div class="clear"></div>
	<div style="width:50%;float:left;padding:20px 0;">	
		<p style="font-size:14px">Главная кнопка в форме</p>		
		<button  type="submit" class="btn-main">Объявить</button>
		<input  class="btn-main" type="submit" value="Объявить">
		<br><br> 
		<p style="font-size:14px">Неактивная главная кнопка в форме</p>		
		<button  type="submit" class="btn-main" disabled>Объявить</button>
		<input  class="btn-main" type="submit" value="Объявить" disabled> 	
	</div>
	<div style="width:50%;float:left;padding:20px 0;">	
		<p style="font-size:14px">Второстепенная кнопка в форме</p>		
		<button  type="submit" class="btn-add">Закрыть</button>
		&nbsp;&nbsp;&nbsp;
		<input  class="btn-add" type="submit" value="Закрыть"> 	
	</div>
	<div class="clear"></div>
	<div style="padding:20px 0;">	
		<p style="font-size:14px">Второстепенная кнопка на странице</p>		
		<button  type="submit" class="btn2">Выбрать</button>
		&nbsp;&nbsp;&nbsp;
		<input  class="btn2" type="submit" value="Выбрать"> 
		&nbsp;&nbsp;&nbsp;
		<a href="#" class="btn2">Выбрать</a>	
	</div>
	<div style="padding:20px 0;">	
		<p style="font-size:14px">Очень второстепенная кнопка на странице</p>		
		<button  type="submit" class="btn3">Вставить текст</button>
		&nbsp;&nbsp;&nbsp;
		<input  class="btn3" type="submit" value="Вставить текст">
		&nbsp;&nbsp;&nbsp; 
		<a href="#" class="btn3">Вставить текст</a>	
	</div>
	<div style="padding:20px 0;">	
		<p style="font-size:14px">Главная кнопка в формах когда кнопка только одна</p>		
		<button class="btn-main-big" type="submit">Войти</button>
		<br><br><br>
		<input  class="btn-main-big" type="submit" value="Войти">			
	</div>
	<div style="padding:20px; background: #0378ae;">	
		<p style="font-size:14px">Кнопка «Участвовать в тендере» на странице открытого тендера, когда переводчик еще не выбран, фон синий</p>		
		<button class="btn-participate" type="submit">Участвовать</button>
		&nbsp;&nbsp;&nbsp; 
		<input  class="btn-participate" type="submit" value="Участвовать">
		&nbsp;&nbsp;&nbsp; 
		<a href="#"  class="btn-participate">Участвовать</a>
	</div>	
	<div style="padding:20px; background: #0378ae;">	
		<p style="font-size:14px">Кнопка «Закрыть» на странице открытого тендера, когда переводчик еще не выбран, фон синий</p>		
		<span  class="btn-close"></span>
		&nbsp;&nbsp;&nbsp; 
		<a href="#"  class="btn-close"></a>
	</div>
	<div style="padding:20px; background: #676673;">	
		<p style="font-size:14px">Кнопка «Закрыть» на странице с цветным фоном</p>		
		<span  class="btn-close2"></span>
		&nbsp;&nbsp;&nbsp; 
		<a href="#"  class="btn-close2"></a>
	</div>
	<div style="padding:20px;">	
		<p style="font-size:14px">Кнопка «Закрыть» в лайтбоксе</p>		
		<span  class="btn-close-sm"></span>
		&nbsp;&nbsp;&nbsp; 
		<a href="#"  class="btn-close-sm"></a>
	</div>
	<div style="padding:20px;">	
		<p style="font-size:14px">Кнопка «Регистрация»</p>			
		<span class="btn-reg">
			<button class="reg">Регистрация</button>				
			<button class="reg-translator">Переводчик</button>
			<button class="reg-client">Заказчик</button>				
		</span>
	</div>							
</div>
