<footer class="footer">
	<div class="footer__wrap">
		<nav class="footer__nav">
			<a href="#">Как это работает</a>
			<a href="#">Поддержка</a>
			<a href="#">Перевод</a>
		</nav>
	</div>	
	<div class="footer__copy">© 2015 <a href="#" class="footer__logo">translate<span>market</span></a></div>	
	<div class="footer__manuzio">Сайт разработан в студии дизайна <a target="_blank" href="http://manuzio.ru/">Manuzio</a></div>
</footer>