<div class="container" style="padding-bottom: 50px">
	<div style="padding:50px; font-size:16px;">
		Чекбокс:<br><br>
		<input type="checkbox" id="ch1"><label for="ch1"></label><br><br>
		Радиобатоны:<br><br>
		<input type="radio" name="rd" id="rd1"><label for="rd1"><span></span></label>
		<input type="radio" name="rd" id="rd2"><label for="rd2"><span></span></label>
		<br><br><br>
		Аналог чекбоксов:<br><br>		
		<div style="font-size:16px;">
			<span class="check-txt">
				<input type="checkbox" id="ch2"><label for="ch2" class="urgently">Срочный тендер</label>
			</span>
		</div>
		<br><br>
		Неактивный чекбокс:<br><br>
		<div style="font-size:16px;">
			<span class="check-txt">
				<input type="checkbox" id="ch3" disabled="disabled"><label for="ch3" class="urgently">Срочный тендер</label>
			</span>
		</div>
		<br><br>	
		Радиобатоны когда их 2 варианта:<br><br>			
		<div style="font-size:14px;">
			<span class="radio-txt">
				<input type="radio" id="in-hour" name="rd3">	
				<label for="in-hour">В часах</label>
				<input type="radio" id="in-day" name="rd3">	
				<label for="in-day">Днях</label>
			</span>
		</div>
		<br><br>
		Радиобатоны когда их больше 2-х:<br><br>			
		<div style="font-size:14px;">
			<span class="radio-txt-big">
				<input type="radio" id="v1" name="rd4">	
				<label for="v1">Вариант 1</label>
				<input type="radio" id="v2" name="rd4">	
				<label for="v2">Вариант 2</label>
				<input type="radio" id="v3" name="rd4">	
				<label for="v3">Вариант 3</label>
			</span>
		</div>
		<br><br>			
		<div style="font-size:14px;">
			<span class="radio-txt-big">
				<input type="radio" id="not-specify" name="rd5">	
				<label for="not-specify">Не указывать</label>
				<input type="radio" id="specify-days" name="rd5">	
				<label for="specify-days">Указать в днях</label>
				<input type="radio" id="urgently" name="rd5">	
				<label for="urgently" class="urgently">Срочно</label>
			</span>
		</div>	
		<br><br>		
		Кнопки плюс-минус:<br><br>			
		<div style="font-size:14px;">
			<div class="plus-minus">
				<div class="in">
					<button class="plus-btn">+</button>
					<input type="text" value="1" class="plus-minus-value">
					<button class="minus-btn">&ndash;</button>
				</div>
			</div>	
		</div>
	</div>
	<h2 >Состояния</h2>
	<div class="form-block">
		<form action="#">		
			<div class="form-block__in">
				<h4>Заголовок</h4>
				<div class="form-block__row">
					<label>Название</label><input class="field" type="text">
				</div>
				<div class="form-block__row">
					<label>Название</label><input class="field" type="text">
				</div>
				<div class="form-block__row error">
					<label>Название</label><input class="field" type="text">
				</div>
				<div class="form-block__bot al-center">
					<button class="btn-main-big" type="submit">Объявить</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	<div class="form-block">
		<form action="#">
			<div class="form-block__in">
				<h4>Заголовок</h4>
				<div class="form-block__row">
					<label>Имя</label><input class="field req-field req" type="text" placeholder="Иван">
				</div>
				<div class="form-block__row">
					<label>Эл. почта</label><input class="field email req" type="text" placeholder="___@___">
				</div>
				<div class="form-block__row">
					<label>Телефон</label><input class="field tel req" type="text" placeholder="+7 (___) __-__-__">
				</div>
				<div class="form-block__row">
					<label>Тема</label><input class="field" type="text" placeholder="Необязательно">
				</div>
				<div class="form-block__row">
					<label>Ваш вопрос или комментарий</label> 
					<textarea cols="30" rows="10" placeholder="Необязательно"></textarea>
				</div>
				<div class="form-block__bot al-center">
					<button class="btn-main-big" type="submit" disabled>Объявить</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	<div class="form-block">
		<form action="#">
			<div class="form-block__in">
				<h4>Заголовок</h4>
				<div class="form-block__row">
					<label>Логин</label><input class="field" type="text" placeholder="Константинопольский">
				</div>
				<div class="form-block__row">
					<label>Пароль</label><input class="field" type="password" placeholder="">
				</div>
				<div class="form-block__row">
					<label>Пароль</label>
					<span class="passw">				
						<input class="field" type="password" placeholder="" value="Password1"><i></i>					
					</span>					
				</div>	
				<div class="form-block__row">
					<label>Пароль</label>					
					<span class="passw see">				
						<input class="field" type="text" placeholder="" value="Password1"><i></i>						
					</span>
				</div>				
				<div class="form-block__bot al-center">
					<button class="btn-main-big" type="submit">Войти</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	<h2>Форма на заглушке</h2>
	<h3>Шаг-1</h3>
	<div class="form-block">
		<form action="#">
			<div class="form-block__in round">
				<h2>Стать переводчиком</h2>
				<div class="form-block__row two-el">
					<label>Имя</label>
					<input class="field w270 req-field req" type="text">
					<label class="w-auto">Фамилия</label>
					<input class="field w340 req-field req" type="text">
				</div>				
				<div class="form-block__row two-el">
					<label>Язык оригинала</label>
					<div class="language language-source">
						//= ../template/_lang_list.html
					</div><!--/language-->
					<label class="w-auto">Язык перевода</label>
					<div class="language language-to-right">
						//= ../template/_lang_list.html
					</div><!--/language-->
				</div><!--/form-block__row-->
				<div class="form-block__row">									
					<label>Эл. почта</label><input class="field w340 email req" type="text" placeholder="___@___">	
					<small class="note">На указанный адрес вышлем пароль для входа на сайт</small>			
				</div>				
				<div class="form-block__bot al-center">
					<div class="agree-block">
						<input type="checkbox" id="agreement"><label for="agreement"></label>
						<span>Я согласен <a href="#" class="link link--dotted">с условиями пользовательского соглашения</a></span>
					</div>
					<button class="btn-main-big" type="submit" disabled>Зарегистироваться</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	<h3>Шаг-2 (после выбора языков)</h3>
	<div class="form-block">
		<form action="#">
			<div class="form-block__in round">
				<h2>Стать переводчиком</h2>
				<div class="form-block__row two-el">
					<label>Имя</label>
					<input class="field w270 req-field req" type="text" value="Константин">
					<label class="w-auto">Фамилия</label>
					<input class="field w340 req-field req" type="text" value="Константинопольский">
				</div>				
				<div class="form-block__row">
					<label>Языковые пары</label>
					<div class="form-block__language-pairs">
						<div class="lang round"><span>Английский</span><span>Португальский</span><button class="del"></button></div>
						<div class="lang round"><span>Русский</span><span>Португальский</span><span>Английский</span><button class="del"></button></div>
						<a href="#" class="btn-add-sm"></a>
					</div>					
				</div>				
				<div class="form-block__row">									
					<label>Эл. почта</label><input class="field w340 email req" type="text" value="constantin@yahooo.ru">
					<small class="note">На указанный адрес вышлем пароль для входа на сайт</small>			
				</div>				
				<div class="form-block__bot al-center">
					<div class="agree-block">
						<input type="checkbox" id="agreement2"><label for="agreement2"></label>
						<span>Я согласен <a href="#" class="link link--dotted">с условиями пользовательского соглашения</a></span>
					</div>
					<button class="btn-main-big" type="submit" disabled>Зарегистироваться</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	<h3>Шаг-3 (после нажатия на кнопку "Добавить еще языковую пару")</h3>
	<div class="form-block">
		<form action="#">
			<div class="form-block__in round">
				<h2>Стать переводчиком</h2>
				<div class="form-block__row two-el">
					<label>Имя</label>
					<input class="field w270 req-field req" type="text" value="Константин">
					<label class="w-auto">Фамилия</label>
					<input class="field w340 req-field req" type="text" value="Константинопольский">
				</div>				
				<div class="form-block__row">
					<label>Языковые пары</label>
					<div class="form-block__language-pairs">
						<div class="lang round"><span>Английский</span><span>Португальский</span><button class="del"></button></div>
						<div class="lang round"><span>Русский</span><span>Португальский</span><span>Английский</span><button class="del"></button></div>
						<a href="#" class="btn-add-sm" style="display: none"></a>
					</div>					
				</div>
				<div class="form-block__row two-el">
					<label>Язык оригинала</label>
					<div class="language language-source">
						//= ../template/_lang_list.html
					</div><!--/language-->
					<label class="w-auto">Язык перевода</label>
					<div class="language language-to-right">
						//= ../template/_lang_list.html
					</div><!--/language-->
				</div><!--/form-block__row-->
				<div class="form-block__row">									
					<label>Эл. почта</label><input class="field w340 email req" type="text" value="constantin@yahooo.ru">
					<small class="note">На указанный адрес вышлем пароль для входа на сайт</small>			
				</div>				
				<div class="form-block__bot al-center">
					<div class="agree-block">
						<input type="checkbox" id="agreement3"><label for="agreement3"></label>
						<span>Я согласен <a href="#" class="link link--dotted">с условиями пользовательского соглашения</a></span>
					</div>
					<button class="btn-main-big" type="submit" disabled>Зарегистироваться</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	<h2>Форма создания тендера</h2>
	<h2>Новый тендер</h2>
	<div class="form-block">
		<form action="#">
			<div class="form-block__in">				
				<div class="form-block__row form-block__row--upload">
					<span class="label">Исходник</span>
					<div class="form-block__upload-block">
						<span class="upload-block">
							<span class="upload-box">
								<span class="btn-upload">
									<label for="btn-hidden">Загрузить файл</label> 
									<input type="file" name="upload" id="btn-hidden">							
								</span>
								<small class="inf">Можно перетянуть сюда</small>
							</span>
							<span class="upload-block__insert">Или<a href="#" class="btn3">Вставить текст</a></span>
						</span><!--/upload-block-->
						<div class="uploaded-files">
							<a href="#" class="uploaded-files__file pdf"></a>
							<a href="#" class="uploaded-files__file doc"></a>
							<a href="#" class="uploaded-files__file png"></a>
							<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
						</div>
					</div>
				</div><!--/form-block__row-->				
				<div class="form-block__row two-el">
					<label>Язык оригинала</label>
					<div class="language language-source">
						//= ../template/_lang_list.html
					</div><!--/language-->
					<label class="w-auto">Язык перевода</label>
					<div class="language language-to-right">
						//= ../template/_lang_list.html
					</div><!--/language-->
				</div><!--/form-block__row-->						
				<div class="form-block__row">									
					<span class="label tooltip-info">Тематика <i class="mark-qu has-tooltip-lightTop" data-tooltip="Тендер — 48 часов">?</i></span>	
					<div class="categories">
						<div class="categories__select"></div>
						<div class="categories__dropdown">
							<ul class="categories__list">
								<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
								<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
								<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
								<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
								<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
								<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
								<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
								<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
								<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
								<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
								<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
								<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
								<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
							</ul>
						</div>
					</div>				
				</div><!--/form-block__row-->
				<div class="form-block__row">									
					<label>Название</label><input class="field w580 req-field req" type="text">						
				</div>
				<div class="form-block__row">
					<a class="link link--dotted link--warr m-left140  form-block__open-descr" href="#">Дополнительно: срок и описание</a>		
				</div>
				<div class="form-block__descr" style="display: none;">
					<div class="form-block__row">									
						<label class="m-top10">Описание</label>
						<textarea cols="30" rows="10" placeholder="Необязательно" class="h100 w580"></textarea>						
					</div>
					<div class="form-block__row time-complete">									
						<label>Время на перевод</label>
						<div class="plus-minus">
							<div class="in">
								<button class="plus-btn">+</button>
								<input type="text" value="1" class="plus-minus-value">
								<button class="minus-btn">&ndash;</button>
							</div>
						</div>
						<span class="radio-txt">
							<input type="radio" id="in-hour2" name="rdF">	
							<label for="in-hour2">В часах</label>
							<input type="radio" id="in-day2" name="rdF">	
							<label for="in-day2">Днях</label>
						</span>
						<span class="note">Не указывайте, если хотите чтобы <br>время на перевод предложили участники тендера</span>						
					</div><!--/form-block__row-->
				</div>				
				<div class="form-block__bot al-center">					
					<button class="btn-main-big" type="submit" disabled>Объявить</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	<h2>Заполненная полная форма</h2>	
	<h2>Новый тендер</h2>	
	<div class="form-block">
		<form action="#">
			<div class="form-block__in">				
				<div class="form-block__row form-block__row--upload">
					<span class="label">Исходник</span>
					<div class="form-block__upload-block">
						<span class="upload-block">
							<span class="upload-box">
								<span class="download-file">
									<a href="#" class="link--field"><span>For_translators.pdf</span></a>
									<button class="del"></button>
									<small>17 МБ</small>
								</span>
								<span class="btn-upload-sm">
									<label for="btn-hidden-sm"></label> 
									<input type="file" name="upload" id="btn-hidden-sm">							
								</span>
							</span>
							<span class="upload-block__insert">Или<a href="#" class="btn3">Вставить текст</a></span>
						</span><!--/upload-block-->
						<div class="uploaded-files">
							<a href="#" class="uploaded-files__file pdf"></a>
							<a href="#" class="uploaded-files__file doc"></a>
							<a href="#" class="uploaded-files__file png"></a>
							<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
						</div>
					</div>
				</div><!--/form-block__row-->
				<div class="form-block__row">
					<label>Языковые пары</label>
					<div class="form-block__language-pairs">
						<div class="lang round"><span>Английский</span><span>Португальский</span><button class="del"></button></div>
						<div class="lang round"><span>Русский</span><span>Португальский</span><span>Английский</span><button class="del"></button></div>
						<a href="#" class="btn-add-sm"></a>
					</div>					
				</div>				
				<div class="form-block__row">									
					<span class="label tooltip-info">Тематика <i class="mark-qu has-tooltip-lightTop" data-tooltip="Тендер — 48 часов">?</i></span>	
					<div class="categories">
						<div class="categories__select"><span style="line-height:48px;">Юриспруденция</span></div>
						<div class="categories__dropdown">
							<ul class="categories__list">
								<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
								<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
								<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
								<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
								<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
								<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
								<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
								<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
								<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
								<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
								<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
								<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
								<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
							</ul>
						</div>
					</div>				
				</div><!--/form-block__row-->
				<div class="form-block__row">									
					<label>Название</label><input class="field w580 req-field req" type="text" value="Срочный перевод документов">						
				</div>
				<div class="form-block__row" style="display: none">
					<a class="link link--dotted link--warr m-left140" href="#">Дополнительно: срок и описание</a>
				</div>	
				<div class="form-block__descr" style="display:block;">
					<div class="form-block__row">									
						<label class="m-top10">Описание</label>
						<textarea cols="30" rows="10" placeholder="Необязательно" class="h100 w580"></textarea>						
					</div>
					<div class="form-block__row time-complete">									
						<label>Время на перевод</label>
						<div class="plus-minus">
							<div class="in">
								<button class="plus-btn">+</button>
								<input type="text" value="1" class="plus-minus-value">
								<button class="minus-btn">&ndash;</button>
							</div>
						</div>
						<span class="radio-txt">
							<input type="radio" id="in-hour2" name="rdF">	
							<label for="in-hour2">В часах</label>
							<input type="radio" id="in-day2" name="rdF">	
							<label for="in-day2">Днях</label>
						</span>
						<span class="note">Не указывайте, если хотите чтобы <br>время на перевод предложили участники тендера</span>						
					</div><!--/form-block__row-->
				</div>							
				<div class="form-block__bot al-center">
					<div class="form-block__conditions">
						<span>Количество символов <b>12 000</b></span>
						<span class="tooltip-info">Примерная стоимость <b>5 600</b> руб. <i class="mark-qu has-tooltip-lightTop" data-tooltip="Тендер — 48 часов">?</i></span>
					</div>
					<button class="btn-main-big" type="submit">Объявить</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>
	
	<h3>Форма редактирования профиля переводчика</h3>
	<h2>Редактирoвание профиля</h2>
	<div class="form-block">
		<form action="#">
			<div class="form-block__in">
				<h4>Основное</h4>			
				<div class="form-block__row two-el">
					<label>Имя</label>
					<input class="field w270 req-field req" type="text" value="Константин">
					<label class="w-auto">Фамилия</label>
					<input class="field w340 req-field req" type="text" value="Константинопольский">
				</div>				
				<div class="form-block__row">									
					<label class="m-top10">О себе</label>
					<textarea cols="30" rows="10" placeholder="Необязательно" class="h160 w580"></textarea>				
				</div>
				<h4>Переводы</h4>	
				<div class="form-block__row two-el">
					<label>Язык оригинала</label>
					<div class="language language-source">
						//= ../template/_lang_list.html
					</div><!--/language-->
					<label class="w-auto">Язык перевода</label>
					<div class="language language-to-right">
						//= ../template/_lang_list.html
					</div><!--/language-->
				</div><!--/form-block__row-->
				<div class="form-block__row">									
					<span class="label tooltip-info">Специализация</span>	
					<div class="categories">
						<div class="categories__select"></div>
						<div class="categories__dropdown">
							<ul class="categories__list">
								<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
								<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
								<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
								<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
								<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
								<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
								<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
								<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
								<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
								<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
								<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
								<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
								<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
							</ul>
						</div>
					</div>				
				</div><!--/form-block__row-->
				<h4>Образование</h4>	
				<div class="form-block__row">									
					<label>Страна</label><input class="field w580 req-field req" type="text">							
				</div>
				<div class="form-block__row">									
					<label>Город</label><input class="field w580 req-field req" type="text">							
				</div>
				<div class="form-block__row">									
					<label>Вуз</label><input class="field w580 req-field req" type="text">								
				</div>
				<div class="form-block__row">									
					<label>Факультет</label><input class="field w580 req-field req" type="text">						
				</div>
				<div class="form-block__row">									
					<label>Дата выпуска</label><input class="field w580 req-field req" type="text">						
				</div>
				<div class="form-block__row form-block__row--upload">
					<span class="label m-top10">Документы подтверждающие квалификацию</span>
					<div class="form-block__upload-block">
						<span class="upload-block">
							<span class="upload-box w580">
								<span class="btn-upload">
									<label for="btn-hidden2">Загрузить файл</label> 
									<input type="file" name="upload" id="btn-hidden2">							
								</span>
								<small class="inf">Можно перетянуть сюда</small>
							</span>						
						</span><!--/upload-block-->
						<div class="uploaded-files">
							<a href="#" class="uploaded-files__file pdf"></a>
							<a href="#" class="uploaded-files__file doc"></a>
							<a href="#" class="uploaded-files__file png"></a>
							<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
						</div>
					</div>
				</div><!--/form-block__row-->						
				<div class="form-block__bot al-center">					
					<button class="btn-main-big" type="submit">Сохранить</button>
				</div>
			</div>
		</form>
	</div><!--/form-block-->
	<br><br><br>	
</div><!--/container-->
