<header class="header">
	<a href="#" class="header__logo">translate<span>market</span></a>
	<a href="#" class="header__logo--sm">tm</a>
	<div class="header__enter-block">
		<a href="#" class="btn-enter">Вход</a>
		<span class="btn-reg">
			<button class="reg">Регистрация</button>				
			<button class="reg-translator">Переводчик</button>
			<button class="reg-client">Заказчик</button>				
		</span>
	</div>
	<nav class="header__nav">
		<a href="#">Как это работает</a>
		<a href="#">Поддержка</a>
		<a href="#">Перевод</a>
	</nav>		
</header>