<header class="header private">
	<a href="#" class="header__logo--private has-tooltip" data-tooltip="На главную">translate<span>market</span></a>
	<a href="#" class="header__private-link">Переводчики</a>		
	<div class="header__personal-block">
		<a href="#" class="notification"></a>
		<a href="#" class="message"></a>
		<a href="#" class="balance has-tooltip" data-tooltip="Баланс">1 243 <small>руб.</small></a>
		<span class="avatar-block">
			<i class="avatar"><img src="upload/avatar-1.jpg" height="46" width="46" alt=""></i>			
			<i class="btn-arrow"></i>
		</span>
		<div class="header__user-menu" style="display:none;">
			<a href="#">Мой профиль</a>
			<a href="#">Настройки</a>
			<a href="#">Выход</a>
		</div>
	</div>
	<div class="header__tenders">
		<a href="#">Мои тендеры</a>
		<a href="#">Поиск тендеров</a>
	</div>
		<div class="menu-btn has-tooltip" data-tooltip="Мои тендеры"><span></span></div>	
</header>