<div class="container" style="font-size: 14px;">
	<br><br><br><br>
	<p><a href="#exemplary-pop" class="fancybox">Типовой лайтбокс</a></p>		
	<p><a href="#original-text" class="fancybox">Исходник</a></p>
	<p><a href="#feedback-project" class="fancybox">Отзыв о переводчике</a></p>
	<p><a href="#refusal-tender" class="fancybox">Отказ от участия в тендере</a></p>
	<p><a href="#delet-tender" class="fancybox">Удаление тендера</a></p>
	<p><a href="#selection-translator" class="fancybox">Выбор переводчика и оплата тендера</a></p>	
	<p><a href="#selected-translator" class="fancybox">Переводчик выбран</a></p>
	<p><a href="#translation-completed" class="fancybox">Перевод готов!</a></p>
	<p><a href="#refill-balance" class="fancybox">Пополнение баланса -1</a></p>
	<p><a href="#tender-open" class="fancybox">Тендер открыт</a></p>
	<p><a href="#about-person" class="fancybox">Заказчик</a></p>
	<p><a href="#refill-balance-sum" class="fancybox">Пополнение баланса -2</a></p>
	<p><a href="#participate-tender" class="fancybox">Участие в тендере</a></p>
	<p><a href="#participate-tender2" class="fancybox">Участие в тендере -2 </a></p>
	<p><a href="#confirm-action" class="fancybox">Вы точно хотите совершить это действие?</a></p>
</div>

<!--lightboxes-->

<!--Типовой лайтбокс-->
	<div class="pop-box" id="exemplary-pop" style="display:none;">			
		<form accept-charset="utf-8" method="post" action="#">				
			<div class="form-block">					
				<div class="form-block__in">
					<h2>Заголовок</h2>
					<div class="form-block__row p-bot43">
						<label class="sum">Сумма</label>
						<input class="field" type="text"> 
						<span class="sum-unit">руб.</span>
						<span class="sum-info">Информация про комиссию</span>
					</div>
					<h3>Способы пополнения</h3>
					<div class="form-block__row">
						<label class="sum">Сумма</label>
						<input class="field" type="text"> 
						<span class="sum-unit">руб.</span>
						<span class="sum-info">Информация про комиссию</span>
					</div>
					<div class="form-block__row">
						<label class="sum">Сумма</label>
						<input class="field" type="text"> 
						<span class="sum-unit">руб.</span>
						<span class="sum-info">Информация про комиссию</span>
					</div>
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main">Подтвердить</button>
					</div>
				</div>					
			</div>
		</form>
	</div><!--/pop-box-->
<br><br><br><br>
<!--Исходник-->
	<div class="pop-box" id="original-text" style="display:none;">							
		<div class="form-block">
			<form accept-charset="utf-8" method="post" action="#">					
				<div class="form-block__in">
					<h2>Исходник</h2>						
					<div class="form-block__row">
						<label>Текст</label>
						<textarea cols="30" rows="10" class="h180"></textarea>						
					</div>
					<div class="form-block__row">
						<span class="label">Вы загрузили</span>
						<div class="form-block__radio-txt">
							<span class="radio-txt">
								<input type="radio" id="all-text" name="rdN">	
								<label for="all-text">Весь текст</label>
								<input type="radio" id="part-text" name="rdN">	
								<label for="part-text">Фрагмент</label>
							</span>	
						</div>																
					</div>						
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main">Отправить</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Отзыв о переводчике-->
	<div class="pop-box" id="feedback-project" style="display:none;">
		<div class="form-block">			
			<form accept-charset="utf-8" method="post" action="#">								
				<div class="form-block__in">
					<h2>Отзыв о переводчике</h2>					
					<div class="form-block__row">
						<span class="label m-top-m3">Переводчик</span>
						<div class="person-item">
							<div class="person-item__avatar"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></div>
							<div class="person-item__info">
								<h4>Константин Константинопович</h4>
								<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width: 80px;"></i></i><span>12 отзывов</span></div>
								<div class="person-item__lang">
									<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
									<div class="lang"><span>Английский</span><span>Русский</span></div>
								</div>								
							</div><!--/person-item__info-->
							<div class="person-item__bot">
								<span class="category ic-sci">Наука</span>
								<span class="category ic-med">Медицина</span>
								<span class="category ic-jur">Юриспруденция</span>
							</div>	
						</div><!--/person-item-->									
					</div><!--/form-block__row-->	
					<div class="form-block__row p-bot23">
						<span class="label m-top6">Ваша оценка</span>
						<i class="rating-2">
							<i class="star-5"></i>
						    <i class="star-4"></i>
						    <i class="star-3"></i>
						    <i class="star-2"></i>
						    <i class="star-1"></i>	    
						</i>
					</div><!--/form-block__row-->	
					<div class="form-block__row p-bot14">
						<label>Ваш отзыв</label>
						<textarea cols="30" rows="10" class="h120"></textarea>									
					</div><!--/form-block__row-->					
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main">Подтвердить</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Отказ от участия в тендере-->
	<div class="pop-box" id="refusal-tender" style="display:none;">
		<div class="form-block">	
			<form accept-charset="utf-8" method="post" action="#">									
				<div class="form-block__in">
					<h2>Отказ от участия в тендере</h2>
					<p class="form-block__info">Вы хотите отказаться от заказа на выполнение которого ранее дали согласие</p>
					<div class="form-block__row">
						<label>Пожалуйста, укажите причину</label>
						<textarea cols="30" rows="10" class="h122"></textarea>									
					</div>
					<p class="form-block__clarification">За отказ без уважительной причины  администрация сайта <br>может применить санкции. Подробнее: <a href="#" class="link link--dotted link--sm">Правила сайта</a></p>
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main">Отказаться</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->	
<br><br><br><br>
<!--Удаление тендера-->
	<div class="pop-box" id="delet-tender" style="display:none;">						
		<div class="form-block">
			<form accept-charset="utf-8" method="post" action="#">						
				<div class="form-block__in">
					<h2>Удаление тендера</h2>					
					<div class="form-block__row p-bot35">
						<label>Укажите причину удаления</label>
						<textarea cols="30" rows="10" class="h120"></textarea>									
					</div>					
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main">Отказаться</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->		
<br><br><br><br>
<!--Выбор переводчика и оплата тендера-->
	<div class="pop-box" id="selection-translator" style="display:none;">				
		<div class="form-block">
			<form accept-charset="utf-8" method="post" action="#">						
				<div class="form-block__in">
					<h2>Выбор переводчика и оплата тендера</h2>	
					<div class="form-block__row">
						<span class="label m-top-m3">Тендер</span>
						<div class="tender-item">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<h4>Перевод документов судебного процесса для паспорта</h4>	
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>							
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>									
							</div>	
						</div><!--/tender-item-->									
					</div><!--/form-block__row-->					
					<div class="form-block__row p-bot40">
						<span class="label m-top-m3">Переводчик</span>
						<div class="person-item2">
							<div class="person-item2__avatar-wrap">
								<div class="person-item2__avatar"><img src="upload/avatar-3.jpg" height="50" width="50" alt=""></div>
							</div>
							<div class="person-item2__info">
								<h4>Константин Константинопович</h4>
								<div class="person-item2__rating"><b>4,7</b><i class="rating"><i style="width: 80px;"></i></i><span>12 отзывов</span></div>	
								<p class="person-item2__offer">Предложение: <b>1 неделя</b> <b>52 500 руб.</b> </p>											
							</div><!--/person-item2__info-->							
						</div><!--/person-item2-->									
					</div><!--/form-block__row-->	
					<div class="form-block__row p-bot37">
						<span class="label">К оплате</span>
						<div class="form-block__payment-sum">52 500 руб.</div>
					</div><!--/form-block__row-->	
					<div class="form-block__row p-bot43">
						<span class="label m-top0">Вам доступно</span>
						<div class="form-block__payment-info"><b class="available">41 000 руб.</b> Для оплаты не хватает: <b>11 500 руб.</b> <a href="#"  class="btn-main2">Пополнить</a></div>
					</div><!--/form-block__row-->
					<div class="form-block__row safety">
						<span class="label form-block__safety">Сделка <br>без риска</span>
						<p class="form-block__safety-info">Следующим шагом заморозится сумма оплаты на вашем счёте. Переводчик узнает, что выбран и сможет приступить к переводу. Замороженная сумма будет списана и работа переводчика оплачена после того, как вы примете перевод.</p>			
					</div><!--/form-block__row-->					
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main">Подтвердить</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Переводчик выбран-->
	<div class="pop-box" id="selected-translator" style="display:none;">
		<div class="form-block">		
			<form accept-charset="utf-8" method="post" action="#">									
				<div class="form-block__in">
					<h2>Переводчик выбран</h2>	
					<div class="form-block__row info-about-sel">							
						<p>Вы выбрали переводчика.</p>
						<p>На вашем счету заморожено <b>2500 руб.</b></p>
						<p>Перевод будет готов к <b>24 апреля, 20:14</b></p>
					</div>
					<div class="form-block__row">
						<span class="label m-top-m3">Тендер</span>
						<div class="tender-item">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<h4>Перевод документов судебного процесса для паспорта</h4>			
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>							
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>									
							</div>	
						</div><!--/person-item-->									
					</div><!--/form-block__row-->					
					<div class="form-block__row p-bot26">
						<span class="label m-top-m3">Переводчик</span>
						<div class="person-item2">
							<div class="person-item2__avatar-wrap">
								<div class="person-item2__avatar"><img src="upload/avatar-3.jpg" height="50" width="50" alt=""></div>
							</div>
							<div class="person-item2__info">
								<h4>Константин Константинопович</h4>
								<div class="person-item2__rating"><b>4,7</b><i class="rating"><i style="width: 80px;"></i></i><span>12 отзывов</span></div>	
								<p class="person-item2__offer">Предложение: <b>1 неделя</b> <b>52 500 руб.</b> </p>											
							</div><!--/person-item2__info-->							
						</div><!--/person-item2-->									
					</div><!--/form-block__row-->	
					<div class="form-block__row p-bot26">
						<span class="label m-top0">Заморожено</span>
						<div class="form-block__payment-info"><b class="available">2 500 руб.</b></div>
					</div><!--/form-block__row-->							
					<div class="form-block__row">
						<span class="label m-top0">Вам доступно</span>
						<div class="form-block__payment-info"><b class="available">41 000 руб.</b></div>
					</div><!--/form-block__row-->										
					<div class="form-block__bot al-right">					
						<button  class="btn-add">Закрыть</button>							
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Перевод готов!-->
	<div class="pop-box" id="translation-completed" style="display:none;">	
		<div class="form-block">		
			<form accept-charset="utf-8" method="post" action="#">						
				<div class="form-block__in">
					<h2>Перевод готов!</h2>	
					<div class="form-block__row">							
						<p class="form-block__completed-info">Поздравляем — тендер успешно завершен. <br>Следующим шагом будет списана замороженная сумма с вашего счёта и работа переводчика будет оплачена. </p>
					</div>
					<div class="form-block__row p-bot21">
						<div class="form-block__completed-add-info">
							<b>3 дня на утверждение</b>
							Если спустя 3 дня после публикации перевода, вы&nbsp;не&nbsp;подтвердите готовность и не назначите правки, проект перейдет в «завершенные» автоматически. Переводчик получит оплату.
						</div>	
						<div class="form-block__completed-add-info">
							<b>Правки после утверждения</b>								
							Если позже  вы захотите внести правки, <br>то переводчик имеет право отказаться или согласиться за&nbsp;отдельную плату.
						</div>				
					</div><!--/form-block__row-->												
					<div class="form-block__bot al-right">					
						<button  class="btn-add">Отмена</button>
						<button  class="btn-main">Подтвердить</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Пополнение баланса-1-->
	<div class="pop-box" id="refill-balance" style="display:none;">	
		<div class="form-block">	
			<form accept-charset="utf-8" method="post" action="#">									
				<div class="form-block__in">
					<h2>Пополнение баланса</h2>						
					<div class="form-block__row">
						<p class="form-block__balance-info"><span>Ваш баланс пополнен</span><strong>+ 2 500 руб.</strong></p>
						<p class="form-block__balance-info"><span>Доступно</span>	<b>12 670 руб.</b></p>
					</div><!--/form-block__row-->														
					<div class="form-block__bot al-right">
						<a href="#" class="btn3 fl-left">К балансу</a>
						<a href="#"  class="btn3 fl-left">На главную</a>				
						<button  class="btn-add">Закрыть</button>							
					</div>
				</div>	
			</form>					
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Тендер открыт-->
	<div class="pop-box" id="tender-open" style="display:none;">
		<div class="form-block">			
			<form accept-charset="utf-8" method="post" action="#">								
				<div class="form-block__in">
					<h2>Тендер открыт</h2>	
					<div class="form-block__row">							
						<p class="form-block__completed-info p-bot10">Ваш тендер в списке открытых тендеров. <br>Переводчики могут просматривать его и откликаться.</p>
					</div>
					<div class="form-block__row">						
						<div class="tender-item to-left">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<h4>Перевод документов судебного процесса для паспорта</h4>					
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>					
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>									
							</div>	
						</div><!--/person-item-->									
					</div><!--/form-block__row-->												
					<div class="form-block__bot al-right">					
						<button class="btn-add">Закрыть</button>						
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Заказчик-->
	<div class="pop-box" id="about-person" style="display:none;">
		<div class="form-block">			
			<form accept-charset="utf-8" method="post" action="#">								
				<div class="form-block__in">
					<h2>Заказчик</h2>						
					<div class="form-block__row p-bot30">	
						<span class="label m-top0"><i class="label__avatar"><img src="upload/avatar-4.jpg" alt=""></i></span>						
						<div class="person-details">												
							<h3 class="person-details_name no-bord">Константин Константинопович</h3>	
							<p class="person-details__on-site">На сайте <b>2 года</b></p>					
						</div><!--/person-details-->									
					</div><!--/form-block__row-->	
					<div class="form-block__row p-bot30">	
						<span class="label bold m-top0">Тендеры</span>						
						<div class="person-details">													
							<div class="person-details__info">									
								<span class="processing">В работе <i>4</i></span>
								<span class="finished">Завершенных <i>14</i></span>				
							</div><!--/person-details__info-->						
						</div><!--/person-details-->									
					</div><!--/form-block__row-->	
					<div class="form-block__row p-bot30">	
						<span class="label bold m-top0">О себе</span>						
						<div class="person-details">														
							<p class="person-details__about">Имею большой опыт заказов письменных переводов. Приятный мужчина, с хорошим чувством юмора. Не было недовольных переводчиков. Сотрудничаю с издательством. Скоро выйдит новая серия книг с моим текстами зарубежных статей. </p>													
						</div><!--/person-details-->									
					</div><!--/form-block__row-->											
					<div class="form-block__bot al-right">					
						<button class="btn-add">Закрыть</button>						
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Пополнение баланса -2-->
	<div class="pop-box" id="refill-balance-sum" style="display:none;">
		<div class="form-block">		
			<form accept-charset="utf-8" method="post" action="#">									
				<div class="form-block__in">
					<h2>Пополнение баланса</h2>
					<div class="form-block__row p-bot53">
						<label class="sum">Сумма</label>
						<input class="field" type="text"> 
						<span class="sum-unit">руб.</span>
						<span class="sum-info">Информация про комиссию</span>
					</div>
					<h3 class="fz21 p-bot3">Способы пополнения</h3>
					<div class="form-block__row">
						<div class="form-block__payment-systems">
							<span><a href="#" class="paypal"></a></span>
							<span><a href="#" class="yandex"></a></span>							
							<span><a href="#" class="sviaznoy active"></a></span>
							<span><a href="#" class="euroset"></a></span>
							<span><a href="#" class="visa-mastercard"></a></span>
						</div>							
					</div>						
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main">Подтвердить</button>
					</div>
				</div>	
			</form>					
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Участие в тендере-->
	<div class="pop-box" id="participate-tender" style="display:none;">	
		<div class="form-block">		
			<form accept-charset="utf-8" method="post" action="#">								
				<div class="form-block__in">
					<h2>Участие в тендере</h2>
					<div class="form-block__row">
						<label>Стоимость</label>
						<input type="text" class="field w150"> 
						<span class="sum-unit">руб.</span>						
					</div>
					<div class="form-block__row p-bot26">
						<label>Срок в днях</label>
						<div class="plus-minus">
							<div class="in">
								<button class="plus-btn">+</button>
								<input type="text" value="1" class="plus-minus-value">
								<button class="minus-btn">&ndash;</button>
							</div>
						</div>						
					</div>
					<div class="form-block__row p-bot37">
						<a href="" class="link link--dotted">Добавить комментарий</a>
					</div>					
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main big">Участвовать в тендере</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Участие в тендере -2-->
	<div class="pop-box" id="participate-tender2" style="display:none;">							
		<div class="form-block">
			<form accept-charset="utf-8" method="post" action="#">					
				<div class="form-block__in">
					<h2>Участие в тендере</h2>
					<div class="form-block__row">
						<label>Стоимость</label>
						<input type="text" class="field w150"> 
						<span class="sum-unit">руб.</span>						
					</div>
					<div class="form-block__row p-bot26">
						<label>Срок в днях</label>
						<div class="plus-minus">
							<div class="in">
								<button class="plus-btn">+</button>
								<input type="text" value="1" class="plus-minus-value">
								<button class="minus-btn">&ndash;</button>
							</div>
						</div>						
					</div>
					<div class="form-block__row">
						<label>Комментарий</label>
						<textarea cols="30" rows="10" class="h122"></textarea>						
					</div>	
					<div class="form-block__row">
						<div class="form-block__templs">
							Шаблоны: 
							<a href="#" class="link--field">Для английского</a>
							<a href="#" class="link--field">На русский</a>
							<a href="#" class="link--field active">На болгарский с русского</a>
						</div>
					</div>					
					<div class="form-block__bot al-right">					
						<button class="btn-add">Отмена</button>
						<button class="btn-main big">Участвовать в тендере</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
<!--Вы точно хотите совершить это действие?-->
	<div class="pop-box" id="confirm-action" style="display:none;">
		<div class="form-block">		
			<form accept-charset="utf-8" method="post" action="#">									
				<div class="form-block__in">
					<h2>Вы точно хотите совершить это действие?</h2>									
					<div class="form-block__bot al-right no-bord">					
						<button class="btn-add">Нет</button>
						<button class="btn-main">Да</button>
					</div>
				</div>
			</form>						
		</div>			
	</div><!--/pop-box-->
<br><br><br><br>
