<div class="clearfix">
	<div style="float:left">
		<h4>Уведомления</h4>
		<div class="notifications">
			<div class="notice">
				<div class="notice__head">
					Сегодня, 7 августа
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив. 
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив.
				</div>
			</div>
		</div>
	</div>
	<div style="float:left; margin-left: 40px">
		<h4>Уведомления</h4>
		<div class="notifications">
			<div class="notice">
				<div class="notice__head">
					Сегодня, 7 августа
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив. 
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив.
				</div>
			</div>
			<div class="notice">
				<div class="notice__head">
					Вчера, 6 августа
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив. 
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив.
				</div>
			</div>
		</div>
	</div>
	<div style="float:left; margin-left: 40px">
		<h4>Уведомления</h4>
		<div class="notifications">
			<div class="notice">
				<div class="notice__head">
					Сегодня, 7 августа
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив. 
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив.
				</div>
			</div>
			<div class="notice">
				<div class="notice__head">
					5 августа
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив. 
				</div>
				<div class="notice__item ic_messages">
					5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков
				</div>
				<div class="notice__item ic_time">
					Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.
				</div>
				<div class="notice__item ic_tender">
					Срок тендера истек. Тендер перенесен в архив.
				</div>
			</div>
		</div>
	</div>
		<div style="float:left; margin-left: 40px">
			<h4>Уведомления</h4>
		<div class="notifications">
		<div class="notice notice--empty">
			<div class="notice__head">
				Нет новых уведомлений
			</div>
		</div>
	</div>
	</div>
</div>