<div style="width: 960px; margin: 0 auto;">
	<div class="listoftenders">
	<table class="listoftenders__table">
		<thead>
			<tr>
				<td>Статус</td>
				<td>Тендер</td>
				<td>Предложение</td>
				<td>Дата</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Выбрали вас</td>
				<td>
					<a href="#" class="listoftenders__link">Перевод для журнала «Оленеводство» 
					</a>
				</td>
				<td>3 дня  5 000 руб.</td>
				<td>Сегодня 14:29</td>
				<td>
					<button type="submit" class="listoftenders__btn">Отказаться</button>
				</td>
			</tr>
			<tr>
				<td>Выбрали
					<a href="#" class="listoftenders__linkname">
						Александра Александрова
					</a>
				</td>
				<td>
					<a href="#" class="listoftenders__link">
					Текст колонки в «New York <br> Times» </a>
				</td>
				<td>3 д.  5 000 руб.</td>
				<td>11 августа 12:67</td>
				<td></td>
			</tr>
			<tr>
				<td>Переводчик еще не выбран</td>
				<td>
					<a href="#" class="listoftenders__link">Описание на аглийском дизайн проектов на сайт агенства
					</a>
				</td>
				<td>3 дн. 5 000 руб.</td>
				<td>11 августа  12:67</td>
				<td>
					<button type="submit" class="listoftenders__btn">Отказаться</button>
				</td>
			</tr>
			<tr>
				<td>
					Выбрали
					<a href="" class="listoftenders__linkname">
						Александра Александрова
					</a>
				</td>
				<td>
					<a href="#" class="listoftenders__link">Текст колонки в «New York <br> Times» 
					</a>
				</td>
				<td>3 д.  5 000 руб.</td>
				<td>11 августа 12:67</td>
				<td></td>
			</tr>
			<tr>
				<td>Выбрали вас</td>
				<td>
					<a href="#" class="listoftenders__link">Перевод для журнала «Оленеводство» 
					</a>
				</td>
				<td>3 дн. 5 000 руб.</td>
				<td>5 августа 12:67</td>
				<td>
					<button type="submit" class="listoftenders__btn">Отказаться</button>
				</td>
			</tr>
			<tr>
				<td>Выбрали 
					<a href="#" class="listoftenders__linkname">Семена Семенова
					</a>
				</td>
				<td>
					<a href="#" class="listoftenders__link">Текст колонки в «New York Times» 
					</a>
				</td>
				<td>3 дн. 5 000 руб.</td>
				<td>11 августа 12:67</td>
				<td></td>
			</tr>
			<tr>
				<td>Переводчик еще не выбран</td>
				<td>
					<a href="#" class="listoftenders__link">Описание на аглийском концепциина сайт рекламного агенства
					</a>
				</td>
				<td>3 дн. 5 000 руб.</td>
				<td>11 августа  12:67</td>
				<td>
					<button type="submit" class="listoftenders__btn">Отказаться</button>
				</td>
			</tr>
			<tr>
				<td>Переводчик еще не выбран</td>
				<td>
					<a href="#" class="listoftenders__link">Описание на аглийском концепциина сайт рекламного агенства
					</a>
				</td>
				<td>3 дн. 5 000 руб.</td>
				<td>11 августа  12:67</td>
				<td>
					<button type="submit" class="listoftenders__btn">Отказаться</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>