<div class="form-narrow">
			<div class="form-narrow__item">
				<span class="form-narrow__head">Языковая пара</span>
				<form>
					<label class="form-narrow__label">Язык оригинала</label>
					<div class="form-narrow__langlist form-narrow__langlist--bgarrow">
						<div class="language">
							<div class="language__select">
								<span style="font-size: 14px; color: #afafaf;display: inline-block; padding-top: 14px;">Выбирите</span>
							</div>
							<div class="language__dropdown">
								<ul class="language__list">
									<li class="language__item"><a class="ic-af" href="#">Язык</a></li>
									<li class="language__item"><a class="ic-am" href="#">Язык</a></li>
									<li class="language__item"><a class="ic-se" href="#">Язык</a></li>
									<li class="language__item"><a class="ic-ht" href="#">Мексиканский</a></li>
									<li class="language__item"><a class="ic-ba" href="#">Мексиканский</a></li>
									<li class="language__item"><a class="ic-dk" href="#">Мексиканский</a></li>
									<li class="language__item"><a class="ic-de" href="#">Немецкий</a></li>
									<li class="language__item"><a class="ic-bd" href="#">Немецкий</a></li>
									<li class="language__item"><a class="ic-ee" href="#">Немецкий</a></li>
									<li class="language__item"><a class="ic-hu" href="#">Итальянский</a></li>
									<li class="language__item"><a class="ic-be" href="#">Итальянский</a></li>
									<li class="language__item"><a class="ic-es" href="#">Итальянский</a></li>
									<li class="language__item"><a class="ic-id" href="#">Финский</a></li>
									<li class="language__item"><a class="ic-bg" href="#">Финский</a></li>
									<li class="language__item"><a class="ic-fr" href="#">Финский</a></li>
									<li class="language__item"><a class="ic-ie" href="#">Португальский</a></li>
									<li class="language__item"><a class="ic-br" href="#">Португальский</a></li>
									<li class="language__item"><a class="ic-gb" href="#">Португальский</a></li>
									<li class="language__item"><a class="ic-il" href="#">Американский</a></li>
									<li class="language__item"><a class="ic-by" href="#">Американский</a></li>
									<li class="language__item"><a class="ic-ge" href="#">Американский</a></li>
									<li class="language__item"><a class="ic-is" href="#">Чешский</a></li>
									<li class="language__item"><a class="ic-ch" href="#">Чешский</a></li>
									<li class="language__item"><a class="ic-gr" href="#">Чешский</a></li>
									<li class="language__item"><a class="ic-it" href="#">Корейский</a></li>
									<li class="language__item"><a class="ic-cn" href="#">Корейский</a></li>
									<li class="language__item"><a class="ic-th" href="#">Корейский</a></li>
									<li class="language__item"><a class="ic-jp" href="#">Японский</a></li>
									<li class="language__item"><a class="ic-cz" href="#">Японский</a></li>
									<li class="language__item"><a class="ic-tr" href="#">Японский</a></li>
									<li class="language__item"><a class="ic-lv" href="#">Русский</a></li>
									<li class="language__item"><a class="ic-fi" href="#">Русский</a></li>
									<li class="language__item"><a class="ic-ua" href="#">Русский</a></li>
								</ul>
							</div>
						</div>
					</div>
					<label class="form-narrow__label">Язык перевода</label>
					<div class="form-narrow__langlist">
						<div class="language">
							<div class="language__select">
								<span style="font-size: 14px; color: #afafaf;display: inline-block; padding-top: 14px;">Выбирите</span>
							</div>
							<div class="language__dropdown">
								<ul class="language__list">
									<li class="language__item"><a class="ic-af" href="#">Язык</a></li>
									<li class="language__item"><a class="ic-am" href="#">Язык</a></li>
									<li class="language__item"><a class="ic-se" href="#">Язык</a></li>
									<li class="language__item"><a class="ic-ht" href="#">Мексиканский</a></li>
									<li class="language__item"><a class="ic-ba" href="#">Мексиканский</a></li>
									<li class="language__item"><a class="ic-dk" href="#">Мексиканский</a></li>
									<li class="language__item"><a class="ic-de" href="#">Немецкий</a></li>
									<li class="language__item"><a class="ic-bd" href="#">Немецкий</a></li>
									<li class="language__item"><a class="ic-ee" href="#">Немецкий</a></li>
									<li class="language__item"><a class="ic-hu" href="#">Итальянский</a></li>
									<li class="language__item"><a class="ic-be" href="#">Итальянский</a></li>
									<li class="language__item"><a class="ic-es" href="#">Итальянский</a></li>
									<li class="language__item"><a class="ic-id" href="#">Финский</a></li>
									<li class="language__item"><a class="ic-bg" href="#">Финский</a></li>
									<li class="language__item"><a class="ic-fr" href="#">Финский</a></li>
									<li class="language__item"><a class="ic-ie" href="#">Португальский</a></li>
									<li class="language__item"><a class="ic-br" href="#">Португальский</a></li>
									<li class="language__item"><a class="ic-gb" href="#">Португальский</a></li>
									<li class="language__item"><a class="ic-il" href="#">Американский</a></li>
									<li class="language__item"><a class="ic-by" href="#">Американский</a></li>
									<li class="language__item"><a class="ic-ge" href="#">Американский</a></li>
									<li class="language__item"><a class="ic-is" href="#">Чешский</a></li>
									<li class="language__item"><a class="ic-ch" href="#">Чешский</a></li>
									<li class="language__item"><a class="ic-gr" href="#">Чешский</a></li>
									<li class="language__item"><a class="ic-it" href="#">Корейский</a></li>
									<li class="language__item"><a class="ic-cn" href="#">Корейский</a></li>
									<li class="language__item"><a class="ic-th" href="#">Корейский</a></li>
									<li class="language__item"><a class="ic-jp" href="#">Японский</a></li>
									<li class="language__item"><a class="ic-cz" href="#">Японский</a></li>
									<li class="language__item"><a class="ic-tr" href="#">Японский</a></li>
									<li class="language__item"><a class="ic-lv" href="#">Русский</a></li>
									<li class="language__item"><a class="ic-fi" href="#">Русский</a></li>
									<li class="language__item"><a class="ic-ua" href="#">Русский</a></li>
								</ul>
							</div>
						</div>
					</div>
				</form>
			</div><!--/form-narrow__item-->	
			<div class="form-narrow__item">
				<span class="form-narrow__head">Исходник</span>
				<form>
					<span class="form-narrow__tittle">Количество символов</span>
					<label class="form-narrow__label">от</label>
					<input class="form-narrow__input" type="text" value="200">
					<label class="form-narrow__label">до</label>
					<input class="form-narrow__input form-narrow__input--mgn" type="text" value="2000">
					<span class="form-narrow__tittle form-narrow__tittle--bginf ">Тематика</span>
					<div class="form-narrow__categories">
							<div class="form-narrow__categories">
						<div class="categories">
							<div class="categories__select">
								<span style="line-height:48px; font-size: 16px;">Юриспруденция</span>
							</div>
							<div class="categories__dropdown">
							<ul class="categories__list">
								<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
								<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
								<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
								<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
								<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
								<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
								<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
								<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
								<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
								<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
								<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
								<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
								<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
							</ul>
							</div>
						</div>
					</div>
					</div>
				</form>
			</div>
			<div class="form-narrow__item">
				<span class="form-narrow__head">Условия</span>
				<form>
					<span class="form-narrow__tittle form-narrow__tittle--icclock ">Срок в днях</span>
					<label class="form-narrow__label">от</label>
					<input class="form-narrow__input" type="text" value="0">
					<label class="form-narrow__label">до</label>
					<input class="form-narrow__input form-narrow__input--mgn" type="text" value="20">
					<input class="form-narrow__btnsubmit" type="submit" value="Применить">
					<input class="form-narrow__btnreset" type="submit" value="Сбросить">
				</form>
			</div>			
</div>
	<br><br><br><br>
<div class="form-narrowlp">
	<div class="form-narrowlp__item">
		<span class="form-narrowlp__head">Языковая пара</span>
		<div class="form-narrowlp__langpairs">
			<div class="lang round">
				<span>Английский</span><span>Португальский</span><button class="del"></button>
			</div>
			<div class="lang round">
				<span>Русский</span><span>Португальский</span><button class="del"></button>
			</div>
			<div class="lang round">
				<span>Русский</span><span>Английский</span><button class="del"></button>
			</div>
		</div>
		<a href="#" class="form-narrowlp__btnplus"></a>
	</div>
	<div class="form-narrowlp__item">
			<span class="form-narrowlp__head">Исходник</span>
			<form>
				<span class="form-narrowlp__tittle">Количество символов</span>
				<label class="form-narrowlp__label">от</label>
				<input class="form-narrowlp__input" type="text" value="200">
				<label class="form-narrowlp__label">до</label>
				<input class="form-narrowlp__input form-narrowlp__input--mgn" type="text" value="2000">
				<span class="form-narrowlp__tittle form-narrowlp__tittle--bginf ">Тематика</span>
				<div class="form-narrowlp__categories">
					<div class="categories">
						<div class="categories__select">
							<span style="line-height:48px; font-size: 16px;">Юриспруденция</span>
						</div>
						<div class="categories__dropdown">
							<ul class="categories__list">
								<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
								<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
								<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
								<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
								<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
								<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
								<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
								<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
								<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
								<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
								<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
								<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
								<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="form-narrowlp__item">
			<span class="form-narrowlp__head">Условия</span>
			<form>
				<span class="form-narrowlp__tittle form-narrowlp__tittle--icclock ">Срок в днях</span>
				<label class="form-narrowlp__label">от</label>
				<input class="form-narrowlp__input" type="text" value="0">
				<label class="form-narrowlp__label">до</label>
				<input class="form-narrowlp__input form-narrowlp__input--mgn" type="text" value="20">
			</form>
		</div>	
</div>
	<br><br><br><br>
<div class="form-narrowlngcat">
	<div class="form-narrowlngcat__item">
		<span class="form-narrowlngcat__head">Языковая пара</span>
		<div class="form-narrowlngcat__langpairs">
			<div class="lang round">
				<span>Английский</span><span>Португальский</span><button class="del"></button>
			</div>
			<div class="lang round">
				<span>Русский</span><span>Португальский</span><button class="del"></button>
			</div>
			<div class="lang round">
				<span>Русский</span><span>Английский</span><button class="del"></button>
			</div>
		</div>
		<form>
			<label class="form-narrowlngcat__label">Язык оригинала</label>
			<div class="form-narrowlngcat__langlist form-narrowlngcat__langlist--bgarrow">
			<div class="language">
				<div class="language__select">
					<span style="font-size: 14px; color: #afafaf;display: inline-block; padding-top: 14px;">Выбирите</span>
				</div>
				<div class="language__dropdown">
					<ul class="language__list">
						<li class="language__item"><a class="ic-af" href="#">Язык</a></li>
						<li class="language__item"><a class="ic-am" href="#">Язык</a></li>
						<li class="language__item"><a class="ic-se" href="#">Язык</a></li>
						<li class="language__item"><a class="ic-ht" href="#">Мексиканский</a></li>
						<li class="language__item"><a class="ic-ba" href="#">Мексиканский</a></li>
						<li class="language__item"><a class="ic-dk" href="#">Мексиканский</a></li>
						<li class="language__item"><a class="ic-de" href="#">Немецкий</a></li>
						<li class="language__item"><a class="ic-bd" href="#">Немецкий</a></li>
						<li class="language__item"><a class="ic-ee" href="#">Немецкий</a></li>
						<li class="language__item"><a class="ic-hu" href="#">Итальянский</a></li>
						<li class="language__item"><a class="ic-be" href="#">Итальянский</a></li>
						<li class="language__item"><a class="ic-es" href="#">Итальянский</a></li>
						<li class="language__item"><a class="ic-id" href="#">Финский</a></li>
						<li class="language__item"><a class="ic-bg" href="#">Финский</a></li>
						<li class="language__item"><a class="ic-fr" href="#">Финский</a></li>
						<li class="language__item"><a class="ic-ie" href="#">Португальский</a></li>
						<li class="language__item"><a class="ic-br" href="#">Португальский</a></li>
						<li class="language__item"><a class="ic-gb" href="#">Португальский</a></li>
						<li class="language__item"><a class="ic-il" href="#">Американский</a></li>
						<li class="language__item"><a class="ic-by" href="#">Американский</a></li>
						<li class="language__item"><a class="ic-ge" href="#">Американский</a></li>
						<li class="language__item"><a class="ic-is" href="#">Чешский</a></li>
						<li class="language__item"><a class="ic-ch" href="#">Чешский</a></li>
						<li class="language__item"><a class="ic-gr" href="#">Чешский</a></li>
						<li class="language__item"><a class="ic-it" href="#">Корейский</a></li>
						<li class="language__item"><a class="ic-cn" href="#">Корейский</a></li>
						<li class="language__item"><a class="ic-th" href="#">Корейский</a></li>
						<li class="language__item"><a class="ic-jp" href="#">Японский</a></li>
						<li class="language__item"><a class="ic-cz" href="#">Японский</a></li>
						<li class="language__item"><a class="ic-tr" href="#">Японский</a></li>
						<li class="language__item"><a class="ic-lv" href="#">Русский</a></li>
						<li class="language__item"><a class="ic-fi" href="#">Русский</a></li>
						<li class="language__item"><a class="ic-ua" href="#">Русский</a></li>
					</ul>
				</div>
			</div>
			</div>
			<label class="form-narrowlngcat__label">Язык перевода</label>
			<div class="form-narrowlngcat__langlist">
				<div class="language">
					<div class="language__select">
						<span style="font-size: 14px; color: #afafaf;display: inline-block; padding-top: 14px;">Выбирите</span>
					</div>
					<div class="language__dropdown">
						<ul class="language__list">
							<li class="language__item"><a class="ic-af" href="#">Язык</a></li>
							<li class="language__item"><a class="ic-am" href="#">Язык</a></li>
							<li class="language__item"><a class="ic-se" href="#">Язык</a></li>
							<li class="language__item"><a class="ic-ht" href="#">Мексиканский</a></li>
							<li class="language__item"><a class="ic-ba" href="#">Мексиканский</a></li>
							<li class="language__item"><a class="ic-dk" href="#">Мексиканский</a></li>
							<li class="language__item"><a class="ic-de" href="#">Немецкий</a></li>
							<li class="language__item"><a class="ic-bd" href="#">Немецкий</a></li>
							<li class="language__item"><a class="ic-ee" href="#">Немецкий</a></li>
							<li class="language__item"><a class="ic-hu" href="#">Итальянский</a></li>
							<li class="language__item"><a class="ic-be" href="#">Итальянский</a></li>
							<li class="language__item"><a class="ic-es" href="#">Итальянский</a></li>
							<li class="language__item"><a class="ic-id" href="#">Финский</a></li>
							<li class="language__item"><a class="ic-bg" href="#">Финский</a></li>
							<li class="language__item"><a class="ic-fr" href="#">Финский</a></li>
							<li class="language__item"><a class="ic-ie" href="#">Португальский</a></li>
							<li class="language__item"><a class="ic-br" href="#">Португальский</a></li>
							<li class="language__item"><a class="ic-gb" href="#">Португальский</a></li>
							<li class="language__item"><a class="ic-il" href="#">Американский</a></li>
							<li class="language__item"><a class="ic-by" href="#">Американский</a></li>
							<li class="language__item"><a class="ic-ge" href="#">Американский</a></li>
							<li class="language__item"><a class="ic-is" href="#">Чешский</a></li>
							<li class="language__item"><a class="ic-ch" href="#">Чешский</a></li>
							<li class="language__item"><a class="ic-gr" href="#">Чешский</a></li>
							<li class="language__item"><a class="ic-it" href="#">Корейский</a></li>
							<li class="language__item"><a class="ic-cn" href="#">Корейский</a></li>
							<li class="language__item"><a class="ic-th" href="#">Корейский</a></li>
							<li class="language__item"><a class="ic-jp" href="#">Японский</a></li>
							<li class="language__item"><a class="ic-cz" href="#">Японский</a></li>
							<li class="language__item"><a class="ic-tr" href="#">Японский</a></li>
							<li class="language__item"><a class="ic-lv" href="#">Русский</a></li>
							<li class="language__item"><a class="ic-fi" href="#">Русский</a></li>
							<li class="language__item"><a class="ic-ua" href="#">Русский</a></li>
						</ul>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="form-narrowlngcat__item">
			<span class="form-narrowlngcat__head">Исходник</span>
			<form>
				<span class="form-narrowlngcat__tittle">Количество символов</span>
				<label class="form-narrowlngcat__label">от</label>
				<input class="form-narrowlngcat__input" type="text" value="200">
				<label class="form-narrowlngcat__label">до</label>
				<input class="form-narrowlngcat__input form-narrowlngcat__input--mgn" type="text" value="2000">
				<span class="form-narrowlngcat__tittle form-narrowlngcat__tittle--bginf ">Тематика</span>
				<div class="form-narrowlngcat__categories">
					<div class="categories">
						<div class="categories__select">
							<span style="line-height:48px; font-size: 16px;">Юриспруденция</span>
						</div>
						<div class="categories__dropdown">
							<ul class="categories__list">
								<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
								<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
								<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
								<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
								<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
								<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
								<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
								<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
								<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
								<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
								<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
								<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
								<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
	</div>
	<div class="form-narrowlngcat__item">
		<span class="form-narrowlngcat__head">Условия</span>
		<form>
			<span class="form-narrowlngcat__tittle form-narrowlp__tittle--icclock ">Срок в днях</span>
			<label class="form-narrowlngcat__label">от</label>
			<input class="form-narrowlngcat__input" type="text" value="0">
			<label class="form-narrowlngcat__label">до</label>
			<input class="form-narrowlngcat__input form-narrowlngcat__input--mgn" type="text" value="20">
		</form>
	</div>	
</div>
