<header class="header">
	<a href="#" class="header__logo">translate<span>market</span></a>
	<div class="header__enter-block">
		<a href="#" class="btn-enter">Вход</a>
		<span class="btn-reg">
			<button class="reg">Регистрация</button>				
			<button class="reg-translator">Переводчик</button>
			<button class="reg-client">Заказчик</button>				
		</span>
	</div>
	<nav class="header__nav">
		<a href="#">Как это работает</a>
		<a href="#">Поддержка</a>
		<a href="#">Перевод</a>
	</nav>		
</header>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<header class="header private">
	<a href="#" class="header__logo--private">translate<span>market</span></a>
	<a href="#" class="header__private-link">Переводчики</a>		
	<div class="header__personal-block">
		<a href="#" class="notification"></a>
		<a href="#" class="message"></a>
		<a href="#" class="balance">1 243 <small>руб.</small></a>
		<span class="avatar-block">
			<i class="avatar"><img src="upload/avatar-1.jpg" height="46" width="46" alt=""></i>			
			<i class="btn-arrow"></i>
		</span>
		<div class="header__user-menu" style="display:none;">
			<a href="#">Мой профиль</a>
			<a href="#">Настройки</a>
			<a href="#">Выход</a>
		</div>
	</div>
	<div class="header__tenders">
		<a href="#">Мои тендеры</a>
		<a href="#">Поиск тендеров</a>
	</div>
		<div class="menu-btn"><span></span></div>	
</header>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="footer">
	<div class="footer__copy">© 2015 <a href="#" class="footer__logo">translate<span>market</span></a></div>
	<div class="footer__manuzio">Сайт разработан в студии дизайна <a target="_blank" href="http://manuzio.ru/">Manuzio</a></div>
	<nav class="footer__nav">
		<a href="#">Как это работает</a>
		<a href="#">Поддержка</a>
		<a href="#">Перевод</a>
	</nav>
</footer>
<br><br><br><br><br><br><br><br>
<header class="header private">
	<a href="#" class="header__logo--private">translate<span>market</span></a>		
	<a href="#" class="header__private-link">Переводчики</a>		
	<div class="header__personal-block">
		<a href="#" class="notification"></a>
		<a href="#" class="message"></a>
		<div class="notification-up">
			<div class="notification-up__in">
				<p>Вас выбрали переводчиком</p>
				<a href="#" class="link link--sm">Перевод документов судебного процесса для паспорта</a>
				<span class="notification-up__date">Сегодня, 10:19</span>
			</div>
		</div><!--/notification-up-->
		<a href="#" class="balance">1 243 <small>руб.</small></a>
		<span class="avatar-block">
			<i class="avatar"><img src="upload/avatar-1.jpg" height="46" width="46" alt=""></i>			
			<i class="btn-arrow"></i>
		</span>
		<div class="header__user-menu" style="display:none;">
			<a href="#">Мой профиль</a>
			<a href="#">Настройки</a>
			<a href="#">Выход</a>
		</div>
	</div>
	<div class="header__tenders">
		<a href="#">Мои тендеры</a>			
	</div>
	<div class="menu-btn is-active"><span></span></div>
	<div class="drop-menu" style="display:block;">
		<div class="drop-menu__inner">
			<div class="drop-menu__top">					
				<span class="drop-menu__top-txt">Мои тендеры</span>
				<span class="drop-menu__top-links">						
					<a href="#" class="drop-menu__link processing">В работе<i>0</i></a>
					<a href="#" class="drop-menu__link approving">На утверждении<i>0</i></a>
					<a href="#" class="drop-menu__link finished">Завершенные<i>0</i></a>					
				</span>					
			</div><!--/drop-menu__top-->		
			<div class="drop-menu__list">					
				<p class="drop-menu__info">Вы ещё не участвуете ни в одном тендере</p>				
			</div><!--/drop-menu__list-->
		</div><!--/drop-menu__inner-->
	</div><!--/drop-menu-->
</header>	
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>	
<header class="header private">
	<a href="#" class="header__logo--private">translate<span>market</span></a>		
	<a href="#" class="header__private-link">Переводчики</a>		
	<div class="header__personal-block">
		<a href="#" class="notification"></a>
		<a href="#" class="message"></a>
		<a href="#" class="balance">1 243 <small>руб.</small></a>
		<span class="avatar-block">
			<i class="avatar"><img src="upload/avatar-1.jpg" height="46" width="46" alt=""></i>			
			<i class="btn-arrow"></i>
		</span>
		<div class="header__user-menu" style="display:none;">
			<a href="#">Мой профиль</a>
			<a href="#">Настройки</a>
			<a href="#">Выход</a>
		</div>
	</div>
	<div class="header__tenders">
		<a href="#">Мои тендеры</a>
		<a href="#">Поиск тендеров</a>
	</div>
	<div class="menu-btn is-active"><span></span></div>
	<div class="drop-menu" style="display:block;">
		<div class="drop-menu__inner">
			<div class="drop-menu__top">					
				<span class="drop-menu__top-txt">Мои тендеры</span>
				<span class="drop-menu__top-links">						
					<a href="#" class="drop-menu__link processing">В работе<i>2</i></a>
					<a href="#" class="drop-menu__link approving">На утверждении<i>2</i></a>
					<a href="#" class="drop-menu__link finished">Завершенные<i>2</i></a>						
				</span>					
			</div><!--/drop-menu__top-->		
			<div class="drop-menu__list">
				<div class="drop-menu__item  processing">
					<div class="drop-menu__item-in">
						<div class="drop-menu__item-top">
							<div class="lang">
								<span>Английский</span>
								<span>Русский</span>
							</div>
							<div class="drop-menu__item-mes"></div>
							<div class="drop-menu__item-avatar">
								<img src="upload/avatar-1.jpg" height="46" width="46" alt="">	
							</div>								
						</div>
						<div class="drop-menu__item-cont">
							<p>Перевод на несколько языков документов судебного процесса для паспорта очень длинных на несколько языков</p>
						</div>
						<div class="drop-menu__item-bot">
							<span class="category ic-jur">Юриспруденция</span>
							<span class="price"><b>41 000</b> руб.</span>
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>
						</div>
						<div class="status" style="width:20%"></div>
					</div>	
				</div><!--/drop-menu__item-->
				<div class="drop-menu__item processing">
					<div class="drop-menu__item-in">
						<div class="drop-menu__item-top">
							<div class="lang">
								<span>Английский</span>
								<span>Русский</span>
							</div>
							<div class="drop-menu__item-mes"></div>
							<div class="drop-menu__item-avatar">
								<img src="upload/avatar-1.jpg" height="46" width="46" alt="">	
							</div>								
						</div>
						<div class="drop-menu__item-cont">
							<p>Перевод на несколько языков документов </p>
						</div>
						<div class="drop-menu__item-bot">
							<span class="category ic-jur">Юриспруденция</span>
							<span class="price"><b>41 000</b> руб.</span>
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>
						</div>
						<div class="status" style="width:60%"></div>
					</div>	
				</div><!--/drop-menu__item-->
				<div class="drop-menu__item approving">
					<div class="drop-menu__item-in">
						<div class="drop-menu__item-top">
							<div class="lang">
								<span>Английский</span>
								<span>Русский</span>
							</div>
							<div class="drop-menu__item-mes"></div>
							<div class="drop-menu__item-avatar">
								<img src="upload/avatar-1.jpg" height="46" width="46" alt="">	
							</div>								
						</div>
						<div class="drop-menu__item-cont">
							<p>Перевод на несколько языков документов судебного процесса для паспорта очень длинных на несколько языков</p>
						</div>
						<div class="drop-menu__item-bot">
							<span class="category ic-jur">Юриспруденция</span>
							<span class="price"><b>41 000</b> руб.</span>
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>
						</div>
						<div class="status" style="width:80%"></div>
					</div>	
				</div><!--/drop-menu__item-->
				<div class="drop-menu__item approving">
					<div class="drop-menu__item-in">
						<div class="drop-menu__item-top">
							<div class="lang">
								<span>Английский</span>
								<span>Русский</span>
							</div>
							<div class="drop-menu__item-mes"></div>
							<div class="drop-menu__item-avatar">
								<img src="upload/avatar-1.jpg" height="46" width="46" alt="">	
							</div>								
						</div>
						<div class="drop-menu__item-cont">
							<p>Перевод на несколько языков документов судебного процесса для паспорта очень длинных на несколько языков</p>
						</div>
						<div class="drop-menu__item-bot">
							<span class="category ic-jur">Юриспруденция</span>
							<span class="price"><b>41 000</b> руб.</span>
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>
						</div>
						<div class="status" style="width:80%"></div>
					</div>	
				</div><!--/drop-menu__item-->
				<div class="drop-menu__item finished">
					<div class="drop-menu__item-in">
						<div class="drop-menu__item-top">
							<div class="lang">
								<span>Английский</span>
								<span>Русский</span>
							</div>
							<div class="drop-menu__item-mes"></div>
							<div class="drop-menu__item-avatar">
								<img src="upload/avatar-1.jpg" height="46" width="46" alt="">	
							</div>								
						</div>
						<div class="drop-menu__item-cont">
							<p>Перевод на несколько языков документов судебного процесса для паспорта очень длинных на несколько языков</p>
						</div>
						<div class="drop-menu__item-bot">
							<span class="category ic-jur">Юриспруденция</span>
							<span class="price"><b>41 000</b> руб.</span>
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>
						</div>
						<div class="status" style="width:100%"></div>
					</div>	
				</div><!--/drop-menu__item-->
				<div class="drop-menu__item finished">
					<div class="drop-menu__item-in">
						<div class="drop-menu__item-top">
							<div class="lang">
								<span>Английский</span>
								<span>Русский</span>
							</div>
							<div class="drop-menu__item-mes"></div>
							<div class="drop-menu__item-avatar">
								<img src="upload/avatar-1.jpg" height="46" width="46" alt="">	
							</div>								
						</div>
						<div class="drop-menu__item-cont">
							<p>Перевод на несколько языков документов судебного процесса для паспорта очень длинных на несколько языков</p>
						</div>
						<div class="drop-menu__item-bot">
							<span class="category ic-jur">Юриспруденция</span>
							<span class="price"><b>41 000</b> руб.</span>
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>
						</div>
						<div class="status" style="width:100%"></div>
					</div>	
				</div><!--/drop-menu__item-->
			</div><!--/drop-menu__list-->
		</div><!--/drop-menu__inner-->
	</div><!--/drop-menu-->
</header>	
	