<div class="container">
		<div style="margin: 100px 100px 20px">
			<span class="has-tooltip" data-style="tipLight"  data-placement="top" data-event="hover" data-tooltip="tooltip" >my awesome tooltip here</span>
			<span class="has-tooltip" data-style="tipDark"  data-placement="topLeft" data-event="hover" data-tooltip="tooltip" >my awesome tooltip here</span>
			<span class="has-tooltip" data-placement="top" data-event="hover" data-tooltip="my awesome tooltip" >my awesome  long long long long long long long long long tooltip here</span>
			<span class="has-tooltip" data-placement="top" data-tooltip="pure awesome" >tip</span>
		</div>
		<!-- <div style="margin: 20px 100px 0px">
			<span class="has-tooltip" data-placement="bottom" data-tooltip="my awesome tooltip" >my awesome tooltip here</span>
			<span class="has-tooltip" data-placement="bottom" data-tooltip="short tooltip" >my awesome long long long long long long long long long tooltip here</span>
			<span class="has-tooltip" data-placement="bottom" data-tooltip="long long long long long tooltip" >yay</span>
			
		</div>
	
		<div class="tooltips" style="margin: 100px">
			<span class="has-tooltip" data-placement="left" data-tooltip="my awesome tooltip" >my awesome tooltip here</span>
			<span class="has-tooltip" data-placement="right" data-tooltip="my awesome tooltip" >my awesome tooltip here</span>
		</div>
		<div class="tooltips" style="margin: 100px">
			<span class="has-tooltip" data-placement="left" data-tooltip="my long long long long long awesome tooltip" >my awesome tooltip here</span>
			<span class="has-tooltip" data-placement="right" data-tooltip="my long long long long long awesome tooltip" >my awesome tooltip here</span>
		</div>
	</div> -->
</div>