<div class="container">
	<div>
		<h2>Ссылки, пунктирные ссылки</h2>
		<div style="font-size: 16px">
			<a class="link" href="#">К поиску тендеров</a>
			<br><br>
			<a class="link link--dotted link--warr" href="#">Дополнительно: срок и описание</a>
		</div>
		<br><br>
		<div style="font-size: 14px">
			<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
		</div>
	</div>
	<div style="margin-top: 40px;font-size: 16px">
		<a href="#" class="link--status opened"><span>Открытые</span><i>2</i></a>
		<br><br>
		<a href="#" class="link--status processing"><span>В работе</span><i>1</i></a>
		<br><br>
		<a href="#" class="link--status approving"><span>На утверждении</span><i>0</i></a>
		<br><br>
		<a href="#" class="link--status finished"><span>Завершенные</span><i>12</i></a>
		<br><br>
		<a href="#" class="link--status all"><span>Все</span><i>12</i></a>
		<br>
		<br>
		<a href="#" class="link--status all link--upper"><span>Избранные</span><i>12</i></a>
	</div>
	<div style="margin: 40px 0">
		<h2>Табы</h2>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--opened tab__title--active"><span>Условия</span></a>
			<a href="#" class="tab__title tab__title--opened"><span>Участники<i>(2)</i></span></a>
			<a href="#" class="tab__title tab__title--opened tab__title--disabled"><span>Перевод</span></a>
		</div>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--processing"><span>Условия</span></a>
			<a href="#" class="tab__title tab__title--processing"><span>Перевод</span></a>
			<a href="#" class="tab__title tab__title--processing tab__title--disabled"><span>Перевод</span></a>
		</div>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--approving"><span>Условия</span></a>
			<a href="#" class="tab__title tab__title--approving"><span>Перевод</span></a>
			<a href="#" class="tab__title tab__title--approving tab__title--disabled"><span>Перевод</span></a>
		</div>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--finished"><span>Условия</span></a>
			<a href="#" class="tab__title tab__title--finished"><span>Перевод</span></a>
			<a href="#" class="tab__title tab__title--finished tab__title--disabled"><span>Перевод</span></a>
		</div>
		<h2>Табы у клиента</h2>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--opened">Участники</a>
		</div>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--processing">Диалог</a>
		</div>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--approving">Диалог</a>
		</div>
		<div class="tabs__head clearfix" style="margin-bottom: 20px">
			<a href="#" class="tab__title tab__title--finished">Диалог</a>
		</div>
	</div>
	<br><br>
	<h2>Загруженные файлы</h2>	
	<div style="font-size: 16px;">
		<span class="download-file">
			<a href="#" class="link--field"><span>For_translators.pdf</span></a>
			<button class="del"></button>
			<small>17 МБ</small>
		</span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="download-file">
			<a href="#" class="link--field"><span>For_translaрtors_the _most_long_headline_longheadline.pdf</span></a>
			<button class="del"></button>
			<small>17 МБ</small>
		</span>
	</div>
	<br><br>
	<h2>Тендер</h2>		
	<div style="font-size: 14px;width:631px">
		<div class="tender-item processing">							
			<div class="tender-item__info">
				<div class="lang"><span>Английский</span><span>Русский</span></div>
				<div class="price"><b>5000</b> руб.</div>
				<h4>Перевод документов судебного процесса для паспорта</h4>																
			</div><!--/tender-item__info-->							
			<div class="tender-item__bot">
				<span class="category ic-jur">Юриспруденция</span>									
				<span class="quantity"><b>5400</b> символов</span>				
				<div class="tender-item__avatar-block">
					<div class="ava ava--size31">
						<div class="ava__in">
							<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
						</div>
					</div>
					<a href="#" class="tender-item__mes"></a>
				</div>								
			</div>
			<div class="tender-item__status"><div class="status" style="width:60%"></div></div>	
			<div class="tender-item__progress">
				<span class="stade">Этап 1/3</span>
				<span class="standing" style="left:60%;">3 дня</span>
				<span class="residual">Осталось 1 д. 14 ч.</span>
			</div>
		</div><!--/tender-item-->	
	</div>
	<br><br><br><br>
	<div style="font-size: 14px;width:631px">
		<div class="tender-item opened">							
			<div class="tender-item__info">
				<div class="lang"><span>Английский</span><span>Русский</span></div>
				<div class="price"><b>5000</b> руб.</div>
				<h4>Перевод документов судебного процесса для паспорта</h4>
				<span class="card-menu-btn"><i></i></span>																
			</div><!--/tender-item__info-->							
			<div class="tender-item__bot">
				<span class="category ic-jur">Юриспруденция</span>									
				<span class="quantity"><b>5400</b> символов</span>				
				<div class="tender-item__avatar-block">				 	
					<a href="#" class="tender-item__mes">11</a> 
				</div>								
			</div>
			<div class="tender-item__status"><div class="status" style="width:30%"></div></div>					
		</div><!--/tender-item-->	
	</div>
	<br><br><br><br>
	<div style="font-size: 14px;width:631px">
		<div class="tender-item approving">							
			<div class="tender-item__info">
				<div class="lang"><span>Английский</span><span>Русский</span></div>
				<div class="price"><b>5000</b> руб.</div>
				<h4>Перевод документов судебного процесса для паспорта</h4>
				<span class="card-menu-btn"><i></i></span>															
			</div><!--/tender-item__info-->							
			<div class="tender-item__bot">
				<span class="category ic-jur">Юриспруденция</span>									
				<span class="quantity"><b>5400</b> символов</span>
				<span class="time"><b>14</b> дней</span>	
				<div class="tender-item__avatar-block">
				 	<div class="ava ava--size31">
						<div class="ava__in">
							<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
						</div>
					</div>
					<a href="#" class="tender-item__mes active"></a> 
				</div>								
			</div>
			<div class="tender-item__status"><div class="status" style="width:80%"></div></div>					
		</div><!--/tender-item-->	
	</div>
	<br><br><br><br>
	<div style="font-size: 14px;width:631px">
		<div class="tender-item finished">							
			<div class="tender-item__info">
				<div class="lang"><span>Английский</span><span>Русский</span></div>
				<div class="price"><b>5000</b> руб.</div>
				<h4>Перевод документов судебного процесса для паспорта</h4>
				<span class="card-menu-btn"><i></i></span>															
			</div><!--/tender-item__info-->							
			<div class="tender-item__bot">
				<span class="category ic-jur">Юриспруденция</span>									
				<span class="quantity"><b>5400</b> символов</span>
				<span class="time"><b>14</b> дней</span>	
				<div class="tender-item__avatar-block">
				 	<div class="ava ava--size31">
						<div class="ava__in">
							<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
						</div>
					</div>
					<a href="#" class="tender-item__mes active"></a> 
				</div>								
			</div>
			<div class="tender-item__status"><div class="status" style="width:100%"></div></div>					
		</div><!--/tender-item-->	
	</div>
	<br><br><br><br>
	<h2>Отзыв о переводчике (в лайт-боксах)</h2>		
	<div style="font-size: 14px;width:571px">
		<div class="person-item">
			<div class="person-item__avatar"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></div>
			<div class="person-item__info">
				<h4>Константин Константинопович</h4>
				<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
				<div class="person-item__lang">
					<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
					<div class="lang"><span>Английский</span><span>Русский</span></div>
				</div>								
			</div><!--/person-item__info-->
			<div class="person-item__bot">
				<span class="category ic-sci">Наука</span>
				<span class="category ic-med">Медицина</span>
				<span class="category ic-jur">Юриспруденция</span>
			</div>	
		</div><!--/person-item-->	
	</div>
	<br><br>	
	<h2>Переводчик (в лайт-боксах)</h2>
	<div style="font-size: 14px;width:571px">
		<div class="person-item2">
				<div class="person-item2__avatar-wrap">
					<div class="person-item2__avatar"><img src="upload/avatar-3.jpg" height="50" width="50" alt=""></div>
				</div>
				<div class="person-item2__info">
					<h4>Константин Константинопович</h4>
					<div class="person-item2__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>	
					<p class="person-item2__offer">Предложение: <b>1 неделя</b> <b>52 500 руб.</b> </p>											
				</div><!--/person-item2__info-->							
			</div><!--/person-item2-->
	</div>
	<br><br>
	<h2>Рейтинг "Ваша оценка"</h2>
	<i class="rating-2">
		<i class="star-5"></i>
    	<i class="star-4"></i>
    	<i class="star-3"></i>
   		<i class="star-2"></i>
    	<i class="star-1"></i>	    
	</i>
	<br><br>
	<h2>Блок переводчика</h2>
	<div>
		<div class="translator-block">
			<div class="translator-block__avatar-wrap">
				<div class="ava ava--size31">
					<a href="#" class="ava__in">
						<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
					</a>
				</div>
			</div>
			<div class="translator-block__info">
				<h5><a href="#">Константин Константинов</a></h5>
				<div class="translator-block__rating"><b style="display: none;">4,7</b><i class="rating-3" style="width: 0"></i><span>(0)</span></div>
			</div>
		</div>
		<br><br>
		<div class="translator-block">
			<div class="translator-block__avatar-wrap">
				<div class="ava ava--size31">
					<a href="#" class="ava__in">
						<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
					</a>
				</div>
			</div>
			<div class="translator-block__info">
				<h5><a href="#">Константин Константинов</a></h5>
				<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
			</div>
		</div>
		<br><br>
		<div class="translator-block">
			<div class="translator-block__avatar-wrap">
				<div class="ava ava--size31">
					<a href="#" class="ava__in">
						<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
					</a>
				</div>
			</div>
			<div class="translator-block__info">
				<h5><a href="#">Константин Константинов</a></h5>
				<div class="translator-block__rating"><b>2,1</b><i class="rating-3" style="width: 33px"></i><span>(12)</span></div>
			</div>
		</div>
		<br><br>
	</div>
	<br><br>
	<h2>Переводчики, с которыми вы работали</h2>
	<div style="font-size: 14px;width:751px">
		<div class="person-item">
			<a href="#" class="person-item__avatar"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a>
			<div class="person-item__grade">
				<span>Ваша оценка</span>
				<i class="rating-2">
					<i class="star-5"></i>
				    <i class="star-4"></i>
				    <i class="star-3"></i>
				    <i class="star-2"></i>
				    <i class="star-1"></i>	    
				</i>
			</div>	
			<div class="person-item__info--grade">
				<h4><a href="#">Константин Константинопович</a></h4>
				<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
				<div class="person-item__lang--grade">
					<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
					<div class="lang"><span>Английский</span><span>Русский</span></div>
				</div>
			</div><!--/person-item__info-->
			<div class="person-item__bot">
				<small>Еще (3)</small>
				<span class="category ic-sci">Наука</span>
				<span class="category ic-med">Медицина</span>
				<span class="category ic-jur">Юриспруденция</span>					
			</div>	
		</div><!--/person-item-->
		<br><br>
		<div class="person-item">
			<a href="#" class="person-item__avatar"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a>
			<div class="person-item__grade">
					<span>Ваша оценка</span>
					<i class="rating-2">
						<i class="star-5"></i>
					    <i class="star-4"></i>
					    <i class="star-3 active"></i>
					    <i class="star-2"></i>
					    <i class="star-1"></i>	    
					</i>
					<span class="vote">Отзыв</span>
				</div>	
			<div class="person-item__info--grade">
				<h4><a href="#">Константин Константинопович</a></h4>
				<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
				<div class="person-item__lang--grade">
					<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>					
				</div>
			</div><!--/person-item__info-->
			<div class="person-item__bot">				
				<span class="category ic-sci">Наука</span>
				<span class="category ic-med">Медицина</span>
				<span class="category ic-jur">Юриспруденция</span>					
			</div>	
		</div><!--/person-item-->
	</div>
	<br><br><br><br>
	<div class="ava ava--size31">
		<div class="ava__in">
			<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
		</div>
	</div>
	<div class="ava ava--size43">
		<div class="ava__in">
			<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
		</div>
	</div>
	<div class="ava ava--size46">
		<div class="ava__in">
			<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
		</div>
	</div>
	<div class="ava ava--size51 ava--online">
		<div class="ava__in">
			<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
		</div>
	</div>
	<div class="ava ava--size56">
		<div class="ava__in">
			<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
		</div>
	</div>
	<div class="ava ava--size70">
		<div class="ava__in">
			<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
		</div>
	</div>
	<div class="ava ava--size126">
		<div class="ava__in">
			<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
		</div>
	</div>
	<br><br><br>
	<div>
		<span class="rating-6__total">4.7</span><div class="rating-6"><i style="width: 80%"></i></div>
	</div>
	<br><br><br>
	<div style="margin: 50px">
		//= ../template/_search_bar.html
	</div>
	<div style="margin: 50px 50px 130px">
		<div class="search">
			<form>
				<input type="text" class="search__field focus" value="Перевод">
				<button class="search__btn"></button>
				<span class="search__over"></span>
			</form>			
			<div class="search__result" style="display: block;">
				<ul class="search__list">
					<li>Перевод документов поворто влево вправо</li>
					<li>Перевод домашних текстов</li>
					<li>Перевод догматов философов</li>
				</ul>
			</div>
		</div>		
	</div>
</div>
