<div class="container">
	<div class="msgpreviewwide">
		<div class="msgpreviewwide__item msgpreviewwide__item--approving">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch1"><label for="ch1">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text msgpreviewwide__text--arrowreply">Добрый день! Всю неделю ждал ваш перевод. Где он? Готов жаловаться...</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->
		<div class="msgpreviewwide__item msgpreviewwide__item--opened msgpreviewwide__item--new">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch2"><label for="ch2">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text">
					Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?
					</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->
		<div class="msgpreviewwide__item msgpreviewwide__item--approving ">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch3"><label for="ch3">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text msgpreviewwide__text--arrowreply">Добрый день! Всю неделю ждал ваш перевод. Где он? Готов жаловаться...</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->
		<div class="msgpreviewwide__item msgpreviewwide__item--finished ">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch4"><label for="ch4">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text msgpreviewwide__text--arrowreply">Добрый день! Всю неделю ждал ваш перевод. Где он? Готов жаловаться...</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->
		<div class="msgpreviewwide__item msgpreviewwide__item--approving ">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch5"><label for="ch5">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->
		<div class="msgpreviewwide__item msgpreviewwide__item--finished ">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch6"><label for="ch6">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text ">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->
		<div class="msgpreviewwide__item msgpreviewwide__item--approving ">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch7"><label for="ch7">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text ">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->
		<div class="msgpreviewwide__item msgpreviewwide__item--finished">
			<div class="msgpreviewwide__inborder">
				<div class="msgpreviewwide__wrapper ">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch8"><label for="ch8">
							</label>
						</div>
					</form>
				</div>
				<div class="msgpreviewwide__avatar">
					<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
				</div>
				
				<div class="msgpreviewwide__textwrapper ">
					<span class="msgpreviewwide__name">Иван Иванович</span>
					<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
					
					<span class="msgpreviewwide__text ">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
				</div>
				<div class="msgpreviewwide__timewrapper">
					<span class="msgpreviewwide__date">29 августа 2015</span>
					<span class="msgpreviewwide__time">01:03</span>
				</div>	
			</div>
		</div>
		<!-- /msgpreviewwide__item -->







	</div>
</div>