body.page-404	
	background: $color3
	header
		background: $color1
		margin: 0
.block-404
	text-align: center
	color: $color1
	padding: 100px 0 0 
	h2
		font-size: 200px
		line-height: 1
		font-family: 'pf_dintext_promedium', sans-serif
		font-weight: normal
	p 
		font-size: 26px
		padding: 0 0 50px
	.btn-back
		+btn(16px 0)	
		text-transform: uppercase
		line-height: 1
		color: $color1
		border-color: $color1
		font-size: 14px
		width: 270px
		text-align: center