%fz16db
	font-size: 16px
	display: block

.balance
	&__status
		margin: 0 0 61px
		padding: 0 0 26px
		width: 629px
		border-bottom: 1px solid $color10
		+clearfix		
	&__availablenum
		font-size: 36px
		font-weight: bold
		@extend .fl-left
		display: inline-block
		margin: 0 30px 0 0
	&__available
		@extend %fz16db
		font-weight: 400
		padding: 5px 0 0 2px
	&__freezednum
		font-size: 30px
		color: $color5
		display: inline-block
		margin: 0
		padding: 2px 0 0
	&__freezed
		@extend %fz16db
		margin: 0
		padding: 10px 0 0 2px
	&__tabhead
		margin: 0 0 32px
	&__link
		@extend .link--dotted
		@extend .link
		font-size: 16px
		font-weight: 400
		margin: 0 47px 0 0
		&--active
			color: $color18
			border: none
			&:hover 
				color: inherit
	&__tabcontent
		+clearfix
	&__table
		width: 629px
		box-sizing: border-box
		vertical-align: middle
		color: $color18
		float: left
		td:nth-child(1)
			width: 163px
			box-sizing: border-box
		td:nth-child(2)
			width: 300px
			box-sizing: border-box
		td:nth-child(3)
			width: 169px
			box-sizing: border-box
		thead tr
			background: #f5f5f5
			color: $color5
			font-size: 13px
			td 
				padding: 5px 0 9px 0
			td:nth-child(1)
				padding-left: 39px
			td:nth-child(3)
				padding-left: 15px
		tbody
			td
				padding: 19px 0 22px 0
				cursor: pointer
			tr:not(.balance__item--active)
				border-top: 1px solid $color10
				&:first-child
					border-top: 1px solid transparent
				&:last-child
					border-bottom: 1px solid $color10
				&:not(.balance__item--active):hover
					background: #f5f5f5
			td:nth-child(1)
				font-size: 13px
				padding-left: 26px
				span
					font-size: 18px
					line-height: 0
					color: inherit
			td:nth-child(2)
				font-size: 14px
				color: $color18
				padding-left: 2px
			td:nth-child(3)
				font-style: italic
				font-size: 13px
				color: $color5
				padding-left: 13px
	&__item
		&--refil
			color: $color22
		&--payment
			color: $color7
		&--active
			background: $color23
			border-top: 1px solid $color3
			border-bottom: 1px solid $color3

.paymentdetails
	float: left
	width: 277px
	box-sizing: border-box
	padding: 115px 0px 0px 0px
	margin: 0px 0px 0px 34px
	&__wrapper
		background: #f6f6f6
		padding: 29px 10px 25px 20px
	&__tittle
		font-size: 16px
		text-transform: uppercase
		display: inline-block
		margin: 0 0 15px
		letter-spacing: 1px
	&__status
		font-size: 18px
		color: $color18
		display: block
		margin: 0 0 16px 3px
	&__amount
		font-size: 24px
		font-weight: 700
		color: $color18
		display: block
		margin: 0 0 37px 2px
	&__inf
		font-size: 14px
		color: $color5
		display: block
		margin: 0 0 10px 4px
	&__infdata
		font-size: 16px
		color: $color18
		display: block
		margin: 0 0 37px 3px
	&__printlink
		@extend .link
		font-size: 14px
		margin: 0 0 0 4px