.btn
	+btn2(13px 2.1em)

.btn2	
	+btn3(13px 3.6em)

.btn3
	padding: 0
	margin: 0
	border: none
	outline: none
	font-weight: 700
	font-size: 14px
	color: $color3
	text-decoration: none
	background: transparent
	cursor: pointer
	&:hover
		color: $color12
	&.fz16
		font-size: 16px	

.btn-upload
	+btn-upload(5px, 12px 3.5em 13px 5.5em)
	&.disabled
		label
			background: #7ac9e8
			cursor: default

.btn-upload-sm
	+btn-upload(50%, 0)
	label
		width: 40px
		height: 40px
		&::before,
		&::after		
			left: 12px
			top: 19px
	&.disabled
		label
			background: #7ac9e8	
			cursor: default	

.btn-upload2
	+btn-upload(5px, 17px 32px 18px)
	label
		font-weight: 400
		text-transform: uppercase
		&::before,
		&::after		
			display: none
	&.disabled
		label
			background: #7ac9e8	
			cursor: default			

.btn-add-sm
	+btn-add(50%, 0)
	width: 40px
	height: 40px
	&::before,
	&::after		
		left: 12px
		top: 19px
	&.download-sm
		&:before
			width: 17px
			height: 22px
			background: transparent url(../images/svg/ic-arrow-down.svg) 0 0 no-repeat
			top: 9px
			left: 11px
			opacity: 1
		&::after
			display: none

.btn-add-ic
	+btn-add(5px, 12px 30px 13px 58px)
	text-decoration: none
	&::before,
	&::after		
		left: 30px

.btn-main
	+btn2(17px 3.6em 18px)
	text-transform: uppercase
	font-weight: 400
	&.big
		padding: 17px 5.9em 18px
	&.w260
		padding: 17px 0 18px
		width: 260px
		text-align: center
		
.btn-main2
	+btn2(13px 3.6em)	

.btn-main2-sm
	+btn2(11px 1.4em)

.btn-add
	+btn3(17px 3.6em 18px)	
	text-transform: uppercase
	font-weight: 400
	&.w260
		padding: 17px 0 18px
		width: 260px
		text-align: center

.btn-add2
	+btn3(17px 3.6em 18px)	
	text-transform: uppercase
	font-weight: 400
	color: $color5
	
.btn-main-big
	+btn2(17px 0 18px)
	text-transform: uppercase
	font-weight: 400
	width: 580px

.btn-participate
	+btn-participate(17px 5em 18px 6.9em)
	&--no
		padding: 17px 45px 18px
		background-image: none
	&--blue
		background-color: $color3
		border-color: $color3
		&:hover
			background-color: $color12
			border-color: $color12

.btn-close
	+btn-close($color3)

.btn-close2
	+btn-close($color2)	

.btn-close-sm
	position: relative
	display: inline-block
	width: 40px
	height: 40px
	+border-radius(50%) 
	background: $color1
	cursor: pointer
	border: 1px solid #bfbfbf
	box-sizing: border-box	
	&::before,&::after
		content: ""
		+position(absolute,19px null null 6px)
		width: 26px
		height: 1px
		background: #bfbfbf	
	&::before
		+transform-rotate(45deg)
	&::after
		+transform-rotate(-45deg)	
	&:hover
		background: $color3
		border-color: $color3
		opacity: 0.9				
		&::before,&::after
			background: $color1

.btn-reg
	position: relative
	width: 245px
	height: 50px	
	overflow: hidden 	
	+border-radius(5px)
	display: inline-block
	box-sizing: border-box
	.reg	
		width: 245px
		height: 50px	
		text-transform: uppercase
		color: $color1
		background: $color3			
		font-size: 14px
		border: none
		outline: none
		cursor: pointer	
		position: absolute
		top: 0
		left: 0
		z-index: 1
		&:hover
			background: $color12			
	.reg-translator,.reg-client
		z-index: 2
		transition: transform 0.4s ease-out 
		-webkit-transition: transform 0.4s ease-out			
		width: 122px
		height: 50px
		line-height: 50px
		font-weight: 700
		color: $color1
		background: $color3	
		font-size: 14px
		border: none
		outline: none
		cursor: pointer	
		&:hover
			background: $color12
	.reg-translator
		+position(absolute, 0 null null -122px)			
	.reg-client	
		+position(absolute, 0 -122px null null)	
	.reg-translator.is-visible
		+transform-translateX(122px)		
	.reg-client.is-visible
		+transform-translateX(-122px)	
.btn-enter
	+btn(16px 2em)	
	text-transform: uppercase
	line-height: 1	

.btn-delet
	width: 19px
	height: 18px
	background: url(../images/svg/ic-btn-delet.svg) 0 0 no-repeat
	border: none	
	margin: 0
	padding: 0
	display: inline-block

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover,
button:disabled,
button:disabled:hover,
input[type="submit"].disabled,
input[type="submit"].disabled:hover,
button.disabled,
button.disabled:hover
	background: #7ac9e8
	cursor: default

.card-menu-btn
	+position(absolute, 20px 20px null null)
	width: 40px
	height: 22px
	box-sizing: border-box
	border: 1px solid $color10
	+border-radius(3px)
	display: none
	cursor: pointer
	i 
		+position(absolute, 8px null null 17px)
		width: 5px
		height: 5px
		background: $color5
		+border-radius(50%)			
		&::before,
		&::after
			content: ""
			display: inline-block
			width: 100%
			height: 100%
			background: $color5
			+position(absolute, 0 null null 0)
			+border-radius(50%)
		&::before
			margin-left: -10px
		&::after
			margin-left: 10px
	&:hover
		background-color: $color23
		border-color: $color24

.card-menu
	+position(absolute, 20px 20px null null)
	height: 40px
	width: 40px	
	.card-menu-btn
		top: 0
		right: 0
	.mes-up
		display: none				
	&:hover
		.card-menu-btn
			background-color: $color23
			border-color: $color24
		.mes-up
			display: block

