input[type="checkbox"] + label,
input[type="radio"] + label	
	cursor: pointer
input[type="checkbox"],
input[type="radio"]
	display: none
	outline: none
input[type="checkbox"] + label
	display: inline-block
	height: 30px
	width: 30px
	box-sizing: border-box
	border: 1px solid #e1e1e1
	+border-radius(3px)
	background: #f8f8f8
	vertical-align: middle
	margin: -2px 5px 0 0
	cursor: pointer
	position: relative
	span
		font-size: 16px
		+position(absolute, 5px null null 46px)
		white-space: nowrap
input[type="checkbox"]:checked + label
	background: #f8f8f8 url(../images/svg/ic-check.svg) 3px 4px no-repeat
input[type="radio"] + label
	display: inline-block
	height: 25px
	width: 25px
	box-sizing: border-box
	border: 1px solid #e1e1e1
	+border-radius(50%)
	background: #f8f8f8
	vertical-align: middle
	margin: -2px 5px 0 0
	position: relative
	cursor: pointer
	&::after
		content: ""
		width: 7px
		height: 7px
		background: $color3
		+position(absolute, 8px null null 8px)
		+border-radius(50%)
		display: none
input[type="radio"]:checked + label
	&::after
		display: block

/*.. check-txt.. */		
.check-txt
	input[type="checkbox"] + label
		width: auto
		font-size: 16px
		color: $color3		
		background: $color1
		height: 50px			
		border: 1px dotted $color3	
		padding: 0 60px	
		line-height: 45px	
		+border-radius(25px)
		&.urgently
			background-image: url(../images/svg/ic-urgently.svg)
			background-repeat: no-repeat
			background-position: 58px 11px
			padding: 0 60px 0 87px
		&:hover			
			border-style: solid			
	input[type="checkbox"]:checked + label
		border-style: solid	
		background-color: $color23
		background-position: 58px -47px
		color: #000		
	input[type="checkbox"]:disabled + label
		border-color: $color11		
		background-position: 58px -47px
		color: $color11
		&:hover
			border-style: dotted		

/*.. radio-txt.. */
.radio-txt
	input[type="radio"] + label
		width: auto
		color: $color3		
		background: $color1
		height: 30px			
		border: 1px solid transparent	
		padding: 0 9px	
		line-height: 28px	
		+border-radius(15px)
		&:hover			
			color: $color12	
	input[type="radio"]:checked + label
		border-color: $color3
		background: $color23
		color: #000	
		&::after
			display: none

/*.. radio-txt-big.. */			
.radio-txt-big
	display: inline-block	
	+border-radius(5px)		
	input[type="radio"] + label
		width: auto
		color: $color3		
		background: $color1		
		height: 50px
		border-left: 0	
		border-top: 1px solid $color3	
		border-bottom: 1px solid $color3
		border-right: 1px solid $color3					
		padding: 0 25px
		margin: 0
		line-height: 48px		
		float: left
		+border-radius(0)
		&.urgently
			background: url(../images/svg/ic-urgently.svg) 25px 10px no-repeat
			padding: 0 25px 0 57px
		&:hover			
			color: $color12	
	input[type="radio"]:first-child + label	
		border-left: 1px solid $color3
		+border-radius-l(5px)
	input[type="radio"] + label:last-child		
		+border-radius-r(5px)
	input[type="radio"]:checked + label
		border-color: $color3
		background-color: $color23
		background-position: 25px -48px
		color: #000	
		&::after
			display: none
