.content-head
	width: 100%
	background: $color25	
	&__content
		padding: 43px 0 60px	
	&__lang
		+clearfix	
		padding: 0 0 17px
		&--move
			padding: 0 0 44px
		.lang
			font-weight: 700
			background: $color1
			border-color: $color25
			+border-radius(7px)
			span
				padding: 0 15px
			span:first-child::before
				border-color: transparent transparent transparent $color25
			span:first-child::after	
				right: 2px
	&__content-info
		color: $color1
		font-size: 16px
		h1
			margin: 0 0 41px
			vertical-align: bottom	
			span
				margin: 0 10px 0 0	
			.btn-delet
				vertical-align: bottom
				height: 24px
	&__stage-list
		counter-reset: li
		list-style: none
		margin: 0 0 17px -3px
		padding: 0 0 0 40px
		li
			padding: 10px 0 0 23px
			position: relative
			display: block
			&.to-down
				padding-top: 25px		
			&::before
				content: counter(li)
				counter-increment: li
				+position(absolute,2px null null -36px)
				width: 33px
				height: 33px
				line-height: 33px
				border: 1px solid $color1
				+border-radius(50%)
				text-align: center
				font-size: 18px 
			&.active::before
				background: $color1
				color: $color18 
			&.to-down::before
				top: 17px 
			&.not-counter
				margin-left: -40px
				padding-left: 4px	
				margin-top: -8px 
				&::before
					display: none				
			& b
				font-weight: 400
				font-size: 24px
				float: right
				margin: -5px -2px 0 0
				line-height: 1
			& span
				display: inline-block
				padding: 0 0 20px
				position: relative
				&::after
					content: ""
					+position(absolute, -3px -30px null null)
					width: 22px
					height: 18px 
					background: url(../images/svg/ic-check-white.svg) 0 0 no-repeat
					display: none
			&.active
				span
					&::after
						display: block
	&__btns
		+position(absolute,41px 77px null null)
		span
			color: $color1
			font-size: 16px
			margin: 0 13px 0 0
	.btn-close2
		+position(absolute,40px 0 null null)
	.btn-close
		+position(absolute,40px 0 null null)
	&.opened
		background: $color12
		.lang
			border-color: $color12
			span:first-child::before
				border-color: transparent transparent transparent $color12	

/*..progress-bar..*/
.progress-bar
	position: relative
	margin: 16px 0 3px
	&__doc
		width: 100%	
		height: 30px	
		+position(absolute, -30px null null 0)	
		i		
			+position(absolute,0 null null 0)
			width: 25px 
			height: 25px
			background: url(../images/svg/ic-doc.svg) 0 0 no-repeat
			z-index: 10
			&::after
				content: ""
				+position(absolute,null null -14px 8px)
				width: 1px
				height: 10px
				background: $color25				
			span
				font-size: 12px
				font-style: italic
				white-space: nowrap
				+position(absolute, null null -56px -42px)
				width: 100px
				text-align: center
				display: block	
	&__mes
		width: 100%	
		height: 30px	
		+position(absolute, -30px null null 0)	
		i		
			+position(absolute,0 null null -30px)
			width: 25px 
			height: 25px
			background: url(../images/svg/ic-mes2.svg) 0 0 no-repeat
			background-size: 22px			
			z-index: 10
			&::after
				content: ""
				+position(absolute,null null -14px 8px)
				width: 1px
				height: 10px
				background: $color12				
			span
				font-size: 12px
				font-style: italic
				white-space: nowrap
				+position(absolute, null null -56px -42px)
				width: 100px
				text-align: center
				display: block	
			strong
				+position(absolute, -2px -140px null null )
				font-size: 18px
				white-space: nowrap		
				line-height: 1
				font-style: normal
				font-weight: 400		
	&__line
		width: 100%
		height: 7px
		background: $color2
		+border-radius(3px)
		position: relative
		z-index: 9
		&.not-sel
			background: $color1
	&__line-progress
		+position(absolute,0 null null 0)
		+border-radius-l(3px)
		height: 7px
		&.opened
			background: $color6
		&.processing
			background: $color7
		&.approving
			background: $color8	
		&.not-sel
			background: $color3		
	&__info
		overflow: hidden
		padding: 9px 0 6px
	&__start
		float: left
		font-size: 12px
	&__end
		float: right
		font-size: 12px
	&__duration
		margin: 12px 0 0
		text-align: center
		display: block
		color: $color2
		font-size: 18px
		&--not-sel
			color: $color3





