.content
	padding: 43px 0 74px
	&.p-top0
		padding-top: 0
	&.m-top-m50
		margin-top: -50px
	&__title
		+clearfix
		width: 630px
		border-bottom: 1px solid $color10
		padding: 26px 0 30px
		&.no-bord
			border-bottom: 0
		h2
			float: left
			margin: 3px 18px 0 0
		.btn-add-sm
			float: left			
		.search
			float: right
	&__title--balance
		+clearfix
		width: 630px		
		padding: 26px 0 64px		
		h2
			float: left
			margin: 3px 21px 0 0
		.link-setting
			float: right
			margin: 5px 0 0 0
		.btn-main2
			float: left
			margin: 0 0 0 1px
			padding: 13px 2.1em
	&__title--dialog
		+clearfix
		width: 650px		
		padding: 26px 0 30px
	&__main
		+clearfix
	&__leftside
		width: 630px
		float: left
		&.wide
			width: 650px
			box-sizing: border-box
		&.bord
			border: 1px solid $color13
	&__tender-info
		font-size: 16px
		padding: 26px 0 31px
		margin: 0 0 41px
		border-bottom: 1px solid $color10
		.in
			margin: 0 -20px 0 0			
		.link--status
			margin: 0 32px 0 0
			&:last-child
				margin: 0
			&.active
				color: $color18
				span
					border-color: transparent
	&__tender-announce
		font-size: 16px
		text-align: center
		padding: 96px 0 0
		p
			font-size: 20px
			color: $color5
			padding: 0 0 26px
			.btn-main2
				padding: 13px 2,5em		
	&__tender-lists
		h3		
			margin: 0 0 27px
	&__tender-list
		padding: 0 0 6px
		.tender-item
			margin: 0 0 59px
		&.suit
			h3
				text-transform: uppercase
				margin: 0 0 41px
		.tender-list-date
			color: $color5			
			padding: 0 0 15px
			font-size: 13px
	&__rightside
		width: 280px
		float: right
		margin-top: -10px
		&.wide
			width: 290px
			box-sizing: border-box
		&.m-top0
			margin-top: 0
	.form-block
		margin-bottom: 110px
	&__translator-list
		font-size: 14px
		h2
			padding: 0 0 30px
		.person-item
			margin-bottom: 30px

/*...scrollbar customization...*/
.scroll-pane
	width: 648px 
	margin: 1px 0 0
	height: 693px	
	overflow: auto
.jspContainer:focus,
.jspScrollable:focus
	outline: none
	border: none
.jspTrack 
	background: $color1	
.jspDrag
	+border-radius(5px)
	background: $color14	
	+box-shadow(inset 0px 0px 1px 0px $color13)
.full
	.scroll-pane
		width: 938px

/*...dialog-links..*/
.dialog-links
	.link--notice
		margin-right: 62px

/*...dialog-head...*/
.dialog-head
	padding: 30px 30px 28px 45px
	background: $color14
	border-bottom: 1px solid $color13
	&__tender-status
		padding: 0 0 0 26px
		margin: -4px 0 0
		position: relative
		font-size: 16px
		span
			color: $color3
		i
			display: block
			+position(absolute, 5px null null -5px)
			width: 10px
			height: 11px
			background: $color6
			&::after
				content: ""
				+position(absolute,null null -5px 0)
				width: 0
				height: 0
				border-style: solid
				border-width: 5px 5px 0 0
				border-color: $color6 transparent transparent transparent
			&::before
				content: ""
				+position(absolute,null 0 -5px null)
				width: 0
				height: 0
				border-style: solid
				border-width: 0 5px 5px 0
				border-color: transparent  $color6 transparent transparent
		&.processing
			i
				background: $color7
				&::before
					border-color: transparent  $color7 transparent transparent
				&::after
					border-color: $color7 transparent transparent transparent
		&.approving
			i
				background: $color8
				&::before
					border-color: transparent  $color8 transparent transparent
				&::after
					border-color: $color8 transparent transparent transparent
		&.finished
			i
				background: $color9
				&::before
					border-color: transparent  $color9 transparent transparent
				&::after
					border-color: $color9 transparent transparent transparent

/*...circle-bar...*/
.circle-bar
	position: relative	
	text-align: center	
	padding-top: 140px
	width: 140px
	&__field
		+position(absolute, 0 null null 0)		
	&__txt
		padding-top: 20px			
		font-size: 14px
		color: $color5
		i 
			font-style: normal
			color: #515151
			font-size: 16px	
	input.knob
		color: #41b2de !important		
		font-family: 'pf_din_text_universalregular', arial, sans-serif !important
		font-weight: normal !important
		font-size: 60px !important
		margin-top: 35px !important
		height: 60px !important		
