.footer
	padding: 17px 2% 22px
	border-top: 1px solid $color10
	border-bottom: 1px solid $color10
	overflow: hidden
	font-size: 1.8em
	color: $color11
	margin-top: -80px	
	+position(relative,null null 0 0)
	&__copy
		float: left
		margin-top: 2px	
		width: 300px
		margin-left: -100%
		@media screen and (max-width: 1170px)	
			padding-left: 90px		
	&__logo
		+logo($color3,$color4)
		margin-left: 14px			
	&__manuzio
		float: left
		font-size: 0.78em	
		width: 370px
		margin-left: -370px			
		@media screen and (max-width: 1170px)		
			width: 100%
			text-align: center
			margin-left: 0
		a 
			color: $color3
			text-decoration: none	
			background: url(../images/svg/manuzio.svg) 0 0 no-repeat
			display: inline-block
			padding: 10px 0 5px 35px
			margin: 0 0 0 5px	
			font-size: 1.286em	
			&:hover
				color: $color6	
	&__wrap
		width: 100%
		float: left				
	&__nav
		text-align: center
		margin: 10px 300px 0	
		@media screen and (max-width: 1170px)	
			margin-right: 0
			text-align: right	
		a
			text-decoration: none
			color: $color11
			margin: 0 32px
			position: relative						
			&:hover
				color: $color2
			&::after
				content: ""
				width: 5px
				height: 5px
				background: $color11
				+position(absolute,10px null null -34px)
				+border-radius(50%)	
			&:first-child
				margin-left: 0				
			&:first-child::after
				display: none
			&:last-child
				margin-right: 70px	
				@media screen and (max-width: 1170px)	
					margin-right: 32px	







