.form-block
	font-size: 14px
	h2
		font-size: 28px
		line-height: 34px
		margin: -10px 0 31px
		padding: 0 0 32px
		border-bottom: 1px solid $color13		
	h4
		padding: 0 0 0 140px
		font-size: 1.14em
	&__in
		border: 1px solid $color13
		padding: 40px 40px 30px
		&.round
			+border-radius(5px)
	&__section
		padding: 0 0 20px
		margin: 0 0 20px
		border-bottom: 1px solid $color13
		&.last
			border-bottom: 0
	&__row	
		padding: 0 0 19px
		+clearfix
		&.p-bot14
			padding-bottom: 14px
		&.p-bot21
			padding-bottom: 21px	
		&.p-bot23
			padding-bottom: 23px
		&.p-bot26
			padding-bottom: 26px
		&.p-bot30
			padding-bottom: 30px		
		&.p-bot35
			padding-bottom: 35px
		&.p-bot37
			padding-bottom: 37px
		&.p-bot40
			padding-bottom: 40px
		&.p-bot43
			padding-bottom: 43px
		&.p-bot53
			padding-bottom: 53px		
		label,
		.label
			width: 140px
			float: left
			margin-top: 16px			
			&.bold
				font-weight: 700
			&.m-top-m3
				margin-top: -3px
			&.m-top0
				margin-top: 0
			&.m-top6
				margin-top: 6px
			&.m-top10
				margin-top: 10px	
			&.w-auto
				width: auto
				margin-right: 15px				
		.label
			&__avatar
				display: block
				width: 126px
				height: 126px
				+border-radius(50%)
				overflow: hidden
				margin: -3px 0 0 -9px
			&.tooltip-info				
				.mark-qu
					right: 42px
		.check-btn
			height: 40px
			display: block
			label
				width: 30px
		.radio-btn
			height: 35px
			display: block
			label
				width: 25px
		&--upload
			padding-top: 10px
			.label
				margin-top: 30px
		input.field		
			+input-txt(280px,50px)			
			float: left	
			&.w150
				width: 150px
			&.w270
				width: 270px	
			&.w340
				width: 340px			
			&.w580
				width: 580px	
			&:focus
				border-color: $color3
				background: #fff						
		textarea
			+input-txt(580px,130px)	
			padding-top: 10px
			resize: vertical
			&:focus
				border-color: $color3
				background: #fff
			&.h100
				height: 100px
			&.h120
				height: 120px
			&.h122
				height: 122px
			&.h160
				height: 160px
			&.h180
				height: 180px	
		.language
			float: left
		.language__dropdown
			z-index: 10
		.categories
			float: left
		.categories__dropdown
			z-index: 10
		.note
			font-size: 14px
			color: $color11
			display: block
			padding: 15px 0 0 140px
			clear: left
	&__row.error
		.field
			border-color: $color15
			background: $color14
	&__row.two-el
		margin-right: -10px
		.field
			margin-right: 30px
		.field:last-child
			margin-right: 0
		.language-source
			padding-right: 59px
			background: url(../images/svg/ic-arrow.svg) 96% 53% no-repeat		
	&__row.time-complete
		.plus-minus
			float: left
			margin-right: 5px
		.radio-txt
			float: left
			margin: 13px 0 0
	&__language-pairs
		float: left
		position: relative
		padding: 0 60px 10px 0
		.lang		
			clear: left	
			margin: 10px 0 0	
			.del
				height: 25px
				background-position: 50% 9px	
				margin: 0 5px 0 -5px
		.btn-add-sm
			+position(absolute,null 4px 8px null)		
	&__bot
		padding: 30px 0 0
		margin: 11px 0 0
		border-top: 1px solid $color13
		&.no-bord
			border: none
		.agree-block
			margin: -14px 0 30px 140px
			text-align: left
			a 
				font-weight: 400
	&__conditions
		padding: 0 0 30px
		span
			font-size: 18px
			margin: 0 15px
			&.tooltip-info
				.mark-qu
					top: -1px
					right: -43px
					width: 22px
					height: 22px
					line-height: 22px
					font-size: 18px
	&__payment-sum
		padding: 0 0 0 140px
		font-weight: 700
		font-size: 2.14285em /* 30px/14px */
	&__payment-info
		padding: 0 0 0 140px
		position: relative
		b
			font-size: 1.14285em /* 16px/14px */
			margin: 0 0 0 5px
		.available
			margin: 0 45px 0 0
		.btn-main2
			+position(absolute, -9px 0 null null)
			padding: 13px 0
			width: 156px
			text-align: center
	&__row.safety		
		border-top: 1px solid $color13
		padding: 35px	0 26px		
	&__safety
		padding: 59px 43px 0 0
		background: url(../images/svg/ic-safety.svg) 20px 0 no-repeat	
		text-align: center
		color: $color3
		font-weight: 700
		box-sizing: border-box
	&__safety.label
		margin-top: -7px		
	&__safety-info
		padding: 0 100px 0 140px
		line-height: 1.5
	&__row.info-about-sel
		border-bottom: 1px solid $color13
		padding: 0 0 28px 62px	
		margin: -6px 0 30px	
		font-size: 1.4285em /* 20px/14px */
		position: relative
		line-height: 1.4
		p
			padding: 0
		&::before
			content: ""
			+position(absolute, 6px null null 0) 
			background: url(../images/svg/ic-check.svg) 50% 50% no-repeat
			width: 38px
			height: 38px
			border: 2px solid $color3
			+border-radius(50%)
	&__completed-info
		font-size: 1.4285em /* 20px/14px */
		padding: 0 0 26px
		line-height: 1.4
		margin-top: -7px
		&.p-bot10
			padding-bottom: 10px
	&__completed-add-info
		font-size: 1.14285em /* 16px/14px */
		line-height: 1.5
		border-left: 3px solid $color3
		padding: 0 220px 0 20px
		margin-bottom: 16px
		b 
			display: block
			line-height: 1
			padding: 0 0 4px
	&__balance-info
		font-size: 1.4285em /* 20px/14px */
		padding: 0 0 36px
		&:last-child
			padding: 0 0 69px
		span
			display: inline-block
			width: 248px
		strong
			font-size: 1.5em /* 30px/20px */
			color: $color22
	.btn3.fl-left
		margin: 15px 50px 0 0		
	&__payment-systems
		margin: 0 -24px -37px
		span
			margin: 0 24px 30px	
			display: inline-block
			&::hover
				background-color: $color14
			&.active
				background-color: $color23	
		a
			box-sizing: border-box
			+border-radius(5px)
			border: 1px solid $color13
			display: inline-block
			height: 65px			
			&.paypal
				background: url(../images/paypal.png) 50% 50% no-repeat
				width: 140px
			&.yandex
				background: url(../images/yandex-money.png) 50% 50% no-repeat
				width: 221px
			&.sviaznoy
				background: url(../images/sviaznoy.png) 50% 50% no-repeat
				width: 189px
			&.euroset
				background: url(../images/euroset.png) 50% 50% no-repeat
				width: 230px
			&.visa-mastercard
				background: url(../images/visa-mastercard.png) 50% 50% no-repeat
				width: 189px
			&:hover
				background-color: $color14
			&.active			
				background-color: $color23
	&__radio-txt
		display: inline-block
		padding: 11px 0 4px	
	&__templs
		margin-left: 140px		
	.link--warr 
		font-size: 16px
		margin-top: 6px
	.btn-upload-sm
		label
			width: 40px
			margin: 0	
	.btn-upload
		label		
			width: auto
			margin: 0	
	&__upload-block
		float: left
		position: relative
		.upload-box
			.btn-upload
				label							
					padding: 12px 3.8em 13px 5.7em
			.btn-upload-sm
				float: none
				+position(absolute,15px 30px null null)	
	&.setting
		.form-block__in
			padding: 40px 30px 30px
		label
			width: 160px
		h4
			padding: 0 0 12px 160px			
		.subtitle
			padding: 0 0 30px 160px
			font-size: 20px
			line-height: 1
		.check-btn
			label
				width: 30px
		.radio-btn
			label
				width: 25px	
		.check-section
			padding-left: 160px
		.radio-txt-section	
			padding: 13px 0 7px 208px
		.form-block__templs
			margin: -12px 160px -9px 150px
			padding: 11px 80px 10px 0
			position: relative	
			.btn-delet
				background-position: 0 -33px
				+position(absolute,21px 78px null null)				
			.btn-add-sm
				+position(absolute,9px 0 null null)
			.link--field2				
				margin: 0 13px 0 0
		.btn-main-big
			margin-left: 160px

/*...passw...*/		
.passw
	position: relative
	& i
		cursor: pointer
		+position(absolute, 0 13px null null)
		background: url(../images/svg/ic-eye.svg) 0px 21px no-repeat
		display: inline-block
		border: none
		outline: none
		padding: 0
		margin: 0
		width: 40px
		height: 50px
		cursor: pointer		
.passw.see 
	i
		background-position: 0 -46px

/*...plus-minus...*/		
.plus-minus
	vertical-align: top
	border: 1px solid $color3
	+border-radius(5px)
	overflow: hidden
	display: inline-block
	background: $color1
	.in
		display: table
		font-size: 0
	button
		float: left
		width: 50px 
		height: 47px 
		font-size: 32px 
		line-height: 1 
		background: transparent
		border: 0
		margin: 0
		padding: 0	
		color: $color3
		cursor: pointer
		outline: none
		&:hover
			color: $color12
input.plus-minus-value
	float: left			
	width: 52px	
	height: 50px	
	font-size: 14px 
	color: #444 
	padding: 0 
	margin: 0				 
	text-align: center 				
	border-left: 1px solid $color3
	border-right: 1px solid $color3
	background: $color14
	border-top: 0
	border-bottom: 0 
	outline: 0 
	+border-radius(0)

.form-vote
	background: $color14	
	margin: -4px 0 0
	&__in
		padding: 18px 20px 42px 26px
	h3
		margin: 0 0 22px
	&__row
		padding: 0 0 19px
	&__or
		display: inline-block
		margin: 0 0 12px
		color: $color5
	&__info
		font-size: 14px
		line-height: 18px


/*...form-narrow....*/
.form-narrow
	&__main-title
		padding: 36px 0 10px
		&.move
			margin: -82px 0 3px
	&__head
		display: block
		font-size: 14px
		color: #000000
		line-height: 30px
		text-transform: uppercase
		letter-spacing: 1px
		margin-bottom: 17px
	&__section
		border-top: 1px solid $color10
		padding-bottom: 41px
	&__row
		+clearfix
		margin-right: -1px
		&--pbot
			padding-bottom: 19px
	&__label
		font-size: 14px
		color: #afafaf
		display: inline-block
		margin: 0 0 14px
	&__langlist
		padding: 0
		margin: 0
		.language__dropdown
			z-index: 1000
		.language__select
			padding: 0 21px 0 19px
		&--bgarrow
			background: url(../images/svg/ic-arrow-fatdown.svg) 125px 60px no-repeat
			background-size: 22px
			padding: 0 0 36px
	&__title
		font-size: 14px
		line-height: 30px
		color: $color11
		padding-left: 30px
		background: url(../images/svg/ics-2.svg) 1px 6px no-repeat
		margin-bottom: 11px
		display: block
		&--icclock
			background-position: 1px -54px
		&--bginf
			background: url(../images/svg/ic-inf-gr.svg) 1px 4px no-repeat
			background-size: 21px
	&__input
		+input-txt(100px, 40px)
		margin: 0px 25px 36px 5px
		font-size: 18px
		line-height: 24px
		padding: 7px 5px 7px 10px
		&:focus
			border-color: $color3
			background: #fff
		&--mgn
			margin: 0px 0px 0px 5px
	&__categories
		.categories__select
			width: 280px
			box-sizing: border-box
			padding: 0 5px 0 16px
		.categories__dropdown
			width: 280px
			box-sizing: border-box
			z-index: 1000
	&__btnsubmit
		@extend .btn-main
		padding: 13px 27px 14px 28px
		text-transform: none
		letter-spacing: 1px
	&__btnreset
		@extend .link
		border: none
		outline: none
		background: none
		margin-left: 12px
		font-size: 16px
	&__btnplus
		@extend .btn-add-sm
		margin-bottom: -5px
	&__langpairs
		margin-bottom: 16px
		+clearfix
		.del
			height: 26px
			background-position: 50% 10px
		.lang
			margin: 3px 0	




	
