/*....Formstyler Select....*/
.jq-selectbox
	width: 150px
	color: $color3		
	background: $color1		
	height: 50px
	border-left: 0	
	border-top: 1px solid $color3	
	border-bottom: 1px solid $color3
	border-right: 1px solid $color3					
	padding: 0 25px
	margin: 0
	line-height: 48px		
	float: left	
	box-shadow: none
	box-sizing: border-box
	z-index: 100 !important
	+border-radius(5px)	
	&.select-last
		+border-radius(0)
		+border-radius-r(5px)	
.jq-selectbox__select
	width: 107px
	padding: 0 !important
	background: transparent
	border: 0
	+border-radius(0)
	box-shadow: none
	height: 48px
	text-shadow: none
	color: $color3
	font-size: 16px
.jq-selectbox__select:hover
	background: transparent
.jq-selectbox__select:active
	background: transparent
	box-shadow: none
.jq-selectbox.focused,
.jq-selectbox.opened
	background: $color23	
.jq-selectbox.focused .jq-selectbox__select
	border: 0
.jq-selectbox.disabled .jq-selectbox__select 
	border: 0
	background: transparent
	box-shadow: none
	color: $color3
.jq-selectbox__trigger
	border: 0
	background: transparent
	right: -1px
	top: 1px
	width: 26px
	height: 46px	
.jq-selectbox__trigger-arrow 	
	+position(absolute,20px 8px null null)
	width: 10px
	height: 10px
	border: 0
	background: transparent
	border-right: 2px solid $color3
	border-bottom: 2px solid $color3
	margin: -5px 0 0 -5px
	transform: rotate(45deg)
	opacity: 1
	filter: alpha(opacity=100)	
.jq-selectbox__select-text
	margin: 0
	line-height: 48px
.jq-selectbox.opened  .jq-selectbox__trigger 
	background: transparent
	border: 0
.jq-selectbox.opened .jq-selectbox__trigger-arrow 
	&::before		
		transform: rotate(-45deg)
.jq-selectbox__dropdown 
	height: auto
	top: 49px
	left: -1px
	padding: 7px 0 5px
	width: 151px !important	
	box-shadow: none
	border: 1px solid $color3
	border-top-color: transparent
	+border-radius-b(5px)
	+border-radius-t(0)
	font-size: 13px
	z-index: 90 !important	
.jq-selectbox__dropdown ul
	max-height: 1000px !important
	z-index: 90 !important		
.jq-selectbox li 
	padding: 5px 10px 5px
	color: $color18
	white-space: pre-wrap !important
.jq-selectbox li.selected 
	background: transparent 
	color: $color3
.jq-selectbox li:hover
	background: transparent
	color: $color3
.jq-selectbox.dropup.opened .jq-selectbox__dropdown
	border-bottom-color: transparent
	border-top-color: $color3	
	+border-radius-t(5px)
	+border-radius-b(0)
	padding: 5px 0 7px