.header
	+box-shadow(0px 8px 14px 0px rgba(0, 0, 0, 0.1), 0px -3px 9px 0px rgba(0, 0, 0, 0.1))
	font-size: 1.6em
	padding: 10px 30px		
	position: relative
	z-index: 200
	+clearfix
	&__logo
		+logo($color3,$color4)	
		float: left
		margin: 4px 0 0	
		@media screen and (max-width: 1170px)
			display: none	
	&__logo--sm
		+logo($color3,$color4)	
		float: left
		margin: 4px 0 0			
		display: none
		&:hover
			color: $color4
		@media screen and (max-width: 1170px)
			display: inline-block					
	&__enter-block
		float: right
		.btn-reg
			margin:  0 0 0 25px	
		.btn-enter
			float: left		
	&__nav
		margin: 13px 0 0
		text-align: center
		a
			color: $color2
			text-transform: uppercase
			text-decoration: none
			margin: 0 15px
	&.private
		background: $color2
		color: $color1	
		padding: 8px 44px	5px 87px
		position: relative
	&__logo--private
		+logo($color3,$color1)
		float: left	
		margin: 4px 0 0
		position: relative		
		&:hover span
			color: $color3
		@media screen and (max-width: 1170px)
			display: none			
	&__logo--private-sm
		+logo($color3,$color4)	
		float: left
		margin: 4px 0 0			
		display: none
		&:hover
			color: $color1
		@media screen and (max-width: 1170px)
			display: inline-block					
	&__private-link
		@extend %link-color1			
		font-size: 18px
		position: relative
		padding: 0 0 0 53px
		margin: 13px 0 0		
		float: left
		@media screen and (max-width: 1170px)	
			padding: 0 0 0 40px
		&:before
			content: ""
			width: 5px
			height: 5px
			background: $color1
			+border-radius(50%)
			+position(absolute, 8px null null 28px)
			@media screen and (max-width: 1170px)	
				left: 20px	
	&__user-menu
		+position(absolute,65px 5px null null)
		+border-radius(5px)
		+box-shadow(0px 3px 2px 0px rgba(0, 0, 0, 0.1))
		padding: 9px 25px 9px 20px
		background: #f6f6f6	
		z-index: 100
		border: 1px solid $color10		
		a
			display:  block
			color: $color3
			text-decoration: none	
			font-size: 0.875em
			font-weight: 700
			line-height: 1.9	
			&:hover
				color: $color6
		&::before
			content: ""
			background: #f6f6f6
			+position(absolute,-7px 52px null null)
			width: 12px
			height: 12px
			border-top: 1px solid $color10
			border-left: 1px solid $color10
			transform: rotate(45deg)					
	&__tenders
		text-align: center
		margin: 14px 0 0
		font-size: 18px
		a
			@extend %link-color1
			margin: 0 0 0 40px
			white-space: nowrap	
			&:first-child
				margin: 0
		@media screen and (max-width: 1170px)	
			text-align: left
			padding-left: 220px
			a
				margin-left: 20px
				position: relative
				&:before
					content: ""
					width: 5px
					height: 5px
					background: $color1
					+border-radius(50%)
					+position(absolute, 8px null null -15px)

	&__personal-block	
		float: right
		+clearfix
		.notification, .message
			float: left
			margin: 1px 20px 0 0
		.notification
			+header-round-icon(svg/ics-1,0,-27px)	
			&:hover::before
				background-position: -30px -27px			
		.message
			+header-round-icon(svg/ics-1,1px,3px)		
			&:hover::before
				background-position: -29px 3px
		.avatar-block
			cursor: pointer		
		.balance
			@extend %link-color1
			float: left				
			margin: 6px 21px 0 5px		
			font-size: 1.5em
			small
				font-size: 0.75em		
		.avatar
			float: left
			display: inline-block
			width: 45px
			height: 45px
			border: 1px solid $color1
			+border-radius(50%)
			overflow: hidden		
			img
				display: block

/*... menu-btn ...*/											
.menu-btn
	+position(absolute,0 null null 0)
	width: 60px
	height: 100%
	overflow: hidden
	background: $color1
	cursor: pointer	
	span 
		+position(absolute,29px 15px null 15px)
		height: 2px
		background: $color2
		&::before,&::after
			content: ""
			+position(absolute,-10px null null 0)
			width: 100%
			height: 2px
			background: $color2
		&::after
			top: 10px		
	&:hover
		background: $color3
		span
			background: $color1 
			&::before,&::after
				background: $color1
	&.is-active
		background: #676673
		span
			background: transparent
			&::before			
				top: 0
				background: $color1
				+transform-rotate(45deg)
			&::after			
				top: 0
				background: $color1
				+transform-rotate(-45deg)	

/*... btn-arrow ...*/							 
.btn-arrow
	width: 44px
	height: 100%
	+position(absolute,0 0 null null)	
	&::before
		content: ""
		+position(absolute,50% null null 50%)
		width: 10px
		height: 10px
		border-right: 1px solid $color1
		border-bottom: 1px solid $color1
		margin: -5px 0 0 -5px
		transform: rotate(45deg)
	&:hover::before	
		border-color: $color3
.active
	.btn-arrow
		&::before
			border-color: $color3
.avatar-block:hover
	.btn-arrow
		&::before
			border-color: $color3

/*... notification-up ...*/
.notification-up
	+position(absolute,60px 153px null null)
	font-size: 14px
	width: 342px
	z-index: 200
	color: $color18
	padding: 7px 0 0	
	&__in
		padding: 28px 58px		
		+border-radius(5px)
		background: $color14 url(../images/svg/ic-mes.svg) 20px 30px no-repeat
	p
		padding: 0 0 5px
	.link
		margin: 0 0 11px
		display: inline-block
	&__date
		display: block
		font-style: italic
		color: $color5
		font-size: 12px
	&::before
		content: ""
		+triangle-top(7px,7px,$color14)
		+position(absolute, 0 null null 50%)
		margin-left: -7px			

/*... drop-menu ...*/								
.drop-menu
	+position(absolute,60px null null 0)
	background: $color25
	width: 100%
	&__inner
		padding: 42px 0	23px 60px
	&__top
		color: $color1			
		width: 100%	
		margin-bottom: 40px
		+clearfix		
		&-txt
			font-size: 1.5em
			padding: 0 33px 0 0		
		&-links			
			@media screen and (max-width: 1100px)
				display: block
	&__link
		color: $color1
		display: inline-block
		padding: 0 2.8% 0 0		
		text-decoration: none
		i 
			+border-radius(12px)
			display: inline-block
			padding: 4px 8px
			margin: 0 0 0 10px
			font-style: normal	
			line-height: 1
			font-size: 14px		
		&.opened i
			background: $color6		
		&.processing i
			background: $color7
		&.approving i
			background: $color8
		&.finished i
			background: $color9
	&__list
		margin: 0 20px 0 -14px			
		@extend %display-flex 
	&__info
		color: #acaabf
		margin: 25px 0 29px 13px	
		font-size: 1.25em
	&__item
		width: 49%		
		margin: 0 0 29px 1%	
		background: $color1
		+border-radius(6px)
		box-sizing: border-box
		position: relative
		@media screen and (min-width: 1200px)
			width: 32.3333%			
		@media screen and (min-width: 1600px)
			width: 24%					
		&-in
			padding: 20px 25px 101px
		&-top
			overflow: hidden					
		&-mes
			width: 26px
			height: 24px
			float: right
			margin: 3px 10px 0		
			background: url(../images/svg/ic-mes.svg) 0 0 no-repeat 
			position: relative
			&::before
				content: ""	
				+position(absolute,-3px 0 null null)	
				width: 10px
				height: 10px
				+border-radius(50%)	
				background: $color3
				display: none
			&.active::before
				display: block	
			b 
				color: #000
				font-weight: 400
				+position(absolute,-3px null 0 -20px)
		&-avatar
			float: right
			width: 32px
			height: 32px
			+border-radius(50%)
			overflow: hidden				
			img
				width: 100%
				height: auto
		&-cont
			color: $color2
			font-size: 1.125em			
			color: #000		
		&-bot 
			color: $color5
			font-size: 0.875em
			width: 100%
			+position(absolute,null null 28px 0)
			display: inline			
			span
				display: inline-block
				width: 49%
				box-sizing: border-box
				padding: 10px 0 2px 60px
				position: relative
				vertical-align: top	
				& b
					font-size: 1.14em	
					font-weight: normal
					color: #000	
				&::before
					content: ""
					width: 30px
					height: 25px
					background: url(../images/svg/ics-2.svg) 0 0 no-repeat
					+position(absolute,5px null null 20px)				
				&.price
					&::before
						background-position: 9px -23px
				&.quantity
					&::before
						background-position: 5px 7px
				&.time
					&::before
						background-position: 10px -52px
				&.category						
					&::before
						width: 32px
						height: 30px
						background: url(../images/svg/ics-specialization.svg) 0 0 no-repeat						
					&.ic-games::before
						background-position: 0 -5px	
					&.ic-tech::before
						background-position: 0 -41px	
					&.ic-lit::before
						background-position: 0 -78px				
					&.ic-mob::before
						background-position: 0 -112px
					&.ic-sci::before
						background-position: 0 -147px
						top: -4px
					&.ic-med::before
						background-position: 0 -185px		
					&.ic-docs::before
						background-position: 0 -219px			
					&.ic-jur::before
						background-position: 0 -256px	
					&.ic-tour::before
						background-position: 0 -292px
					&.ic-it::before
						background-position: 0 -328px	
					&.ic-ads::before
						background-position: 0 -363px	
					&.ic-fin::before
						background-position: 0 -401px				
					&.ic-pol::before
						background-position: 0 -435px	


