/*...person-details...*/						
.person-details	
	h3
		font-size: 2em /* 28px/14px */	
		margin: 0 
		padding: 6px 0 17px
	&__on-site
		color: $color5
		b
			color: #000
			font-weight: normal
			margin: 0 0 0 13px
	&__info
		font-size: 1.14285em /* 16px/14px */	
		span
			padding: 0 20px 0 0
			i 
				+border-radius(12px)
				display: inline-block
				padding: 4px 10px
				margin: 0 0 0 10px			
				line-height: 1
				font-style: normal
				font-weight: 700
				color: $color1
				font-size: 0.875em /* 16px/14px */
			&.opened i
				background: $color6		
			&.processing i
				background: $color7
			&.approving i
				background: $color8
			&.finished i
				background: $color9	
	&__about
		font-size: 1.14285em /* 16px/14px */	
		line-height: 1.5
		padding: 0 100px 7px 0
	
			
/*..pop-box..*/		
.pop-box
	width: 780px
	.form-block	
		h2
			font-size: 28px
			line-height: 30px
			margin: 0 0 30px
			padding: 0 0 26px
			border-bottom: 1px solid $color13
		h3
			margin: 0 0 30px
			padding: 0 0 13px
			border-bottom: 1px solid $color13	
			&.no-bord
				border: none
			&.fz21
				font-size: 1.5em /* 21px/14px */
			&.p-bot3
				padding-bottom: 3px	
		&__in
			padding: 24px 27px 20px	30px
			border: none		
		&__row
			label.sum
				width: 65px
			.sum-unit
				float: left
				margin: 16px 86px 0 10px
			.sum-info
				float: left
				margin: 16px 0 0
				color: $color5
				width: 250px
			input.field
				width: 270px
				&.w150
					width: 150px					
		&__bot
			button
				margin: 0 0 0 10px
		&__info
			padding: 0 0 21px 0
			margin: -5px 0 0
			font-size: 1.4286em /*20px/14px*/
		&__clarification
			padding: 0 0 19px 140px
			color: $color11
		.person-item,
		.person-item2,
		.tender-item,
		.person-details	
			margin: 0 0 0 141px
		.tender-item h4,
		.person-item2 h4
			padding: 0
		.person-item h4			
			padding: 0 0 1px
		.tender-item
			padding: 16px 10px 10px 29px			