.about-project
	&__title
		color: $color1
		background: $color27
		text-align: center
		position: relative
		padding: 61px 0 85px 
		overflow: hidden
		width: 100%
		&:before,
		&:after
			content: " "
			display: block
			height: 100%
			position: absolute
			top: 0
		&:before
			width: 378px
			left: 50%
			margin-left: -896px
			background: url(../images/svg/main_graph-11.svg) 0 50%/372px 356px no-repeat
		&:after
			width: 444px
			right: 50%
			margin-right: -932px
			background: url(../images/svg/main_graph-12.svg) 0 50%/444px 330px no-repeat
		h1
			font-size: 62px
			text-transform: uppercase
			margin-bottom: 34px
			letter-spacing: 0.02em
		p
			font-size: 21px
			margin: 0 17px 13px
			line-height: 1.6

	&__summary
		color: $color1
		background: $color28
		font-size: 18px
		+clearfix
.summary	
	&__item
		width: 25%
		float: left
		text-align: center
		padding-top: 45px
		padding: 45px 0 63px 0 
	&__number
		display: block
		width: 100%
		font-size: 62px
		font-weight: bold
		
		margin-bottom: 23px
		&:after
			content: " "
			display: block
			width: 90px
			height: 2px
			background: $color1
			margin: 13px auto 0
.about-project__advantages
	color: $color29
	padding: 46px 0 39px 0
	h1
		text-align: center
		font-size: 46px
		font-weight: normal
		margin-bottom: 81px
.advantage
	&__item
		position: relative
		margin-bottom: 84px
		&:after
			content: ""
			display: block
		&--speed:after
			width: 310px
			height: 171px
			+position(absolute, 0px null null -76px)
			background: url(../images/svg/main_graph-02.svg) 0 0/100% 100% no-repeat
		&--comfort:after
			width: 232px
			height: 168px
			+position(absolute, 0px 51px null null)
			background: url(../images/svg/main_graph-03.svg) 0 0/100% 100% no-repeat
		&--quality:after
			width: 273px
			height: 198px
			+position(absolute, -19px null null 20px)
			background: url(../images/svg/main_graph-10.svg) 0 0/100% 100% no-repeat
		&--time:after
			width: 220px
			height: 150px
			+position(absolute, 17px 35px null null)
			background: url(../images/svg/main_graph-04.svg) 0 0/100% 100% no-repeat
	&__text
		&--right
			margin-left: 320px
		&--left
			width: 620px
		h2
			font-size: 32px
			font-weight: normal
			margin-bottom: 21px
		p
			color: $color4
			font-size: 16px
			line-height: 26px

.process__title
	background: $color30
	color: $color1
	padding: 61px 0 85px 
	h1
		text-align: center
		font-size: 62px
		text-transform: uppercase
		margin-bottom: 34px
.how_it_works.process__title
	padding: 61px 0 34px
	h1
		margin-bottom: 30px
		
.process
	&__standards
		+clearfix
	&__standard
		text-align: center
		width: 300px
		margin: 0 10px
		box-sizing: border-box
		float: left
		padding-top: 208px
		position: relative
		&--protection:before
			content: " "
			width: 180px
			height: 179px
			+position(absolute, 0px null null 49px)
			background: url(../images/svg/main_graph-07.svg) 0 0 no-repeat
		&--structure:before
			content: " "
			width: 260px
			height: 140px
			+position(absolute, 29px null null 27px)
			background: url(../images/svg/main_graph-08.svg) 0 0 no-repeat
		&--docs:before
			content: " "
			width: 147px
			height: 216px
			+position(absolute, -19px null null 56px)
			background: url(../images/svg/main_graph-09.svg) 0 0 no-repeat
		&:last-child
			margin-right: 0
		&:first-child
			margin-left: 0
		h4
			font-size: 18px
			font-weight: bold
			text-transform: none
		p
			font-size: 16px
			line-height: 1.65
.process__slider
	padding: 135px 0
.process-slide
	color: $color29
	+clearfix
	&__image
		width: 380px
		height: 280px
		box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.45)
		transition: background-position 2s linear 0s
		&--tender
			background: url(../images/sreenshots/create_tender.jpg) center top/1200px auto no-repeat
		&--choose
			background: url(../images/sreenshots/choose_translator.jpg) center top/1200px auto no-repeat
		&--chat
			background: url(../images/sreenshots/chat_messenger.jpg) center top/1200px auto no-repeat
		&:hover
			background-position: center bottom
			transition: background-position 5s linear 0s
		&--left
			float: left
			margin-top: 5px
			margin-left: 0px 
		&--right
			float: right
			margin-top: 5px
			margin-right: 0px
	&__content
		padding-top: 5px
		font-size: 16px
		&--right
			margin-left: 430px 
		&--left
			margin-right: 450px
	&__number
		font-size: 42px
		line-height: 1
		display: block
		text-align: center
		padding: 12px 0
		background: url(../images/svg/ic-marker-circle-green.svg) 0 0 no-repeat
		width: 68px
		margin-bottom: 25px
		&--right
			margin-left: -11px
	&__title
		font-size: 26px
		line-height: 1.4
	p
		color: $color5
		line-height: 1.65
		
.main-promo
	overflow: hidden
	position: relative
	// &--eng
	// 	background: url(../images/bg-paper-formain.jpg) 0 0 repeat
	&--fr
		background-color: #fdc6cc
	&__pic
		+position(absolute, 0 50% nullnull)
		transform: translateX(-50%)
		// height: 100%
		// width: auto
		// min-width: 100%
	&__text
		padding-top: 185px
		padding-bottom: 50px
	&__title
		text:
			align: center
			transform: uppercase
		font:
			family: $din-comp
			weight: 400
			size: 94px
		line-height: 1.1
		margin-bottom: 33px
	&__description
		text-transform: uppercase
		text-align: center
		font-size: 25px
		line-height: 39px
		margin-bottom: 22px
	&__arrow
		width: 28px
		height: 16px
		margin: 0 auto
		display: block
		background: url(../images/svg/ic-arrow-down-formain.svg) 0 0 no-repeat
.main-steps
	padding: 59px 0 51px 0
	&--bg-gr
		background-color: $color31
	&--bgcats
		background:
			image: url(../images/bg-formain.jpg)
			position: 50% 100%
			repeat: no-repeat
	&--bgman
		background: url(../images/bg-formain-man.jpg) center center/cover no-repeat
		padding-bottom: 14px
.steps-title
	color: $color29
	padding-bottom: 41px
	text-align: center
	&--colorwhite
		color: $color1
	&__num
		font-size: 52px
		line-height: 1
		display: block
		padding: 9px 0
		background: url(../images/svg/ic-marker-circle-blue.svg) 0 0/69px 68px no-repeat
		width: 71px
		margin: 0 auto 3px
	&__subnum
		font-size: 16px
		display: block
		margin-bottom: 28px
	&__title
		font-size: 32px
		font-weight: 400
		margin-bottom: 11px
	&__description
		font-size: 18px
		line-height: 28px
.translators-example
	position: relative
	min-height: 379px
%translator-card-corner
	content: " "
	width: 30px
	height: 28px
	background: url(../images/svg/ic-corner-formain.svg) 0 0 no-repeat
	position: absolute

.translator-card
	+position(absolute, 0 null null 50%)
	margin-left: -150px
	width: 300px
	color: $color2
	text-align: center
	box-sizing: border-box
	background: $color1
	box-shadow: 0px 3px 5px 0px rgba(203, 205, 206, 0.75)
	z-index: 3
	&--left1
		margin-left: -418px
		transform: scale(0.82) rotate(-11deg)
		z-index: 2
	&--left2
		margin-left: -635px
		transform: scale(0.66) rotate(5deg) translateY(17px)
		z-index: 1
	&--right1
		margin-left: 104px
		transform: scale(0.82) rotate(15deg) translateY(6px)
		z-index: 2
	&--right2
		margin-left: 312px
		transform: scale(0.66) rotate(-4deg) translateY(51px)
		z-index: 1
	&::before
		@extend %translator-card-corner
		top: -2px
		left: -2px
		background-position: top left
	&::after
		@extend %translator-card-corner
		top: -2px
		right: -2px
		background-position: top right
	&__in
		padding: 30px 0 0 0
		height: 370px
		box-sizing: border-box
		position: relative
		&::before
			@extend %translator-card-corner
			bottom: -2px
			left: -2px
			background-position: bottom left
		&::after
			@extend %translator-card-corner
			bottom: -2px
			right: -2px
			background-position: bottom right
	&__avatar
		margin: 0 auto 17px
		display: block
	&__name
		font-size: 21px
		line-height: 1.28
		
		a
			color: inherit
			text-decoration: none
	&__status
		display: block
		font-size: 14px
		margin-bottom: 21px

.steps-contract
	margin-top: -6px
	padding: 0 0 10px 482px
	color: $color2
	background: url(../images/svg/ic-lock-blue.svg) 40px 6px no-repeat
	
	h2
		font-size: 26px
	p
		font-size: 16px
		line-height: 1.6
		padding-bottom: 21px
		color: $color4
	strong
		color: $color2
	h3
		margin-bottom: 14px
	&__payment
		border: 1px solid $color10
		+clearfix
		padding: 25px 15px
	&__paymethod
		float: left
		width: 71px
		height: 27px
		background:
			position: center center
			repeat: no-repeat
		@each $method in visa, mastercard, qiwi, webmoney, rbk, yandex
			&.ic-#{$method}
				background-image: url(../images/payment-#{$method}.jpg)


.main-advantages
	color: $color2
	padding: 53px 0 50px 0
	text-align: center
	&__wrap
		+clearfix
		padding-top: 46px
	&__item
		padding-top: 209px
		width: 33.3% 
		float: left
		position: relative
		&:before
			content: " "
			position: absolute
			top: 0
		&--speed:before
			width: 310px
			height: 171px
			background: url(../images/svg/main_graph-02.svg) 0 0 no-repeat
			left: -26px
		&--convenience:before
			width: 232px
			height: 168px
			background: url(../images/svg/main_graph-03.svg) 0 0 no-repeat
			left: 33px
		&--time:before
			width: 220px
			height: 150px
			background: url(../images/svg/main_graph-04.svg) 0 0 no-repeat
			left: 56px
			top: 10px
		h2
			font-size: 26px

.main-feedback	
	color: $color2
	padding: 53px 0
	min-height: 487px
	.steps-title__title	
		text-align: center
	&__wrap
		position: relative
		+clearfix
	&__item
		width: 33.3%
		box-sizing: border-box
		padding-top: 13px
		float: left
		opacity: 0.8
	&__triangle
		display: none
		position: relative
		&:after
			content: " "
			margin-left: -21px
			+triangle-top(21px,21px,$color1)
			+position(absolute, null null 0 50%)
	&__ava
		margin: 0 auto 17px
		+make-square(140px)
		+border-radius(50%)
		background: transparent
		box-sizing: border-box
		border: 2px solid transparent
		overflow: hidden
		padding: 10px
		a
			display: block
			+border-radius(50%)
			overflow: hidden
		img
			display: block
			width: 100%
			height: auto
	&__name
		text-align: center
		font-size: 20px
		line-height: 1.1
		a
			color: inherit
			text-decoration: none
	&__rating
		text-align: center
		padding-bottom: 48px
	&__text
		display: none
		font-size: 21px
		width: 940px
		background: $color1
		+position(absolute, null null 0 0)
		transform: translateY(100%)
		line-height: 1.6
		box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 0.5)
	&__quote
		margin: 34px 74px
		position: relative
		&:before
			content: "«"
			font-size: 42px
			color: $color33
			line-height: 26px
			+position(absolute, 0 null null -32px)
		&:after
			content: "»"
			font-size: 42px
			color: $color33
			line-height: 26px
			margin-left: 7px
			position: absolute
	&__item.active
		opacity: 1
		.main-feedback__text
			display: block
		.main-feedback__triangle
			display: block
		.main-feedback__ava
			border-color: $color33
			background: $color1

.become-translator, .become-client
	width: 50%
	float: left
	padding: 285px 0 40px
	box-sizing: border-box
.become-translator
	background: $color28 url(../images/svg/main_graph-05.svg) 100% 58px no-repeat
	text-align: right
	padding-right: 50px
.become-client
	background: $color34 url(../images/svg/main_graph-06.svg) 69px 86px/320px 151px no-repeat
	text-align: left
	padding-left: 50px
.main__actionbtn
	display: inline-block
	width: 334px
	border: 3px solid $color1
	+border-radius(5px)
	font-size: 21px
	letter-spacing: 0.03em
	text-transform: uppercase
	line-height: 59px
	text-align: center
	color: $color1
	text-decoration: none