%fsdib
	font-size: 13px
	display: inline-block
	margin-bottom: 6px
.msgpreview	
	box-sizing: border-box
	border-bottom: 1px solid $color13
	&__texthead
		@extend %fsdib
		font-weight: 700
		color: $color18
	&__name
		@extend %fsdib
		color: $color18
	&__text
		@extend %fsdib
		color: $color5
	&__date,
	&__time
		font-size: 13px
		font-style: italic
		color: $color5
		display: inline-block
		margin: 0 7px 4px 0
	&__item
		&--processing
			border-left: 3px solid $color7
		&--approving
			border-left: 3px solid $color8
		&--opened
			border-left: 3px solid $color6
		&--finished
			border-left: 3px solid $color9
		&--active
			background: #f6f6f6
		&--new
			background: $color23
		&--seen
			background: $color1
	&__inborder 
		+clearfix
		padding: 10px 0 0
		border: 1px solid $color13
		border-bottom: 1px solid transparent
		text-decoration: none
		display: block
	&__item:last-child
		.msgpreview__inborder
			border-bottom: 1px solid $color13
	&__textwrapper
		width: 230px
		@extend .fl-left
	&__wrapper
		padding: 0 9px 0 0
		@extend .fl-left
	&__avatar
		width: 31px
		height: 31px
		+border-radius(50%)
		overflow: hidden
		margin: 0 0 14px 7px
		img
			display: block
			width: 31px
			height: 31px
	&__checkbox
		padding: 5px 0px 34px 18px
		input[type="checkbox"]
			display: none
			&+label
				height: 10px
				width: 10px
				display: block
				border: 1px solid $color3
				background: transparent
				+border-radius(1px)
				&.check-all
					position: relative
					span
						+position(absolute, -4px null null 29px)
						white-space: nowrap
						font-size: 13px
						color: $color5
			&:checked+label
				background: url(../images/svg/ic-check.svg)
				background-size: 10px 10px
				background-position: 0 -2px
				background-repeat: no-repeat
	&__head
		padding: 32px 50px 30px 46px
		border: 1px solid $color13
		border-left: none		
		margin: 0 0 -1px
		position: relative
		&.bord
			border: 1px solid $color13
		i
			margin: 5px 0 0 13px
			display: inline-block
			vertical-align: top
			line-height: 1
			font-style: normal
			color: $color1
			padding: 2px 9px
			+border-radius(10px)
			text-align: center
			font-size: 14px
			background: $color6	
	&__links
		font-size: 13px
		.link:first-child
			margin-right: 27px
		.link.active
			color: $color18
			border-bottom: 2px solid $color3
	&__check-all
		padding: 12px 20px 0px 2px
		background: $color14
		border: 1px solid $color13
		border-left: none
		margin: 0 0 -1px
		position: relative
		.msgpreview__checkbox
			padding: 5px 0px 13px 18px
		.card-menu-btn
			display: block
			top: 8px
			right: 10px
	.search
		+position(absolute, 22px null null 20px)
		width: 250px
		min-height: 40px
		&__field
			display: none
			&:focus, &:active, &.focus
			width: 250px
		&__btn		
			right: 4px
		&--active
			.search__field
				display: block
			.search__btn
				right: 20px		

%fsdib-2
	font-size: 16px
	display: inline-block
.msgpreviewwide
	&__name
		@extend %fsdib-2
		font-weight: 700
		color: $color18
		line-height: 30px
		margin: 0px 0px 10px 0px
	&__texthead
		@extend %fsdib-2
		color: $color18
		&:before
			content: ""
			width: 1px
			height: 30px
			background: $color13
			margin: 0px 20px -10px 48px
			display: inline-block
	&__text
		@extend %fsdib-2
		color: $color5
		display: block
		margin: 3px 0px 0px 0px
		&--arrowreply
			margin: 0px 0px 0px 0px
			&:before
				content: ""
				background: url(../images/svg/ic-arrowre.svg) -1px -1px no-repeat
				background-size: 22px
				width: 20px
				height: 21px
				display: inline-block
				margin: 0px 10px -2px 0px
	&__date,
	&__time
		font-size: 13px
		font-style: italic
		color: $color5
		display: inline-block
		margin: 0px 11px 0px 0px
	&__item		
		&--processing
			border-left: 3px solid $color7
		&--approving
			border-left: 3px solid $color8
		&--opened
			border-left: 3px solid $color6
		&--finished
			border-left: 3px solid $color9
		&--active
			background: #f6f6f6
		&--new
			background: $color23
			.msgpreviewwide__inborder
				border-top: 1px solid $color6
				border-bottom: 1px solid $color6
		&--seen
			background: $color1
		&:last-child
			border-bottom: 1px solid $color13
	&__inborder 
		+clearfix
		padding: 10px 0px 0px 0px
		border: 1px solid $color13
		border-bottom: 1px solid transparent
		text-decoration: none
		display: block	
	&__textwrapper
		width: 644px
		@extend .fl-left
		margin: 0px 0px 0px 10px
		padding: 14px 0px 0px 0px
	&__wrapper
		padding: 0px 9px 0px 0px
		@extend .fl-left
	&__timewrapper
		@extend .fl-left
		width: 205px
		box-sizing: border-box
		padding: 58px 0px 0px 34px
	&__avatar
		width: 31px
		height: 31px
		+border-radius(50%)
		overflow: hidden
		margin: 14px 0px 0px 3px
		@extend .fl-left
		img
			display: block
			width: 31px
			height: 31px
	&__checkbox
		padding: 27px 0px 73px 14px
		input[type="checkbox"]
			display: none
			&+label
				height: 10px
				width: 10px
				display: block
				border: 1px solid $color3
				background: transparent
				+border-radius(1px)
			&:checked+label
				background: url(../images/svg/ic-check.svg)
				background-size: 10px 10px
				background-position: 0px -2px
				background-repeat: no-repeat
	&__head
		padding: 32px 50px 30px 46px
		border: 1px solid $color13			
		margin: 0 0 -1px
		position: relative		
		i
			margin: 5px 0 0 13px
			display: inline-block
			vertical-align: top
			line-height: 1
			font-style: normal
			color: $color1
			padding: 2px 9px
			+border-radius(10px)
			text-align: center
			font-size: 14px
			background: $color6	
	&__links
		font-size: 13px
		.link:first-child
			margin-right: 27px
		.link.active
			color: $color18
			border-bottom: 2px solid $color3
	&__check-all
		padding: 12px 20px 0px 2px
		background: $color14
		border: 1px solid $color13
		border-left: none
		margin: 0 0 -1px
		position: relative
		.msgpreview__checkbox
			padding: 5px 0px 13px 18px
		.card-menu-btn
			display: block
			top: 8px
			right: 10px
	.search
		+position(absolute, 22px null null 20px)
		width: 250px
		min-height: 40px
		&__field
			display: none
			&:focus, &:active, &.focus
			width: 250px
		&__btn		
			right: 4px
		&--active
			.search__field
				display: block
			.search__btn
				right: 20px	
	.btn-main2
		float: right
		margin: -13px -20px 0 0
		font-weight: 400
		padding: 13px 30px
