.notifications
	width: 280px
	padding: 30px 15px 10px
	box-sizing: border-box
	background: $color14
	font-size: 13px
.notice
	&:nth-child(2)
		padding-top: 22px 
	&__head
		padding: 0 0 16px 0
		line-height: 1
		color: $color5
		font-size: 15px
	&__item
		padding: 16px 15px 12px 45px
		border-top: 2px solid $color13
		box-sizing: border-box
		line-height: 20px
		position: relative
		&::before
			content: " "
			width: 34px
			height: 28px
			+position(absolute, 17px null null 0)
			background: url(../images/svg/notification-sprite.svg) -1px 2px no-repeat
		&.ic_messages::before
			background-position: -5px -25px
		&.ic_time::before
			background-position: -5px -52px
		&.ic_tender::before
			background-position: -1px 2px
	&--empty
		min-height: 160px

.notificationwide
	border: 1px solid $color10
	padding-bottom: 39px
	+clearfix
	&__head
		@extend .notice__head
		margin: 0px 0px 43px 0px
		padding: 42px 0px 0px 27px
	&__wraptext
		float: left
		width: 760px
		box-sizing: border-box
	&__wraptime
		float: left
		width: 48px
		box-sizing: border-box
		padding: 10px 0px 0px 31px
	&__item
		margin: 0px 29px 0px
		border-top: 1px solid $color10
		padding: 22px 16px 67px 54px
		position: relative
		&--brdbotom
			border-bottom: 1px solid $color10
		&::before
			content: ""
			width: 39px
			height: 31px
			display: inline-block
			+position(absolute, 30px null null -6px)
			background: url(../images/svg/notification-sprite-full.svg) no-repeat
			background-position: 0 0
			background-size: 51px
		&--ic-mes:before 
			background-position: -7px -3px
		&--ic-circle:before
			background-position: -7px -40px
		&--ic-cube:before
			background-position: -5px -78px
		&--ic-coin:before
			background-position: -5px -117px
		&--ic-mescr:before
			background-position: -5px -158px
		&--ic-arrdown:before
			background-position: -5px -191px
		&--ic-sheet:before
			background-position: -7px -235px
		&--ic-med:before 
			background-position: -5px -275px
		&--ic-medcr:before
			background-position: -6px -316px
		&--ic-arrcoinl:before
			background-position: 1px -353px
		&--ic-arrcoinr:before
			background-position: -2px -394px
		&--ic-magnifier:before
			background-position: -3px -498px
		&--ic-sheetapr:before
			background-position: 0px -425px
		&--ic-sheetcr:before
			background-position: 0px -459px
	&__text
		font-size: 16px
		margin: 0px 0px 7px 0px
		display: block
		color: $color18
	&__link
		@extend .link
		font-size: 13px
		font-weight: normal
	&__inlink
		font-size: 13px
	&__time
		font-size: 14px
		color: $color5