/*...person-item...*/	
.person-item
	padding: 16px 10px 2px 26px
	border: 1px solid $color13
	+clearfix
	position: relative
	font-size: 14px	
	&:hover
		background: $color14	
	&__avatar
		width: 70px
		height: 70px
		float: left
		+border-radius(50%)
		overflow: hidden
		img
			display: block
			width: 100%
			height: auto
	&__lang
		overflow: hidden
		padding: 0 0 8px			  
		.lang
			clear: left
			font-size: 1em
			margin: 0 0 9px
		&--grade
			overflow: hidden
			padding: 0
			.lang
				clear: left
				font-size: 1em
				margin: 0 0 9px
				&:last-child
					margin: 0
	&__info
		margin: 14px 0 0 89px		
		&--grade
			margin: 14px 209px 19px 93px	
			border-right: 1px solid $color13
	&__grade
		float: right
		width: 192px
		padding: 17px 0 0
		position: relative	
		span
			display: inline-block
			padding: 0 0 15px
			&.vote
				display: block
				background: url(../images/svg/ic-check-gray.svg) 4px 8px no-repeat
				color: $color5
				padding: 8px 0 0 26px
	.mes-up
		top: 85px
		left: -11px		
		text-align: center
		&__title
			padding: 0 0 23px
	h4
		@extend %h4-in-item
		padding: 0 0 1px
		a
			color: $color18
			text-decoration: none
	&__rating	
		line-height: 21px	
		padding: 0 0 10px
		margin: -2px 0 0
		b
			font-size: 16px
			vertical-align: top	
			margin-right: 10px
		span
			color: $color5
			vertical-align: top	
			margin-left: 10px	
	&__bot
		border-top: 1px solid $color13
		padding: 11px 0 5px	
		small
			float: right
			color: $color5	
			font-size: 1em
			margin: 5px 25px 0 0	
		span	
			margin-bottom: 8px			

/*...person-item2...*/				
.person-item2
	padding: 16px 10px 10px 26px
	border: 1px solid $color13	
	+clearfix
	&:hover
		background: $color14
	&__avatar-wrap
		float: left
		position: relative
		margin: 12px 0 0 7px
		&::after
			content: ""
			+position(absolute, 6px 0 null null)
			width: 7px
			height: 7px
			+border-radius(50%)
			background: $color3	
			z-index: 10
	&__avatar
		width: 50px
		height: 50px
		float: left
		+border-radius(50%)
		overflow: hidden
		img
			display: block
			width: 100%
			height: auto			
	&__info
		margin: 14px 0 0 67px				
	h4
		@extend %h4-in-item
		padding: 0
		margin: 0 0 8px
	&__rating	
		line-height: 21px	
		padding: 0 0 10px
		b
			font-size: 16px
			vertical-align: top	
			margin-right: 10px
		span
			color: $color5
			vertical-align: top	
			margin-left: 10px	
	&__offer
		padding: 0 0 13px
		b 
			font-size: 1.286em
			margin: 0 16px 0 4px

/*...tender-item...*/
.tender-item	
	padding: 25px 18px 19px 29px
	border: 1px solid $color13		
	position: relative	
	&.to-left
		margin: 0	150px 0 0	
	.lang
		margin: 0 0 21px	
		+clearfix	
		font-size: 14px
	.price
		float: left			
		padding: 0 0 0 36px
		margin: -2px 0 0
		&::before
			left: 11px
			top: 3px
			background-size: 30px
	.time-publ
		float: left
		font-style: italic
		font-size: 14px
		color: $color5
		margin: 3px 10px 0 0
	.btn-main2-sm
		float: right
		padding: 12px 0
		width: 144px
		margin: -5px 10px 0
		display: none
	h4
		@extend %h4-in-item
		padding: 0		
		margin: 0 0 8px
		clear: both
		line-height: 1.4	
	&:hover
		background: $color14
		.card-menu-btn,
		.btn-main2-sm	
			display: block
	.mes-up
		top: 34px
		left: auto
		right: -63px
		text-align: center		
	&__bot
		padding: 0 0 11px	
		overflow: hidden	
		span
			display: inline-block			
			position: relative
			vertical-align: bottom	
			color: $color5
			font-size: 14px
			& b				
				font-weight: normal
				color: #000
			&.quantity, &.time
				font-size: 16px
				padding: 10px 13px 10px 33px			
				&::before
					content: ""
					width: 30px
					height: 25px
					background: url(../images/svg/ics-2.svg) 0 0 no-repeat
					background-size: 30px
					+position(absolute,7px null null 0)							
			&.quantity
				padding-right: 20px
				&::before
					background-position: 0 4px
			&.time				
				&::before
					background-position: 6px -50px	
			&.category				
				padding: 10px 27px 10px 37px
				&::before
					content: ""					
					top: 7px		
					background-image: url(../images/svg/ics-specialization.svg)
					background-size: 80px
				&.ic-games::before
					background-position: 0 -4px	
				&.ic-tech::before
					background-position: 0 -34px	
				&.ic-lit::before
					background-position: 0 -68px				
				&.ic-mob::before
					background-position: 0 -99px
				&.ic-sci::before
					background-position: 0 -131px
				&.ic-med::before
					background-position: 0 -164px
				&.ic-docs::before
					background-position: 0 -195px			
				&.ic-jur::before
					background-position: 0 -228px	
				&.ic-tour::before
					background-position: 0 -260px
				&.ic-it::before
					background-position: 0 -292px	
				&.ic-ads::before
					background-position: 0 -323px	
				&.ic-fin::before
					background-position: 0 -356px				
				&.ic-pol::before
					background-position: 0 -387px								
	&__status
		+position(absolute,null null 0 0)
		border-top: 1px solid $color13
		width: 100%
		height: 5px
		box-sizing: border-box
		.status
			+border-radius(0)
			height: 5px
	&__progress
		+position(absolute,null null -20px 0)
		width: 100%
		color: $color5
		font-size: 13px
		display: none
		.standing
			+position(absolute, 0 null null 0)
			margin-left: -20px
			font-size: 14px
		.residual
			+position(absolute,0 0 null null)
	&:hover
		.tender-item__progress
			display: block
	&__avatar-block
		float: right
		margin: 4px 0 0	
		.ava
			display: inline-block
	&__mes
		display: inline-block		
		padding: 0 0 0 32px
		height: 24px			
		margin: 5px 5px 0 4px		
		background: url(../images/svg/ic-mes.svg) 1px 4px no-repeat 
		position: relative
		text-decoration: none
		color: $color18
		font-size: 16px
		line-height: 24px
		&::before
			content: ""	
			+position(absolute,-1px 3px null null)	
			width: 10px
			height: 10px
			+border-radius(50%)	
			background: $color3
			display: none
		&.active::before
			display: block
	&__mes--num		
		box-sizing: border-box
		min-width: 45px

/*...translator-block...*/
.translator-block	
	overflow: hidden	
	&.bord
		border: 1px solid $color13
		margin: 0 0 0 1px
	&__avatar-wrap
		float: left
		position: relative
		margin: 4px 0 0 10px		
		&--to-left
			margin-left: 0	
	&__info
		margin-left: 50px
		&--to-left
			margin-left: 40px
		h5
			font-size: 13px
			color: $color3
			margin: 0 0 4px
			padding: 0
			a
				color: $color3
				text-decoration: none
	&__rating
		font-size: 13px		
		b			
			vertical-align: top	
			margin-right: 5px
		span
			color: $color5
			vertical-align: top	
			margin-left: 5px
	&__head
		padding: 36px 0 25px
		margin: 0 25px 27px
		border-bottom: 1px solid $color13

/*...translator-block...*/
.client-block	
	overflow: hidden	
	&.bord
		border: 1px solid $color13
		margin: 0 0 0 1px
	&__avatar-wrap
		float: left
		position: relative
		margin: 4px 0 0 10px		
		&--to-left
			margin-left: 0	
	&__info
		margin-left: 50px
		&--to-left
			margin-left: 40px
		h5
			font-size: 13px			
			margin: 0 0 4px
			padding: 0
			a
				color: $color18
				text-decoration: none
		p 
			color: $color5
			font-size: 13px
			b 
				color: $color18
				font-weight: 400	
	&__head
		padding: 36px 0 17px
		margin: 0 25px 27px
		border-bottom: 1px solid $color13		

/*...message-item...*/
.message-item
	padding: 19px 32px 19px 32px
	border: 1px solid $color13
	+clearfix
	margin: 0 0 -1px
	position: relative	
	&:hover
		background: $color14	
	&__top
		border-bottom: 1px solid $color13
		padding: 0 0 11px
		margin: 0 0 10px
		+clearfix
	&__avatar-wrap
		float: left
		position: relative
		margin: 0
		&--min
			margin: 12px 0 0 7px				
	&__info		
		margin: 14px 150px 0 67px
	&__info-in
		float: left
		margin: 0 20px 0 0
		padding: 0 33px 0 0
		border-right: 1px solid $color13	
		&--min
			border: 0
			padding: 0
			margin: 0 10px 0 0		
	h4
		@extend %h4-in-item
		padding: 0
		margin: 5px 0
		font-size: 16px
		font-weight: 700
		max-width: 300px
		a
			color: $color3
			text-decoration: none
	&__rating	
		line-height: 21px	
		padding: 0
		font-size: 14px
		b			
			vertical-align: top	
			margin-right: 10px
			font-size: 16px
		span
			color: $color5
			vertical-align: top	
			margin-left: 10px	
		a
			vertical-align: top
			margin-left: 10px
	&__offer
		padding: 0 0 13px
		float: left	
		margin: 11px 0 0	
		font-size: 13px
		b 
			font-size: 18px
			margin: 0 16px 0 4px
		&--min
			margin: 8px 0 0
	.btn2
		float: right
		margin: 3px 0 0
	&__bot
		padding: 0 70px 0 67px
	&__mes
		position: relative
		display: inline-block
		margin: 0 0 8px
		line-height: 1.5
		.user-txt			
			color: $color3
		.user
			display: inline-block
			width: 24px 
			height: 20px
			background: url(../images/svg/ic-mes.svg) 0 0 no-repeat
			float: left
			margin: 3px 10px 0 0
		.date
			font-style: italic
			font-size: 13px
			white-space: nowrap
			vertical-align: bottom
			color: $color5
			margin: 0 0 0 9px
		.btn3
			float: left	
	&--min
		padding: 31px 14px 8px 22px		
		margin: -1px
		h4
			color: $color3
			margin: 1px 0 6px
			font-size: 18px
		.btn2
			padding: 13px 3em
			margin: 17px 0 0
		.btn-close-sm
			float: right
			margin: 18px 0 0 10px	
	&--active, &--active:hover
		background: $color23
		.card-menu
			top: 30px
			right: 30px
			.card-menu-btn
				top: 0
				right: 0
				display: block
			.mes-up
				top: 36px
				left: auto
				right: 0		
				&::before
					left: 140px

/*...mes-old-item...*/
.mes-old-item
	overflow: hidden
	padding: 1px 0px 10px 19px	
	&__avatar-wrap
		float: left
		position: relative
		margin: 14px 0 0 10px			
	&__info
		margin: 20px 30px 0 71px		
		h5
			font-size: 16px
			margin: 0 0 12px
			padding: 0
		p 
			padding: 0 50px 1px 0
	&__time
		float: right
		font-size: 14px
		color: $color5
		margin: 3px -50px 0 0

/*...add-comment...*/
.add-comment
	margin: 1px 0 0
	padding: 37px 20px
	overflow: hidden
	border-top: 1px solid $color13
	.ava
		float: left	
	textarea	
		+input-txt(100%,130px)	
		padding-top: 10px
		resize: vertical
		margin: 0 0 11px
		&:focus
			border-color: $color3
			background: #fff
	&__info
		margin: 14px 40px 0 69px
		.btn-main2
			float: right
			padding: 13px 2.1em

.mes-about-sel
	font-size: 14px
	text-align: center
	padding: 20px 50px 50px 88px
	&__txt
		font-size: 14px
		padding: 20px
		background: $color23		
		margin: 0 0 10px
		+border-radius(25px)
	&__time
		color: $color26			

/*...members-item...*/
.members-item
	overflow: hidden
	padding: 7px 5px 16px 10px	
	border-bottom: 1px solid $color13	
	&:hover
		background: $color14	
	.ava
		float: left
		margin: 43px 0 0		
	&__info
		margin: 0 0 0 39px		
		h5
			font-size: 13px
			margin: 0 0 4px
			padding: 0	
			font-weight: 400
			a
				color: $color18
				text-decoration: none
	&__offer
		padding: 0 0 11px	
		margin: 9px 0 0		
		b 
			font-size: 16px
			margin: 0 16px 0 4px
	&__rating	
		line-height: 21px	
		padding: 0
		font-size: 13px
		margin: 0 0 -3px
		b			
			vertical-align: top	
			margin-right: 10px
			font-size: 13px
		span
			color: $color5
			vertical-align: top	
			margin-left: 10px			
	&__time		
		font-size: 13px
		color: $color5
		margin: 3px 0 0 0	
		font-style: italic

/*...personal-info...*/
.personal-info
	padding: 19px 0 103px 88px	
	&__section
		padding: 0 0 38px		
		+clearfix
		h4		
			font-weight: 700
			line-height: 1.125 /* 16px/18px */
			text-transform: none	
			margin: 0 0 17px
			color: $color18	
		p 
			line-height: 1.7
		h4 + p
			margin-top: -3px
		.lang
			span
				height: 24px
				line-height: 24px
				font-size: 16px
				padding: 0 13px
				&:first-child::before,
				&:first-child::after
					border-width: 14px 0 14px 6px
					top: -2px	
			&:last-child
				margin-bottom: 0	
	&__category
		padding: 5px 0 0				
		.category
			color: $color18
			font-size: 14px			
			&.ic-games::before
				background-position: -60px -5px	
			&.ic-tech::before
				background-position: -60px -41px	
			&.ic-lit::before
				background-position: -60px -78px				
			&.ic-mob::before
				background-position: -60px -112px
			&.ic-sci::before
				background-position: -60px -147px
				top: -4px
			&.ic-med::before
				background-position: -60px -185px		
			&.ic-docs::before
				background-position: -60px -219px			
			&.ic-jur::before
				background-position: -60px -256px	
			&.ic-tour::before
				background-position: -60px -292px
			&.ic-it::before
				background-position: -60px -328px	
			&.ic-ads::before
				background-position: -60px -363px	
			&.ic-fin::before
				background-position: -60px -401px				
			&.ic-pol::before
				background-position: -60px -435px	
	&__tenders
		color: $color18	
		font-size: 18px	
		span
			padding: 0 32px 0 0
			font-size: 18px
			i 
				+border-radius(12px)
				display: inline-block
				padding: 4px 10px
				margin: 0 0 0 10px			
				line-height: 1
				font-style: normal
				font-weight: 700
				color: $color1
				font-size: 14px
			&.opened i
				background: $color6		
			&.processing i
				background: $color7
			&.approving i
				background: $color8
			&.finished i
				background: $color9

.personal-info-min
	padding: 0 0 10px 24px	
	margin-right: -10px
	&__section
		padding: 0 0 32px		
		+clearfix
		h4		
			font-weight: 400
			font-size: 13px
			line-height: 1.125 
			text-transform: none	
			margin: 0 0 15px
			color: $color18			
		.lang
			margin: 0 0 5px
	&__txt
		padding: 8px 0
		font-size: 13px
		color: $color5
		padding: 
			padding: 0 0 9px		
		b 
			font-size: 14px
			color: $color18
	&__category
		padding: 5px 0 0				
		.category				
			padding: 10px 27px 10px 37px
			float: left
			clear: left
			font-size: 14px
			&::before
				content: ""					
				top: 7px		
				background-image: url(../images/svg/ics-specialization.svg)
				background-size: 80px	
			&.ic-games::before
				background-position: 0 -4px	
			&.ic-tech::before
				background-position: 0 -34px	
			&.ic-lit::before
				background-position: 0 -68px				
			&.ic-mob::before
				background-position: 0 -99px
			&.ic-sci::before
				background-position: 0 -131px
			&.ic-med::before
				background-position: 0 -164px
			&.ic-docs::before
				background-position: 0 -195px			
			&.ic-jur::before
				background-position: 0 -228px	
			&.ic-tour::before
				background-position: 0 -260px
			&.ic-it::before
				background-position: 0 -292px	
			&.ic-ads::before
				background-position: 0 -323px	
			&.ic-fin::before
				background-position: 0 -356px				
			&.ic-pol::before
				background-position: 0 -387px	
		
	h4 + .personal-info-min__category
		margin-top: -9px

.person-dialog
	padding: 7px 14px 20px 11px		
	margin: -1px
	border: 1px solid $color13
	overflow: hidden	
	position: relative
	.ava
		float: left
		margin: 12px 0 0 7px			
	&__info		
		margin: 22px 100px 0 80px
		overflow: hidden		
	&__info-in
		float: left
		margin: 0 10px 0 0				
	h4
		@extend %h4-in-item
		padding: 0
		margin: 5px 0
		font-size: 16px
		color: $color3			
		span
			color: $color18			
			margin-left: 7px
			font-size: 13px	
		.rating-3
			vertical-align: bottom
			background-position: 0 1px
	.card-menu-btn
		display: block
	
				
			
