.profile--empty
	min-height: 670px
.profile-header
	background: $color3 
	color: $color1
	padding-top: 70px 
	font-size: 16px
	.container
		+clearfix
	&.move
		padding-top: 90px

.profile-avatar
	display: block
	float: left
	box-sizing: border-box
	margin: 0 37px -45px 0
	+make-square(150px)
	+border-radius(50%)
	border: 6px solid $color1
	background: $color23 url(../images/svg/ic-avatar-bg.svg) 50% 45% no-repeat
	overflow: hidden
	&__in
		display: block
		width: 100%
		height: 100%
		position: relative
	img
		width: 100%
		height: 100%
	&__overlay
		+position(absolute, 0px null null 0px)
		display: block
		width: 100%
		height: 100%
		box-sizing: border-box
		color: $color1
		background: rgba(0,0,0,0.6)
		font-size: 15px
		padding-top: 45px
		text-align: center
		opacity: 0
		&:hover
			opacity: 1
.rating-total
	display: inline-block
	padding: 1px 9px 3px
	line-height: 1
	background: $color18
	+border-radius(12px)
	color: $color1
	vertical-align: top
.profile-title 
	h1
		padding-top: 6px 
		margin-bottom: 16px
		span
			margin-left: 3px 
			font-weight: 400
			font-size: 20px
	&__eval
		vertical-align: top
		margin-left: 5px 
	.rating-total
		vertical-align: top
		margin: 0 11px 0 2px
		
.profile__exit
	+position(absolute, -32px 0 null null)
	&.btn-close
		border-color: $color1
		&:hover
			background-color: $color12

.profile-info 
	border-right: 1px solid $color13
	.personal-info
		padding-bottom: 0 
		padding-left: 20px
		padding-top: 17px 
		h4
			font-size: 14px
			padding-top: 1px 
			float: left
			height: 100%
			width: 170px
			margin: 0 0 16px
			line-height: 24px
		&__section
			padding-bottom: 19px 
			+clearfix
			.pb-16
				padding-bottom: 16px 
			&--docs
				padding-top: 22px
				padding-bottom: 0 
				h4
					padding-top: 5px  

		&__content
			margin-left: 170px
			padding-right: 10px 
			+clearfix	
		.lang
			margin: 0 0 15px
			&:last-child
				margin-bottom: 21px
		&__category
			padding: 2px 0 0
		.category
			padding: 2px 21px 0 35px
		&__tenders
			padding-top: 4px
			span
				padding: 0 23px 0 0
				font-size: 16px
		&__description 
			line-height: 1.5
			padding-right: 50px

.profile-mes
	+clearfix	
	&__in
		width: 680px
		+border-radius(10px)
		background: $color1
		color: $color18		
		float: right
		margin: -43px 70px 25px 0		
		padding: 20px 25px 16px 20px
		box-sizing: border-box
	p
		font-size: 16px
		padding: 0 200px 0 0
		line-height: 1.4
	.btn-main2
		float: right
		padding: 13px 3.1em


.qualification-proof
	position: relative
	display: inline-block
	padding: 10px 10px
	border: 1px solid transparent
	+border-radius(6px)
	margin: 0 20px 27px 0
	&:first-child
		margin-left: -7px 
	&:after
		content: " "
		width: 21px
		height: 21px
		display: none
		background: url(../images/svg/ic-search.svg) 0 -60px no-repeat
		+position(absolute, null null -26px -2px)
	&:hover
		border-color: $color3
		&:after
			display: block
	img
		display: block
		max-width: 158px
		max-height: 112px

.profile 
	&-hint
		padding: 3px 0 0 0
		margin: 0 0 32px 10px
		border-bottom: 1px solid $color13
		&:last-child
			border-bottom: none
		h4
			padding-left: 31px
			letter-spacing: 0.05em 
			margin-bottom: 20px
		.rating-total
			font-size: 14px
			padding: 3px 7px 2px
			margin-top: 4px
			margin-left: 1px
		.translator-block
			padding-bottom: 26px 
				
.feedback
	margin-top: 48px
	clear: both	
	position: relative	
	&__field
		border-top: 1px solid $color13
		padding-top: 42px
		margin-left: 180px
		h3
			text-transform: uppercase
			letter-spacing: 0.05em
			margin-bottom: 25px
	&__title
		+clearfix
		margin-bottom: 9px 
		.lang
			float: right
	&__item
		border: 1px solid $color13
		padding: 34px 29px 15px 0
		margin-bottom: 37px
		position: relative
		&:hover
			background: $color14		
	&__avatar
		+position(absolute, 30px null null 30px)

	&__username
		display: inline-block
		margin-top: 8px 
		font-size: 13px
		font-weight: bold
		text-decoration: none
		color: $color18
		margin-right: 5px
	&__date
		display: inline-block
		margin-top: 8px 
		color: $color5
		font-size: 13px
	&__content
		margin-left: 90px
	&__text
		margin-bottom: 15px
		p
			line-height: 1.5
	.person-item__rating b
		margin-right: 7px 
	&__reply 
		margin-top: -20px
		.feedback__item
			margin-left: 60px
		.feedback__title
			margin-bottom: 17px 
	&__note
		margin-bottom: 7px
		display: block
		position: relative
		padding-left: 59px
		&:before
			content: " "
			display: block
			width: 35px
			height: 24px
			background: url(../images/svg/ic-arrow-back.svg) 0 0 no-repeat
			+position(absolute, -2px null null 3px)
	&__summary	
		+position(absolute, 0 null null 0)	
	.btn2
		+position(absolute,null 30px 24px null)	
		padding: 13px 29px		

//my profile
.profile
	&__edit
		color: $color18
		font-size: 18px
		+position(absolute, -54px null null 187px)
	&__btn--edit
		+position(absolute, 0 -34px null null)
		width: 17px
		height: 17px
		background: url(../images/svg/ic-pencil.svg) 50% 50% no-repeat
	&--my
		.profile-info
			border-right: none
		.lang__wrap
			overflow: hidden
	.personal-info__description
		max-width: 500px
.section__breaker
	text-transform: uppercase
	margin-top: 12px
	padding-top: 32px
	border-top: 1px solid $color13
	letter-spacing: 0.06em
	margin-left: 169px
.profile-contacts
	margin: 39px 0 146px 188px
	padding-top: 32px 
	border-top: 1px solid $color13
	&__title
		letter-spacing: 0.05em
		text-transform: uppercase 
		margin-bottom: 26px
	.person-item
		margin-bottom: 30px 
.profile--empty
	.profile-info
		border-right: none

//Edit profile
.profile-edit
	border: 1px solid $color13
	padding: 62px 0 0 39px
	&__item
		font-size: 14px
		+clearfix
		label
			display: inline-block
			width: 137px
			

