.rating
	display: inline-block
	width: 101px
	height: 21px
	background: url(../images/svg/ic-star-md.svg) 0 1px repeat-x
	i 
		background: url(../images/svg/ic-star-md.svg) 0 -33px repeat-x
		display: inline-block		
		height: 21px
.rating-2
	display: inline-block
	width: 140px
	height: 22px
	background: url(../images/svg/ic-star.svg) 0 0 repeat-x
	position: relative
	i 		
		display: inline-block		
		height: 22px
		+position(absolute, 0 null null 0)
		cursor: pointer
		z-index: 5		
		&:hover
			background: url(../images/svg/ic-star.svg) 0 -31px repeat-x
		&.active,
		&.active:hover
			background: url(../images/svg/ic-star.svg) 0 -63px repeat-x
			z-index: 6
		&.star-1
			width: 26px
		&.star-2
			width: 55px
		&.star-3
			width: 84px
		&.star-4
			width: 113px
		&.star-5
			width: 140px
.rating-3
	display: inline-block	
	height: 16px
	background: url(../images/svg/ic-star-sm.svg) 0 4px repeat-x	

.rating-4
	display: inline-block
	width: 81px
	height: 18px
	background: url(../images/svg/ic-star-md.svg) 0 4px repeat-x
	background-size: 17px
	i 
		background: url(../images/svg/ic-star-md.svg) 0 -22px repeat-x
		background-size: 17px
		display: inline-block		
		height: 18px	
.rating-5
	display: inline-block
	width: 140px
	height: 22px
	background: url(../images/svg/ic-star.svg) 0 -95px repeat-x
.rating-6
	display: inline-block
	width: 105px
	height: 19px
	background: url(../images/svg/ic-star-yellow.svg) 0 2px repeat-x
	position: relative
	&__total
		margin-right: 10px
		display: inline-block
		font-size: 15px
		color: $color4
		background: $color32
		padding: 0 5px 0 6px
		line-height: 1.4
		vertical-align: top
	i
		+position(absolute, 0 null null 0)
		height: 100%
		background: url(../images/svg/ic-star-yellow.svg) 0 -23px repeat-x

	