// ********Languages bar*********
$languages: (af, am, se, ht, ba, dk, de, bd, ee, hu, be, es, id, bg, fr, ie, br, gb, il, by, ge, is, ch, gr, it, cn, th, jp, cz, tr, lv, fi, ua)
$positions: ()

@for $i from 0 to 11
	@for $j from 0 to 3
		$x: 0
		$y: 0
		$positions: append($positions, (unquote(-($x+32*$j)+'px') unquote(-($y+25*$i)+'px')))

%arrow-down
	content: ">"
	color: $color3
	font-size: 19px
	+position(absolute, 14px 20px null null)
	transform-origin: center center
	transform: rotate(90deg) scale(0.9, 1.7)
.language
	position: relative
	&__select
		+input-txt(238px, 48px)
		position: relative
		&:after
			@extend %arrow-down
	&__dropdown
		display: none
		+position(absolute, 49px null null 0)
		width: 718px
		background: $color14
		border: 1px solid $color13
		&::before
			content: " "
			+triangle-top(10px, 9px, $color13)
			+position(absolute, -10px null null 19px)
		&::after
			content: " "
			+triangle-top(10px, 9px, $color14)
			+position(absolute, -9px null null 19px)
	&__list
		list-style: none
		margin: 0
		padding: 14px 10px
		+clearfix
	&__item
		width: 244px
		float: left
		margin-bottom: 5px
		&:nth-child(3n)
			width: 210px
		a
			display: block
			padding: 11px 10px 12px 58px
			font-size: 16px
			text-decoration: none
			color: $color18
			border: 1px solid transparent
			+border-radius(5px)
			position: relative
			&:hover
				background: $color23
				border-color: $color24
				color: $color3
			&:before
				content: " "
				display: block
				width: 32px
				height: 25px
				+position(absolute, 10px null null 10px)
				background: url(../images/flags-sprite.jpg) no-repeat
			@each $lang in $languages
				$pos: index($languages, $lang)
				&.ic-#{$lang}:before
					background-position: nth($positions, $pos)
	&__select:hover + &__dropdown
		display: block
	&__dropdown:hover 
		display: block
	&.language-to-right
		.language__dropdown
			left: auto
			right: 0
			&::before, &::after
				left: auto
				right: 19px		

//Categories Bar

$categories: (fin, docs, games, ads, med, mob, sci, it, tour, lit, pol, jur, tech)
$categposstatic: ()
$categposhover: ()
@for $i from 0 to 13
	$x: 0
	$y: 0
	$categposstatic: append($categposstatic, (unquote(-($x)+'px') unquote(-($y+28*$i)+'px')))
	$categposhover: append($categposhover, (unquote(-($x+34)+'px') unquote(-($y+28*$i)+'px')))

.categories
	position: relative
	&__select
		+input-txt(287px, 48px)
		position: relative
		&:after
			@extend %arrow-down
			right: 13px
	&__dropdown
		display: none
		+position(absolute, 49px null null 0)
		width: 318px
		background: $color14
		border: 1px solid $color13
		&::before
			content: " "
			+triangle-top(10px, 9px, $color13)
			+position(absolute, -10px null null 149px)
		&::after
			content: " "
			+triangle-top(10px, 9px, $color14)
			+position(absolute, -9px null null 149px)
	&__list
		list-style: none
		margin: 0
		padding: 3px 9px 16px
		+clearfix
		a
			display: block
			padding: 10px 10px 12px 58px
			font-size: 16px
			text-decoration: none
			color: $color18
			border: 1px solid transparent
			+border-radius(5px)
			position: relative
			&:hover
				background: $color23
				border-color: $color24
				color: $color3
			&::before
				content: " "
				display: block
				width: 34px
				height: 27px
				+position(absolute, 7px null null 7px)
				background: url(../images/svg/ic-categories-sprite.svg) 0 0/72px 367px no-repeat
			@each $item in $categories
				$pos: index($categories, $item)
				&.ic-#{$item}::before
					background-position: nth($categposstatic, $pos)
				&.ic-#{$item}:hover::before
					background-position: nth($categposhover, $pos)
	&__select:hover + &__dropdown
		display: block
	&__dropdown:hover 
		display: block

			
