
.listoftenders
	&__table
		width: 960px
		td:nth-child(1)
			width: 230px
			box-sizing: border-box
			padding-left: 10px
		td:nth-child(2)
			width: 297px
			box-sizing: border-box
		td:nth-child(3)
			width: 123px
			box-sizing: border-box
		td:nth-child(4)
			width: 139px
			box-sizing: border-box
		td:nth-child(5)
			width: 170px
			box-sizing: border-box

		thead
			tr
				background: #f5f5f5
				color: $color5
				font-size: 14px
			td:nth-child(1)
				padding: 0px 0px 6px 10px
			td:nth-child(2)
				padding: 0px 0px 6px 13px
			td:nth-child(3)
			td:nth-child(4)
				padding: 0px 0px 6px 12px
		tbody
			font-size: 14px
			line-height: 20px
			tr
				border-top: 1px solid $color10
				&:last-child
					border-bottom: 1px solid $color10
			td
				padding: 27px 0px 33px 0px
				vertical-align: middle
			td:nth-child(1)
			td:nth-child(2)
				padding-left: 11px
				padding-right: 23px
			td:nth-child(3)
			td:nth-child(4)
				font-style: italic
				font-size: 12px
				color: $color5
				padding-left: 10px

	&__link
		@extend .link
		font-weight: normal
	&__linkname
		@extend .link
		font-weight: normal
		display: block
	&__btn
		@extend .btn2
		color: $color5
		padding: 12px 2.6em 
