.form-narrow
	&__head
		display: inline-block
		font-size: 14px
		color: #000000
		line-height: 30px
		text-transform: uppercase
		letter-spacing: 1px
		margin-bottom: 17px
	&__item
		border-top: 1px solid $color10
		padding-bottom: 41px
	&__label
		font-size: 14px
		color: #afafaf
		display: inline-block
		margin: 0px 0px 14px 0px
	&__langlist
		padding: 0px 0px 0px 0px
		margin: 0px 0px 0px 0px
		.language__dropdown
			z-index: 1000
		.language__select
			padding: 0 21px 0 19px
		&--bgarrow
			background: url(../images/svg/ic-arrow-fatdown.svg) 125px 60px no-repeat
			background-size: 22px
			padding: 0px 0px 36px
	&__tittle
		font-size: 14px
		line-height: 30px
		color: $color11
		padding-left: 30px
		background: url(../images/svg/ics-2.svg) 1px 6px no-repeat
		margin-bottom: 11px
		display: block
		&--icclock
			background-position: 1px -54px
		&--bginf
			background: url(../images/svg/ic-inf-gr.svg) 1px 4px no-repeat
			background-size: 21px
	&__input
		+input-txt(100px, 40px)
		margin: 0px 26px 36px 8px
		font-size: 18px
		line-height: 24px
		padding: 7px 5px 7px 10px
		&:focus
			border-color: $color3
			background: #fff
		&--mgn
			margin: 0px 0px 0px 5px
	&__categories
		.categories__select
			width: 280px
			box-sizing: border-box
			padding: 0 5px 0 16px
		.categories__dropdown
			width: 280px
			box-sizing: border-box
			z-index: 1000
	&__btnsubmit
		@extend .btn-main
		padding: 13px 27px 14px 28px
		text-transform: none
		letter-spacing: 1px
	&__btnreset
		@extend .link
		border: none
		outline: none
		background: none
		margin-left: 12px
		font-size: 16px

.form-narrowlp
	&__langpairs
		margin-bottom: 16px
		+clearfix
		.del
			height: 26px
			background-position: 50% 10px
		.lang
			margin: 3px 0
	&__btnplus
		@extend .btn-add-sm
		margin-bottom: -5px
	&__head
		@extend .form-narrow__head
	&__item
		@extend .form-narrow__item
	&__tittle
		@extend .form-narrow__tittle
		&--bginf
			@extend .form-narrow__tittle--bginf
		&--icclock
			@extend .form-narrow__tittle--icclock
	&__label
		@extend .form-narrow__label
	&__input
		@extend .form-narrow__input
		&--mgn
			@extend .form-narrow__input--mgn
	&__categories
		@extend .form-narrow__categories
.form-narrowlngcat
	&__langpairs
		margin-bottom: 26px
		+clearfix
		.del
			height: 26px
			background-position: 50% 10px
		.lang
			margin: 3px 0
	&__btnplus
		@extend .btn-add-sm
		margin-bottom: -5px
	&__head
		@extend .form-narrow__head
	&__item
		@extend .form-narrow__item
	&__tittle
		@extend .form-narrow__tittle
		&--bginf
			@extend .form-narrow__tittle--bginf
		&--icclock
			@extend .form-narrow__tittle--icclock
	&__label
		@extend .form-narrow__label
	&__input
		@extend .form-narrow__input
		&--mgn
			@extend .form-narrow__input--mgn
	&__categories
		@extend .form-narrow__categories
	&__langlist
		@extend .form-narrow__langlist
		&--bgarrow
			@extend .form-narrow__langlist--bgarrow