/*..tabs__head..*/
.tabs__head
	+clearfix
	margin: 0 0 66px
.tab__title
	box-sizing: border-box
	padding: 15px
	float: left
	width: 312px
	text:
		decoration: none
		transform: uppercase
		align: center
	color: $color1
	position: relative
	margin-left: 1px
	font-size: 16px
	&:first-child
		margin-left: 0
	& i
		font-style: normal
		font-size: 0.8em
		display: inline-block
		vertical-align: top
		position: absolute
		transform: translateX(5px)
	&--opened
		background: $color6
		&:hover
			background: $color16
	&--processing
		background: $color7
		&:hover
			background: $color19
	&--approving
		background: $color8
		&:hover
			background: $color20 
	&--finished
		background: $color9
		&:hover
			background: $color21
	&--disabled span
		opacity: 0.5
	&.tab__title--disabled
		cursor: default 
	&--not-sel
		background: $color3
	&--active,
	&:active,
	&--active:hover
		background: $color14
		color: $color18
	
/*..tabs-content..*/
.tabs__content
	+clearfix
.tab-content
	&__sort
		padding: 0 0 27px
		+clearfix				
	&__sort-txt
		font-size: 	14px
		margin: 16px 25px 0 0
		float: left
	&__leftside
		width: 650px
		float: left
		border: 1px solid $color13
		box-sizing: border-box
		margin: 0 -2px 0 0
		&.no-bord
			border: 0
		&.short
			width: 610px
		&.full
			width: 940px
	&__rightside
		width: 290px
		float: left		
		&.wide
			float: right
			width: 312px		

/*..source-doc..*/ 
.source-doc	
	span
		color: $color5
		margin: 0 33px 0 5px
		font-size: 14px
	.link--field
		+border-radius(5px)	
	&--sm
		+clearfix
		a
			float: left
		span
			float: left	
			margin: 20px 0 0
			clear: left
			margin: 10px 0 0 70px
		.btn-add-sm
			margin: 0 0 0 10px	
		.link--field-pdf	
			&::before
				top: -3px
						
/*...source...*/		
.source
	position: relative
	&__file
		padding: 0 0 50px		
		border-bottom: 1px solid $color13
		&.no-bord
			border: none
			padding-bottom: 28px
		&--mbot
			margin-bottom: 22px	
			padding-bottom: 13px						
	&__part
		padding: 0 0 50px
		margin: 0 0 44px
		border-bottom: 1px solid $color13
	&__descript
		margin: 0 0 0 72px
		h3
			font-size: 18px
			padding: 0 0 3px
		p 
			color: $color5
			padding: 0 400px 11px 0
			font-size: 14px
			line-height: 1.7
		&.for-translator
			padding-bottom: 49px
			h3
				float: left
				width: 130px
	&__descript-in
		margin: 0 0 0 145px
		p
			padding-right: 150px
	&__info
		font-size: 14px
		.category
			padding: 10px 27px 10px 37px
			&::before
				top: 4px	
	&--result-old
		h3
			margin: 0 0 21px
			font-size: 18px
	&--result
		margin-top: 23px
	&__person
		margin: 0 0 0 72px
		position: relative
		h3
			font-size: 18px
			padding: 15px 0 3px
			float: left
	&__person-info
		margin: 0 0 0 138px
		.link
			margin: 17px 0 0
			display: inline-block
	&__person-avatar
		float: left
		margin: 0 10px 0 0
	&__participate
		+position(absolute,0 0 null null)
	&__btn-upload	
		+position(absolute,0 0 null null)

/*...mes-old...*/	
.mes-old
	padding: 16px 0 0
	&:last-child
		padding-bottom: 16px
	&__title
		position: relative
		color: $color26
		font-size: 13px
		text-align: center
		padding: 0 0 10px
		&::before
			content: ""
			+position(absolute,10px 30px null 30px)
			height: 1px
			background: $color26
			z-index: -1			
		span
			background: $color1
			padding: 0 5px
/*...members...*/	
.members
	border: 1px solid $color13
	margin: 0 0 0 1px	
	&__head
		padding: 42px 70px 14px 50px
		border-bottom: 1px solid $color13
		position: relative
		i
			margin: 5px 0 0 13px
			display: inline-block
			vertical-align: top
			line-height: 1
			font-style: normal
			color: $color1
			padding: 2px 9px
			+border-radius(10px)
			text-align: center
			font-size: 14px
			background: $color6
	&__search-btn
		background: url(../images/svg/ic-search.svg) 0 0 no-repeat
		border: none
		outline: none
		width: 20px
		height: 20px
		position: absolute
		top: 46px
		right: 30px
	.members-item:last-child
		border-bottom: none

/*...textfragment...*/
.textfragment
	margin: -7px 0 0
	padding: 0 0 21px	
	&__coll
		+clearfix		
	&__border
		height: 1px
		width: 100%
		background: $color13
		margin: 0 0 0 -36px
	&__tittle
		margin: 0 0 40px
		padding: 48px 5px 0px 70px
	&__header
		font-size: 18px
		color: $color18
		padding: 0 5px 0 0
		display: inline-block
	&__number
		font-size: 30px
		color: $color18
	&__wrapper
		+clearfix		
		float: left
		position: relative
		&:first-child::before
			content: ""
			display: inline-block
			width: 34px
			height: 26px
			background: url(../images/svg/ic-quottes-sprite.svg) 0 0 no-repeat				
			background-size: 67px 27px 
			margin: -24px 0 0
			+position(absolute,0 null null 0)	
	&__letter
		font-size: 90px
		color: $color3
		line-height: 69px
		float: left
		font-weight: bold
		margin: 1px 6px 0px 0px
		padding: 0px 0px 5px 42px
	&__text
		font-size: 16px
		color: $color18
		line-height: 24px
		width: 522px
		margin: 0 0 6px 70px
		padding: 0
		&:last-child::after
			content: ""
			display: inline-block
			width: 34px
			height: 26px
			background: url(../images/svg/ic-quottes-sprite.svg) -34px 0 no-repeat
			background-size: 67px 27px 
			margin: 0 0 -34px -1px

/*...pagepreview...*/
.pagepreview
	@extend .fl-right
	width: 276px
	&__item
		width: 97px
		height: 136px
		display: inline-block
		background: url(../images/svg/ic-translatetextpreview.svg) 0 0 no-repeat
		margin: 4px 8px 23px 0px
		&--selected
			background: url(../images/svg/ic-translatetextpreview-selected.svg)0 0 no-repeat
	&__info
		clear: both
		font-size: 14px
		margin: 0 70px 20px 0



	
		

	
	

