.tooltip 
	position: absolute
	display: none
	border-radius: 6px
	background: rgba(56, 56, 74, 0.7)
	color: $color1
	border: 1px solid #9d9da1
	box-sizing: border-box
	font-size: 14px
	line-height: 18px
	z-index: 101
	white-space: nowrap
	text-transform: none
	text-align: left
	&__in
		padding: 10px 14px
	&.top
		@extend %triangles-middle
		+triangles-bottom($trnglWidth, $color5, $color17)
	&.topLeft
		@extend %triangles-onRight
		+triangles-bottom($trnglWidth, $color5, $color17)
	&.topRight
		@extend %triangles-onLeft
		+triangles-bottom($trnglWidth, $color5, $color17)
	&.bottom
		@extend %triangles-middle
		+triangles-top($trnglWidth, $color5, $color17)
	&.bottomLeft
		@extend %triangles-onRight
		+triangles-top($trnglWidth, $color5, $color17)
	&.bottomRight
		@extend %triangles-onLeft
		+triangles-top($trnglWidth, $color5, $color17)
	&.right
		+triangles-left($trnglWidth, $color5, $color17)
	&.left
		+triangles-right($trnglWidth, $color5, $color17)
	&--closeBtn
		.tooltip__in
			padding: 10px 26px 10px 14px
	&__close
		font-size: 20px
		width: 20px
		height: 20px
		background: url(../images/svg/ic-close-blue.svg) 50% 50%/ 10px 10px no-repeat
		cursor: pointer
		position: absolute
		top: 10px
		right: 4px
		color: red
	&--large
		max-width: 400px
	&--extralarge
		max-width: 410px
	&--medium
		max-width: 308px
	&--small
		max-width: 168px
	&--lighter
		color: #bbbbbb
		background: $color1
		border-color: $color3
	&--light
		color: $color3
		background: $color1
		border-color: $color3
	&--lighter,
	&--light
		&.bottom
			@extend %triangles-middle
			+triangles-top($trnglWidth, $color3, $color1)
		&.top
			@extend %triangles-middle
			+triangles-bottom($trnglWidth, $color3, $color1)
		&.left
			+triangles-right($trnglWidth, $color3, $color1)
		&.right
			+triangles-left($trnglWidth, $color3, $color1)
	&--light &__in
		padding: 6px 12px

.menu-btn + .tooltip.bottom
	margin-left: -25px !important
.menu-btn + .tooltip.bottom::before
	left: 23% !important	
.menu-btn + .tooltip.bottom::after
	left: 23% !important
.content__tender-announce
	.tooltip.left
		margin-top: -17px !important
		margin-left: -13px !important
.content-head__content-info h1 .btn-delet + .tooltip.right
	margin-left: 50px !important
	margin-top: -20px !important
	font-weight: 400
.tab__title 
	.tooltip.bottom
		margin-top: 5px !important

.close-tips + .tooltip
	cursor: pointer
.close-tips + .tooltip::before
	display: none
.close-tips + .tooltip::after
	display: none
.balance + .tooltip.bottom.tooltip--closeBtn
	margin-top: 20px !important 

.mes-up
	+position(absolute,0 null null 0)
	+border-radius(5px)
	+box-shadow(0px 3px 2px 0px rgba(0, 0, 0, 0.1))
	padding: 16px 15px 15px 15px
	background: #f6f6f6	
	z-index: 100
	border: 1px solid $color10	
	color: $color18	
	font-size: 14px	
	box-sizing: border-box
	width: 170px
	&__title
		display: block
		padding-bottom: 14px
	&__link
		display:  block
		color: $color3
		text-decoration: none		
		font-weight: 700
		margin: 0 0 15px
		&:last-child
			margin: 0		
		&:hover
			color: $color6
	&::before
		content: ""
		background: #f6f6f6
		+position(absolute,-7px null null 50%)
		width: 12px
		height: 12px
		border-top: 1px solid $color10
		border-left: 1px solid $color10
		transform: rotate(45deg)
		margin-left: -6px
	