// Links and dotted links 
%link
	color: $color3
	text-decoration: none
	border-bottom: none	
.link
	@extend %link
	font-weight: bold
	&--dotted
		border-bottom: 1px dotted $color3
		position: relative
	&--warr
		padding-right: 21px
		&:after
			content: " "
			width: 8px
			height: 8px
			display: block			
			+position(absolute, 3px 0 null null)
			transform-origin: center center
			transform: rotate(45deg)
			border-bottom: 2px solid $color3
			border-right: 2px solid $color3
		&:hover
			&:after
				border-color: $color12
	&:hover
		color: $color12
		border-bottom-color: $color12
	&--sm		
		font-weight: 400
		&:hover
			color: $color3
	&--status 
		@extend %link
		span			
			border-bottom: 1px dotted $color3
			position: relative
			font-size: 16px
			&:hover
				border-bottom-color: $color12
				color: $color12
			&:active, &.active, &.not-active
				border-bottom-color: transparent
				color: $color18
		i
			margin: 1px 0 0 5px
			display: inline-block
			vertical-align: top
			line-height: 1
			font-style: normal
			color: $color1
			padding: 2px 8px
			+border-radius(10px)
			text-align: center
			font-size: 14px
		&.opened i
			background: $color6
		&.processing i
			background: $color7
		&.approving i
			background: $color8
		&.finished i
			background: $color9
		&.all i
			background: $color3
	&--upper 
		text-transform: uppercase
	&--field
		padding: 8px 9px
		margin: 0 0 0 5px
		color: $color3
		display: inline-block
		border: 1px solid $color13
		+border-radius(3px)
		text-decoration: none
		position: relative	
		span
			line-height: 1
			display: inline-block
		&:hover
			background: $color23
			color: $color12
			border-color: $color3
		&.active
			background: $color23
			color: $color18
			border-color: $color3
		i 
			color: $color11
			font-style: normal 
			font-size: 14px	
		&.link--field-file
			margin: 0 0 0 70px	
			padding: 7px 10px
	&--field2
		padding: 8px 9px	
		color: $color3		
		display: inline-block
		border: 1px solid transparent		
		+border-radius(3px)
		text-decoration: none
		span
			line-height: 1
			display: inline-block	
			border-bottom: 1px dotted $color3
			font-weight: 400			
		&:hover
			background: $color23
			color: $color12	
			border-color: $color3
			span
				border-color: transparent				
		&.active
			background: $color23
			color: $color18	
			border-color: $color3
			span
				border-color: transparent
	&--field-pdf	
		&::before
			content: ""	
			+position(absolute,-22px null null -72px)
			width: 46px
			height: 59px
			background: url(../images/ic-pdf-big.png) 0 0 no-repeat
	&--mes
		position: relative
		margin: 0 0 0 30px
		&::before
			content: ""
			+position(absolute,3px null null -30px)
			width: 24px
			height: 20px
			background: url(../images/svg/ic-mes.svg) 0 0 no-repeat
			background-size: 22px
	&--notice
		position: relative
		margin: 0 0 0 35px
		text-transform: uppercase
		&::before
			content: ""
			+position(absolute,1px null null -35px)
			width: 28px
			height: 23px
			background: url(../images/svg/ics-1.svg) -30px -27px no-repeat
		i 
			background: $color3
			font-weight: 700
		&.active
			span
				color: $color18	
				border: none			
			&::before
				background-position: 0 -27px
	&--letter
		position: relative
		margin: 0 0 0 30px
		text-transform: uppercase
		&::before
			content: ""
			+position(absolute,3px null null -35px)
			width: 28px
			height: 23px
			background: url(../images/svg/ics-1.svg) -30px 0 no-repeat	
		i 
			background: $color3
			font-weight: 700
		&.active
			span
				color: $color18
				border: none				
			&::before
				background-position: 0 0	

.link-setting
	display: inline-block
	padding: 4px 0 4px 36px
	color: $color5
	font-weight: 700
	text-decoration: none
	background: url(../images/svg/ic-setting.svg) 0 0 no-repeat
	font-size: 14px

/*..download-file..*/
.download-file
	.link--field
		padding: 7px 32px 7px 9px
		color: $color18
		background: $color1
	.del
		margin-left: -32px			
	small
		font-size: 14px
		color: $color5
		margin: 0 0 0 7px

/*..search bar..*/ 
.search 
	display: inline-block
	box-sizing: border-box
	+clearfix
	position: relative
	z-index: 90
	&__over
		display: block
		+position(absolute, 0 0 null null)
		width: 40px
		height: 100%
		cursor: pointer
	&__field
		border: none
		outline: none
		font-size: 16px
		width: 247px
		box-sizing: border-box
		padding-right: 40px
		padding: 8px 10px
		border: 1px solid $color13
		+border-radius(20px)
		max-width: 356px
		background: transparent
		transition: width 0.3s
		background: $color1
		&:focus, &:active,&.focus
			width: 356px
			border-color: $color3
	&__btn
		background: url(../images/svg/ic-search.svg) 0 0 no-repeat
		border: none
		outline: none
		width: 20px
		height: 20px
		+position(absolute, 9px 18px null null)
		cursor: pointer
	&__result
		+position(absolute,0 null null 0)
		z-index: -1
		display: none		
	&__list		
		width: 356px
		background: $color6
		color: $color1
		padding: 35px 0 5px
		font-size: 16px
		+border-radius-b(5px)
		li
			padding: 0 10px 10px		
			display: block			
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			cursor: pointer
	