%fsdib
	font-size: 16px
	display: inline-block
.msgpreviewwide
	&__name
		@extend %fsdib
		font-weight: 700
		color: $color18
		line-height: 30px
		margin: 0px 0px 10px 0px
	&__texthead
		@extend %fsdib
		color: $color18
		&:before
			content: ""
			width: 1px
			height: 30px
			background: $color13
			margin: 0px 20px -10px 48px
			display: inline-block
	&__text
		@extend %fsdib
		color: $color5
		display: block
		margin: 3px 0px 0px 0px
		&--arrowreply
			margin: 0px 0px 0px 0px
			&:before
				content: ""
				background: url(../images/svg/ic-arrowre.svg) -1px -1px no-repeat
				background-size: 22px
				width: 20px
				height: 21px
				display: inline-block
				margin: 0px 10px -2px 0px

	&__date,
	&__time
		font-size: 13px
		font-style: italic
		color: $color5
		display: inline-block
		margin: 0px 11px 0px 0px
	&__item
		&--processing
			border-left: 3px solid $color7
		&--approving
			border-left: 3px solid $color8
		&--opened
			border-left: 3px solid $color6
		&--finished
			border-left: 3px solid $color9
		&--active
			background: #f6f6f6
		&--new
			background: $color23
			.msgpreviewwide__inborder
				border-top: 1px solid $color6
				border-bottom: 1px solid $color6
		&--seen
			background: $color1
	&__inborder 
		+clearfix
		padding: 10px 0px 0px 0px
		border: 1px solid $color13
		border-bottom: 1px solid transparent
		text-decoration: none
		display: block
	&__item:last-child
		.msgpreview__inborder
			border-bottom: 1px solid $color13
	&__textwrapper
		width: 644px
		@extend .fl-left
		margin: 0px 0px 0px 10px
		padding: 14px 0px 0px 0px
	&__wrapper
		padding: 0px 9px 0px 0px
		@extend .fl-left
	&__timewrapper
		@extend .fl-left
		width: 205px
		box-sizing: border-box
		padding: 58px 0px 0px 34px
	&__avatar
		width: 31px
		height: 31px
		+border-radius(50%)
		overflow: hidden
		margin: 14px 0px 0px 3px
		@extend .fl-left
		img
			display: block
			width: 31px
			height: 31px
	&__checkbox
		padding: 27px 0px 73px 14px
		input[type="checkbox"]
			display: none
			&+label
				height: 10px
				width: 10px
				display: block
				border: 1px solid $color3
				background: transparent
				+border-radius(1px)
			&:checked+label
				background: url(../images/svg/ic-check.svg)
				background-size: 10px 10px
				background-position: 0px -2px
				background-repeat: no-repeat