@import mixins/mixins
@import mixins/position
body
	background: #ffffff	
	font-family: $ffMain
	line-height: 1.3
	min-width: 960px
	font-size: 62.5%
	font-weight: 400
	color: #000	
.wrapper
	min-height: 100%
	height: auto !important 
	height: 100% 	
.hfooter
	height: 80px		
.container
	width: 940px
	margin: 0 auto
	position: relative
.content	
	font-size: 16px
h1
	font-size: 30px
	font-weight: 700
	line-height: 1.33
	margin: 0 0 30px
	padding: 0
h2
	font-size: 24px
	line-height: 1.25
	font-weight: 400
	margin: 0 0 15px
	padding: 0
h3
	font-size: 20px
	line-height: 1.5
	font-weight: 400
	margin: 0 0 10px
	padding: 0
h4 
	font-size: 16px
	font-weight: 400
	line-height: 1.875
	text-transform: uppercase	
	margin: 0 0 12px
	padding: 0
p 
	margin: 0
	padding: 0 0 10px
.m-top0
	margin-top: 0
.m-top6
	margin-top: 6px
.m-top-m3
	margin-top: -3px
.m-top-m50
	margin-top: -50px	
.p-top0
	padding-top: 0
.p-bot10
	padding-bottom: 10px			
.p-bot14
	padding-bottom: 14px
.p-bot21
	padding-bottom: 21px	
.p-bot23
	padding-bottom: 23px
.p-bot26
	padding-bottom: 26px
.p-bot30
	padding-bottom: 30px
.p-bot35
	padding-bottom: 35px	
.p-bot37
	padding-bottom: 37px
.p-bot40
	padding-bottom: 40px
.p-bot43
	padding-bottom: 43px
.p-bot53
	padding-bottom: 53px
.m-left140
	margin-left: 140px
.w150
	width: 150px	
.w270
	width: 270px	
.w340
	width: 340px
.w560
	width: 560px		
.al-center
	text-align: center
.al-right
	text-align: right
.fl-left
	float: left
.fl-right
	float: right
.bg-gray
	background: $color14
.bold
	font-weight: 700
%h4-in-item
	font-size: 18px
	text-transform: none
	line-height: 1.2	
%link-color1
	text-decoration: none
	color: $color1
	&:hover
		color: $color3
%display-flex		
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex	
	-webkit-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	-webkit-box-pack: start
	-moz-box-pack: start
	-webkit-justify-content: flex-start
	-ms-flex-pack: start
	justify-content: flex-start

/*..lang..*/
.lang
	border: 1px solid $color10
	font-size: 14px
	float: left	
	margin: 5px 0
	span
		color: $color3
		padding: 0 11px
		height: 22px
		line-height: 22px
		float: left
		background: #fff
		border-left: 1px solid $color10
		&:nth-child(2)
			border-left: 0
		&:first-child
			color: $color7
			position: relative
			padding-right: 15px
			border-left: 0
		&:first-child::before
			content: ""
			+triangle-right(11px,6px,$color10)
			+position(absolute,0 0 null null)
		&:first-child::after
			content: ""
			+triangle-right(11px,6px,#fff)
			+position(absolute,0 1px null null)
	&.round
		+border-radius(5px)
		border-width: 2px		
		span
			height: 29px
			line-height: 29px
			+border-radius-l(5px)
			border-width: 2px					
			&:last-child
				+border-radius(5px)				
			&:first-child::before			
				+triangle-right(15px,10px,$color10)			
			&:first-child::after		
				+triangle-right(15px,10px,#fff)

/*..del..*/
.del		
	width: 20px
	height: 16px		
	border: 0
	background: url(../images/svg/ic-del.svg) 50% 4px no-repeat
	cursor: pointer	
	outline: none	

/*..status..*/
.status
	height: 10px
	+border-radius(5px)
	+position(absolute,null null 0 0)
.opened
	.status
		background: $color6
.processing
	.status
		background: $color7
.approving
	.status
		background: $color8
.finished
	.status
		background: $color9
.old
	.status
		background: #b7b7b7		

/*..price..*/	
.price
	padding: 0 0 0 39px
	position: relative
	line-height: 27px
	color: $color5
	font-size: 16px
	&::before
		content: ""
		width: 30px
		height: 25px
		background: url(../images/svg/ics-2.svg) 0 -26px no-repeat
		+position(absolute,0 null null 15px)
	b 
		font-weight: 400						
		color: $color18

/*..category..*/	
.category
	padding: 5px 24px 0 35px
	display: inline-block
	text-transform: uppercase
	position: relative			
	color: $color5	
	&::before
		content: ""
		width: 31px
		height: 30px
		+position(absolute,-2px null null 0)
		background: url(../images/svg/ics-specialization.svg) 0 0 no-repeat
	&.ic-games::before
		background-position: 0 -5px	
	&.ic-tech::before
		background-position: 0 -41px	
	&.ic-lit::before
		background-position: 0 -78px				
	&.ic-mob::before
		background-position: 0 -112px
	&.ic-sci::before
		background-position: 0 -147px
		top: -4px
	&.ic-med::before
		background-position: 0 -185px		
	&.ic-docs::before
		background-position: 0 -219px			
	&.ic-jur::before
		background-position: 0 -256px	
	&.ic-tour::before
		background-position: 0 -292px
	&.ic-it::before
		background-position: 0 -328px	
	&.ic-ads::before
		background-position: 0 -363px	
	&.ic-fin::before
		background-position: 0 -401px				
	&.ic-pol::before
		background-position: 0 -435px	

/*.. quantity, time ..*/
.quantity
	display: inline-block			
	position: relative
	vertical-align: bottom	
	color: $color5
	padding: 10px 13px 10px 37px
	font-size: 1.14em		
	& b				
		font-weight: normal
		color: #000
	&::before
		content: ""
		width: 30px
		height: 25px
		background: url(../images/svg/ics-2.svg) 0 4px no-repeat
		+position(absolute,7px null null 0)			
.time
	@extend .quantity
	&::before
		background-position: 10px -53px			

/*..drag-block..*/
.upload-block
	height: 79px
	display: inline-block
	.upload-box
		border: 1px dashed $color3
		+border-radius(3px)
		padding: 19px 19px 15px 19px
		width: 446px
		box-sizing: border-box
		display: inline-block
		position: relative
		float: left		
		small.inf		
			+position(absolute,19px 20px null null)
			font-size: 14px
			color: $color11
			width: 134px
		&.w580
			width: 580px
			small.inf
				right: 164px
	&__insert
		margin: 28px 0 0 26px
		color: $color11
		font-size: 14px
		display: inline-block
		.btn3
			font-size: 16px
			margin-left: 10px
	.link--field
		span
			max-width: 250px			
			overflow: hidden
			text-overflow: ellipsis

.uploaded-files
	overflow: hidden
	padding: 12px 0px 0px 0px
	&__file
		display: inline-block
		height: 31px
		margin: 0 13px 0 0
		background: url(../images/ics-files.png) 0 0 no-repeat
		float: left
		&.pdf
			width: 22px 
		&.doc
			width: 29px
			background-position: 0 -33px
		&.png
			width: 26px
			background-position: 0 -66px
	.link
		margin: 10px 0 0 4px
		display: inline-block
//tooltips
.tooltip-info
	position: relative
	.mark-qu 
		+position(absolute,0 0 null null)
		width: 18px
		height: 18px
		display: block
		+border-radius(50%)
		background: $color23
		color: $color18
		border: 1px solid $color24
		font-style: normal
		font-size: 15px
		line-height: 18px
		text-align: center
		font-family: 'pf_din_text_universalregular', sans-serif
		font-weight: normal
		font-style: normal
%triangles
	&:before,
	&:after
		content: " "
		position: absolute
		display: block
		width: 0
		height: 0
		border-style: solid
%triangles-middle
	&:before,
	&:after
		left: 50%
%triangles-onRight
	&:before,
	&:after
		right: 20px
%triangles-onLeft
	&:before,
	&:after
		left: 22px

.ava
	display: inline-block
	position: relative
	&--outline
		border: 1px solid $color10
		+border-radius(50%)
		padding: 9px
		overflow:hidden
		background: $color1
		box-sizing: border-box
	&__in
		+border-radius(50%)
		overflow: hidden
		display: block
		text-decoration: none
	&--online::after
		content: ""
		+position(absolute, 7px 0 null null)
		+make-square(7px)
		+border-radius(50%)
		background: $color3
		z-index: 10
	&--size31.ava--online::after
		top: 2px
	img
		display: block
		width: 100%
		height: auto
	@each $size in 31, 43, 46, 50, 51, 56, 70, 126, 150
		&--size#{$size}
			+make-square($size + px)


	






