=clearfix
	&::after	
		clear: both
		content: ""
		display: table

=border-radius($rad)
	-webkit-border-radius: $rad
	-moz-border-radius: $rad
	border-radius: $rad

=border-radius-l($rad)
	-webkit-border-top-left-radius: $rad 
	-webkit-border-bottom-left-radius: $rad 
	-moz-border-radius-topleft: $rad 
	-moz-border-radius-bottomleft: $rad
	border-top-left-radius: $rad	
	border-bottom-left-radius: $rad

=border-radius-r($rad)
	-webkit-border-top-right-radius: $rad
	-webkit-border-bottom-right-radius: $rad
	-moz-border-radius-topright: $rad
	-moz-border-radius-bottomright: $rad
	border-top-right-radius: $rad
	border-bottom-right-radius: $rad

=border-radius-b($rad)	
	-webkit-border-bottom-right-radius: $rad
	-webkit-border-bottom-left-radius: $rad
	-moz-border-radius-bottomright: $rad
	-moz-border-radius-bottomleft: $rad
	border-bottom-right-radius: $rad
	border-bottom-left-radius: $rad

=border-radius-t($rad)	
	-webkit-border-top-left-radius: $rad
	-webkit-border-top-right-radius: $rad
	-moz-border-radius-topleft: $rad
	-moz-border-radius-topright: $rad
	border-top-left-radius: $rad
	border-top-right-radius: $rad
	
=box-shadow($shadows...)
	-webkit-box-shadow: $shadows
	-moz-box-shadow: $shadows
	box-shadow: $shadows

=transform-rotate($deg)
	-webkit-transform: rotate($deg)
	-ms-transform: rotate($deg)
	transform: rotate($deg)

=transform-translateX($w)
	transform: translateX($w)
	-webkit-transform: translateX($w)
	-ms-transform: translateX($w)

=triangle-right($halfH,$W,$color)
	width: 0
	height: 0
	border-style: solid
	border-width: $halfH 0 $halfH $W
	border-color: transparent transparent transparent $color

=triangle-top($H,$halfW,$color)
	width: 0
	height: 0
	border-style: solid
	border-width: 0 $halfW $H $halfW
	border-color: transparent transparent $color transparent


=btn($pad...)
	display: inline-block
	padding: $pad	
	color: $color3
	border: 1px solid $color3
	text-decoration: none
	box-sizing: border-box
	+border-radius(5px)
	&:hover,
	&.active
		background: $color3
		color: $color1

=btn2($pad...)
	display: inline-block
	padding: $pad
	color: $color1	
	background: $color3	
	text-decoration: none
	+border-radius(5px)
	font-size: 14px
	font-weight: 700
	line-height: 1
	border: none
	outline: none
	box-sizing: border-box
	cursor: pointer
	&:hover
		background: $color12

=btn3($pad...)
	display: inline-block
	padding: $pad	
	color: $color3
	background: #f8f8f8	
	text-decoration: none
	+border-radius(5px)
	font-size: 14px
	font-weight: 700	
	line-height: 1
	border: 1px solid #e1e1e1
	outline: none
	box-sizing: border-box
	cursor: pointer
	&:hover
		color: $color1
		background: $color3
		border-color: $color3

=btn-participate($pad...)
	display: inline-block
	padding: $pad
	color: $color1	
	text-decoration: none
	+border-radius(5px)
	font-size: 14px
	font-weight: 400	
	line-height: 1
	border: 1px solid $color1
	outline: none
	box-sizing: border-box
	cursor: pointer
	text-transform: uppercase
	background: url(../images/svg/ic-mes2.svg) 64px 50% no-repeat
	&:hover	
		background-color: $color2
		border-color: $color2

=btn-close($bg)
	position: relative
	display: inline-block
	width: 50px
	height: 50px
	+border-radius(50%) 
	background: $bg
	cursor: pointer
	border: 1px solid $bg
	box-sizing: border-box
	&:hover
		background: transparent	
		border-color: $color1
		opacity: 0.9	
	&::before,&::after
		content: ""
		+position(absolute,23px null null 9px)
		width: 30px
		height: 1px
		background: $color1		
	&::before
		+transform-rotate(45deg)
	&::after
		+transform-rotate(-45deg)

=btn-upload($rad, $pad...)
	display: inline-block	
	input[type="file"]
		position: absolute			
		overflow: hidden 
		width: 0 
		height: 0 
		border: 0
		padding: 0
		margin: 0
	label
		display: inline-block
		position: relative		
		color: $color1
		background: $color3	
		+border-radius($rad)
		cursor: pointer
		font-size: 14px	
		padding: $pad		
		overflow: hidden
		line-height: 1
		font-weight: 700		
		&:hover
			background: $color12
		&::before,
		&::after
			content: ""			
			+position(absolute, 18px null null 49px)			
			background: $color1	
			opacity: 0.7
		&::before
			height: 2px
			width: 16px			
		&::after						
			height: 16px
			width: 2px			
			margin: -7px 0 0 7px

=btn-add($rad, $pad...)
	display: inline-block		
	position: relative		
	color: $color1
	background: $color3	
	border: none
	+border-radius($rad)
	cursor: pointer
	font-size: 14px	
	padding: $pad		
	overflow: hidden
	line-height: 1
	font-weight: 700		
	&:hover
		background: $color12
	&::before,
	&::after
		content: ""			
		+position(absolute, 18px null null 49px)			
		background: $color1	
		opacity: 0.7
	&::before
		height: 2px
		width: 16px			
	&::after						
		height: 16px
		width: 2px			
		margin: -7px 0 0 7px			

=input-txt($w,$h)
	width: $w
	height: $h
	padding: 0 5px 0 26px
	border: 1px solid $color13
	background: $color14
	+border-radius(5px)	
	font-size: 1.14em	

=header-round-icon($icon,$posX,$posY)
	width: 45px
	height: 45px	
	position: relative
	background: #ffffff
	display: inline-block
	+border-radius(50%)
	box-sizing: border-box	
	&::before
		content: " "
		width: 28px
		height: 23px
		background: 
			image: url(../images/#{$icon}.svg)
			repeat: no-repeat
			position: $posX $posY
		+position(absolute, 50% null null 50%)
		margin: -11px 0 0 -14px

=logo($colorMain,$colorAdd)
	color: $colorMain
	font-weight: 700
	text-decoration: none		
	font-size: 27px
	letter-spacing: -1px	
	span
		color: $colorAdd
		font-weight: 400
		margin: 0 0 0 1px
		
=triangles-bottom($width, $brdrColor, $maincolor)
	@extend %triangles
	&:before,
	&:after
		border-width: $width $width 0 $width
		margin-left: -$width - 1px
	&:before
		bottom: -$width
		border-color: $brdrColor transparent transparent transparent
	&:after
		border-color: $maincolor transparent transparent transparent
		bottom: -$width + 1px
=triangles-top($width, $brdrColor, $maincolor)
	@extend %triangles
	&:before,
	&:after
		border-width:  0  $width $width $width
		margin-left: -$width - 1px
	&:before
		top: -$width
		border-color: transparent transparent $brdrColor transparent
	&:after
		border-color:  transparent transparent $maincolor transparent
		top: -$width + 1px
=triangles-left($width, $brdrColor, $maincolor)
	@extend %triangles
	&:before,
	&:after
		border-width: $width $width $width 0  
		top: 50%
		margin-top: -$width
	&:before
		left: -$width
		border-color: transparent $brdrColor transparent transparent
	&:after
		border-color:  transparent $maincolor transparent transparent
		left: -$width + 1px
=triangles-right($width, $brdrColor, $maincolor)
	@extend %triangles
	&:before,
	&:after
		border-width: $width 0 $width $width 
		top: 50%
		margin-top: -$width
	&:before
		right: -$width
		border-color: transparent transparent transparent $brdrColor 
	&:after
		border-color:  transparent transparent transparent $maincolor
		right: -$width + 1px

=make-square($size)
	width: $size
	height: $size