@font-face {
    font-family: 'pf_dintext_promedium';
    src: url('pfdintextpro-medium-webfont.eot');
    src: url('pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-medium-webfont.woff2') format('woff2'),
         url('pfdintextpro-medium-webfont.woff') format('woff'),
         url('pfdintextpro-medium-webfont.ttf') format('truetype'),
         url('pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_universalregular';
    src: url('pfdintextuniversal-regular-webfont.eot');
    src: url('pfdintextuniversal-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextuniversal-regular-webfont.woff2') format('woff2'),
         url('pfdintextuniversal-regular-webfont.woff') format('woff'),
         url('pfdintextuniversal-regular-webfont.ttf') format('truetype'),
         url('pfdintextuniversal-regular-webfont.svg#pf_din_text_universalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('pfdintextcomppro-regular-webfont.eot');
    src: url('pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-regular-webfont.woff2') format('woff2'),
         url('pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('pfdintextcomppro-regular-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}