<div class="about-project__summary">
	<div class="container">
		<div class="summary__item">
			<span class="summary__number">2 546</span>
			<span class="summary__text">переводчиков</span>
		</div>
		<div class="summary__item">
			<span class="summary__number">56</span>
			<span class="summary__text">языков</span>
		</div>
		<div class="summary__item">
			<span class="summary__number">31 589</span>
			<span class="summary__text">готовых проектов</span>
		</div>
		<div class="summary__item">
			<span class="summary__number">450  </span>
			<span class="summary__text">компаний выбрали нас</span>
		</div>
	</div>
</div>