<div class="about-project__title">
	<div class="container">
		<h1>О проекте</h1>
		<p>TranslateMarket — это удобный сервис быстрого, качественного и удобного перевода. Мы объединяем удобство и скорость интернет-сервиса с ответственностью и профессионализмом наших переводчиков. </p>
		<p>Наша цель — сделать услуги переводчика доступными и быстрыми, но в то же время — качественными и надежными. Мы постоянно работаем над повышением уровня сотрудничающих с нами переводчиков, заботимся о том, чтобы предоставляемые нашим сервисом услуги соответствовали самым высоким стандартам качества.</p>
	</div>
</div>
//= _about_project_summary.html
<section class="about-project__advantages">
	<div class="container">
		<h1>Почему нужно выбрать нас?</h1>
		<section class="advantage__item advantage__item--speed">
			<div class="advantage__text advantage__text--right">
				<h2>Высокая скорость</h2>
				<p>TranslateMarket — это удобный сервис быстрого, качественного и удобного перевода. Мы объединяем удобство и скорость интернет-сервиса с ответственностью и Мы объединяем удобство и скорость интернет-сервиса с ответственностью и профессионализмом наших переводчиков. </p>
			</div>
		</section>
		<section class="advantage__item advantage__item--comfort">
			<div class="advantage__text advantage__text--left">
				<h2>Удобство использования</h2>
				<p>TranslateMarket — это удобный сервис быстрого, качественного и удобного перевода. Мы объединяем удобство и скорость интернет-сервиса с ответственностью и профессионализмом наших переводчиков. TranslateMarket — это удобный сервис быстрого, качественного и удобного </p>
			</div>
		</section>
		<section class="advantage__item advantage__item--quality">
			<div class="advantage__text advantage__text--right">
				<h2>Гарантия качественного результата</h2>
				<p>TranslateMarket — это удобный сервис быстрого, качественного и удобного перевода. Мы объединяем удобство и скорость интернет-сервиса с ответственностью и профессионализмом наших переводчиков. TranslateMarket — это удобный сервис быстрого, качественного и удобного  </p>
			</div>
		</section>
		<section class="advantage__item advantage__item--time">
			<div class="advantage__text advantage__text--left">
				<h2>Круглосуточно и без выходных</h2>
				<p>TranslateMarket — это удобный сервис быстрого, качественного и удобного перевода. Мы объединяем удобство и скорость интернет-сервиса с ответственностью и профессионализмом наших переводчиков. TranslateMarket — это удобный сервис быстрого, качественного и удобного </p>
			</div>
		</section>
	</div>
</section>