<div class="process__title how_it_works">
	<div class="container">
		<h1>Как это работает?</h1>
		<div class="process__standards">
			<div class="process__standard process__standard--protection">
				<h4>Ваш платеж защищен</h4>
				<p>Наш сервис работает только по принципу безрисковой сделки. Вы можете быть уверены, что работа будет выполнена</p>
			</div>
			<div class="process__standard process__standard--structure">
				<h4>Работы регламентированы</h4>
				<p>Мы продумали этапность работ и создали удобный интерфейс для четкого проведения каждого этапа. Структурированная работа — уверенность в результате!</p>
			</div>
			<div class="process__standard process__standard--docs">
				<h4>Все необходимые документы </h4>
				<p>Для юридических лиц мы предоставляем все документы, подтверждающие официальную оплату работы переводчика </p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="process__slider">
		<div class="owl-carousel">
			<div class="process-slide">
				<div class="process-slide__image process-slide__image--left process-slide__image--tender"></div>
				<div class="process-slide__content process-slide__content--right">
					<span class="process-slide__number process-slide__number--right">1</span>
					<h3 class="process-slide__title">Откройте тендер, загрузив исходный текст с помощью удобной формы</h3>
					<p>Выберите языковую пару, заполните сроки и другие параметры перевода, введите текст или загрузите файл с текстом.</p>
				</div>
			</div>
			<div class="process-slide">
				<div class="process-slide__image process-slide__image--right process-slide__image--choose"></div>
				<div class="process-slide__content process-slide__content--left">
					<span class="process-slide__number">2</span>
					<h3 class="process-slide__title">Выберите переводчика из числа откликнувшихся на ваш проект</h3>
					<p>Все переводчики имеют подтвержденную TranslateMarket’ом квалификацию. Перед выбором переводчика, вы можете с ним пообщаться и оговорить сроки проекта. </p>
				</div>
			</div>
			<div class="process-slide">
				<div class="process-slide__image process-slide__image--left process-slide__image--chat"></div>
				<div class="process-slide__content process-slide__content--right">
					<span class="process-slide__number process-slide__number--right">3</span>
					<h3 class="process-slide__title">Общайтейсь с переводчиками, <br>как в мессенджере</h3>
					<p>Наш сервис позволяет общаться сразу несколькими переводчиками. Вы можеет выбрать подходящего вам специалиста, переключаясь между чатом и информацией о пользователе в один клик.  </p>
				</div>
			</div>
			<div class="process-slide">
				<div class="process-slide__image process-slide__image--right process-slide__image--tender"></div>
				<div class="process-slide__content process-slide__content--left">
					<span class="process-slide__number">4</span>
					<h3 class="process-slide__title">Переводчик получает деньги только в случае выполненной работы</h3>
					<p>Деньги блокируются на счету и не переводятся исполнителю до момента подтверждения вами готовности перевода.</p>
				</div>
			</div>
			<div class="process-slide">
				<div class="process-slide__image process-slide__image--left  process-slide__image--choose"></div>
				<div class="process-slide__content process-slide__content--right">
					<span class="process-slide__number process-slide__number--right">5</span>
					<h3 class="process-slide__title">Общайтейсь с переводчиками, <br>как в мессенджере</h3>
					<p>Наш сервис позволяет общаться сразу несколькими переводчиками. Вы можеет выбрать подходящего вам специалиста, переключаясь между чатом и информацией о пользователе в один клик.  </p>
				</div>
			</div>
			<div class="process-slide">
				<div class="process-slide__image process-slide__image--right process-slide__image--chat"></div>
				<div class="process-slide__content process-slide__content--left">
					<span class="process-slide__number">6</span>
					<h3 class="process-slide__title">Переводчик получает деньги только в случае выполненной работы</h3>
					<p>Деньги блокируются на счету и не переводятся исполнителю до момента подтверждения вами готовности перевода.</p>
				</div>
			</div>
		</div>
	</div>
</div>