<section class="main-promo main-promo--fr">
	<img class="main-promo__pic" src="upload/PROMOBLOK_4.jpg" height="600" width="1920" alt="">
	<div class="container">
		<div class="main-promo__text">
			<h1 class="main-promo__title">Сервис заказа <br>переводов</h1>
			<p class="main-promo__description">НА ФРАНЦУЗСКИЙ И 269 ДРУГИХ ЯЗЫКОВ<br>ЗА НЕСКОЛЬКО ПРОСТЫХ ШАГОВ</p>
			<a href="#" class="main-promo__arrow"></a>
		</div>
	</div>
</section>