//= _main_promo-esp.html
<section class="main-steps">
	<div class="container">
		<div class="steps-title">
			<span class="steps-title__num">1</span><span class="steps-title__subnum">шаг</span>
			<h1 class="steps-title__title">Объявляете тендер на перевод</h1>
			<p class="steps-title__description">Загрузите исходный текст и выберите параметры перевода</p>
		</div>
		<div class="form-block">
			<form action="#">
				<div class="form-block__in">				
					<div class="form-block__row form-block__row--upload">
						<span class="label">Исходник</span>
						<div class="form-block__upload-block">
							<span class="upload-block">
								<span class="upload-box">
									<span class="btn-upload">
										<label for="btn-hidden">Загрузить файл</label> 
										<input type="file" name="upload" id="btn-hidden">							
									</span>
									<small class="inf">Можно перетянуть сюда</small>
								</span>
								<span class="upload-block__insert">Или<a href="#" class="btn3">Вставить текст</a></span>
							</span><!--/upload-block-->
							<div class="uploaded-files">
								<a href="#" class="uploaded-files__file pdf"></a>
								<a href="#" class="uploaded-files__file doc"></a>
								<a href="#" class="uploaded-files__file png"></a>
								<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
							</div>
						</div>
					</div><!--/form-block__row-->				
					<div class="form-block__row two-el">
						<label>Язык оригинала</label>
						<div class="language language-source">
							//= ../_lang_list.html
						</div><!--/language-->
						<label class="w-auto">Язык перевода</label>
						<div class="language language-to-right">
							//= ../_lang_list.html
						</div><!--/language-->
					</div><!--/form-block__row-->						
					<div class="form-block__row">									
						<span class="label tooltip-info">Тематика <i class="mark-qu has-tooltip-lightTop" data-tooltip="Тендер — 48 часов">?</i></span>	
						<div class="categories">
							<div class="categories__select"></div>
							<div class="categories__dropdown">
								<ul class="categories__list">
									<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
									<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
									<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
									<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
									<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
									<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
									<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
									<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
									<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
									<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
									<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
									<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
									<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
								</ul>
							</div>
						</div>				
					</div><!--/form-block__row-->
					<div class="form-block__row">									
						<label>Название</label><input class="field w580 req-field req" type="text">						
					</div>
					<div class="form-block__row">
						<a class="link link--dotted link--warr m-left140  form-block__open-descr" href="#">Дополнительно: срок и описание</a>		
					</div>
					<div class="form-block__descr" style="display: none;">
						<div class="form-block__row">									
							<label class="m-top10">Описание</label>
							<textarea cols="30" rows="10" placeholder="Необязательно" class="h100 w580"></textarea>						
						</div>
						<div class="form-block__row time-complete">									
							<label>Время на перевод</label>
							<div class="plus-minus">
								<div class="in">
									<button class="plus-btn">+</button>
									<input type="text" value="1" class="plus-minus-value">
									<button class="minus-btn">&ndash;</button>
								</div>
							</div>
							<span class="radio-txt">
								<input type="radio" id="in-hour2" name="rdF">	
								<label for="in-hour2">В часах</label>
								<input type="radio" id="in-day2" name="rdF">	
								<label for="in-day2">Днях</label>
							</span>
							<span class="note">Не указывайте, если хотите чтобы <br>время на перевод предложили участники тендера</span>						
						</div><!--/form-block__row-->
					</div>				
					<div class="form-block__bot al-center">					
						<button class="btn-main-big" type="submit" disabled>Объявить</button>
					</div>
				</div>
			</form>
		</div><!--/form-block-->
	</div>
</section>
<section class="main-steps main-steps--bg-gr main-steps--bgcats">
	<div class="container">
		<div class="steps-title">
			<span class="steps-title__num">2</span><span class="steps-title__subnum">шаг</span>
			<h1 class="steps-title__title">Выбираете переводчика</h1>
			<p class="steps-title__description">На открытый тендер откликнутся переводчики и предложат цену <br>за перевод загруженного вами текста. Просматривайте их профили, сравнивайте предложенные цены и выбирайте подходящего переводчика по стоимости, рейтингу и сроку выполнения перевода.</p>
		</div>
		<div class="translators-example">
			<div class="translator-card translator-card--left2">
				<div class="translator-card__in">
					<a href="#" class="ava ava--size150 ava--outline translator-card__avatar">
						<div class="ava__in">
							<img src="upload/avatar-8.jpg" height="128" width="128" alt="">
						</div>
					</a>
					<h3 class="translator-card__name"><a href="#">Екатерина Константинопольская</a></h3>
					<span class="translator-card__status">Базовый статус</span>
					<div class="translator-card__rating">
						<span class="rating-6__total">4.7</span>
						<div class="rating-6"><i style="width: 80%"></i></div>
					</div>
				</div>
			</div>
			<div class="translator-card translator-card--left1">
				<div class="translator-card__in">
					<a href="#" class="ava ava--size150 ava--outline translator-card__avatar">
						<div class="ava__in">
							<img src="upload/avatar-8.jpg" height="128" width="128" alt="">
						</div>
					</a>
					<h3 class="translator-card__name"><a href="#">Екатерина Константинопольская</a></h3>
					<span class="translator-card__status">Базовый статус</span>
					<div class="translator-card__rating">
						<span class="rating-6__total">4.7</span>
						<div class="rating-6"><i style="width: 80%"></i></div>
					</div>
				</div>
			</div>
			<div class="translator-card">
				<div class="translator-card__in">
					<a href="#" class="ava ava--size150 ava--outline translator-card__avatar">
						<div class="ava__in">
							<img src="upload/avatar-8.jpg" height="128" width="128" alt="">
						</div>
					</a>
					<h3 class="translator-card__name"><a href="#">Екатерина Константинопольская</a></h3>
					<span class="translator-card__status">Базовый статус</span>
					<div class="translator-card__rating">
						<span class="rating-6__total">4.7</span>
						<div class="rating-6"><i style="width: 80%"></i></div>
					</div>
				</div>
			</div>
			<div class="translator-card translator-card--right1">
				<div class="translator-card__in">
					<a href="#" class="ava ava--size150 ava--outline translator-card__avatar">
						<div class="ava__in">
							<img src="upload/avatar-8.jpg" height="128" width="128" alt="">
						</div>
					</a>
					<h3 class="translator-card__name"><a href="#">Екатерина Константинопольская</a></h3>
					<span class="translator-card__status">Базовый статус</span>
					<div class="translator-card__rating">
						<span class="rating-6__total">4.7</span>
						<div class="rating-6"><i style="width: 80%"></i></div>
					</div>
				</div>
			</div>
			<div class="translator-card translator-card--right2">
				<div class="translator-card__in">
					<a href="#" class="ava ava--size150 ava--outline translator-card__avatar">
						<div class="ava__in">
							<img src="upload/avatar-8.jpg" height="128" width="128" alt="">
						</div>
					</a>
					<h3 class="translator-card__name"><a href="#">Екатерина Константинопольская</a></h3>
					<span class="translator-card__status">Базовый статус</span>
					<div class="translator-card__rating">
						<span class="rating-6__total">4.7</span>
						<div class="rating-6"><i style="width: 80%"></i></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="main-steps">
	<div class="container">
		<div class="steps-title">
			<span class="steps-title__num">3</span><span class="steps-title__subnum">шаг</span>
			<h1 class="steps-title__title">Заключаете сделку</h1>
			<p class="steps-title__description">На открытый тендер откликнутся переводчики и предложат цену <br>за перевод загруженного вами текста. Просматривайте их профили, сравнивайте предложенные цены и выбирайте подходящего переводчика по стоимости, рейтингу и сроку выполнения перевода. </p>
		</div>
		<div class="steps-contract">
			<h2>Безопасная сделка</h2>
			<p><strong>Переводчик получает деньги только после выполнения перевода. До этого деньги будут лишь заблокированы на вашем счету.</strong> Максимальная сумма перевода — 75 000 рублей.Срок зачисления: от нескольких минут до 5 дней.Банки-эмитенты могут взимать дополнительные комиссии при переводе. С дебетовых и зарплатных карт комиссии, как правило, не взимаются.</p>
			<h3>Способы оплаты</h3>
			<div class="steps-contract__payment">
				<a class="steps-contract__paymethod ic-visa" href="#"></a>
				<a class="steps-contract__paymethod ic-mastercard" href="#"></a>
				<a class="steps-contract__paymethod ic-qiwi" href="#"></a>
				<a class="steps-contract__paymethod ic-webmoney" href="#"></a>
				<a class="steps-contract__paymethod ic-rbk" href="#"></a>
				<a class="steps-contract__paymethod ic-yandex" href="#"></a>
			</div>
		</div>
	</div>
</section>
<section class="main-steps main-steps--bgman">
	<div class="container">
		<div class="steps-title steps-title--colorwhite">
			<span class="steps-title__num">4</span><span class="steps-title__subnum">шаг</span>
			<h1 class="steps-title__title">Получаете  и оцениваете перевод</h1>
			<p class="steps-title__description">Когда перевод готов, переводчик загрузит результат на сайт. <br>Примите работу, нажав кнопку «Готово» или пожалуйтесь на качество перевода, <br>которое будет проверено нашими экспертами. </p>
		</div>
	</div>
</section>
//= _about_project_summary.html
<section class="main-advantages">
	<div class="container">
		<h1 class="steps-title__title">Преимущества TranslateMarket</h1>
		<div class="main-advantages__wrap">
			<div class="main-advantages__item main-advantages__item--speed">
				<h2>Быстро</h2>
			</div>
			<div class="main-advantages__item main-advantages__item--convenience">
				<h2>Удобно</h2>
			</div>
			<div class="main-advantages__item main-advantages__item--time">
				<h2>Круглосуточно</h2>
			</div>
		</div>
	</div>
</section>
<section class="main-steps--bg-gr main-feedback">
	<div class="container">
		<h1 class="steps-title__title">Отзывы о сервисе</h1>
		<div class="main-feedback__wrap">
			<div class="main-feedback__item active">
				<div class="main-feedback__ava">
					<a href="#">
						<img src="upload/avatar-10.jpg" height="128" width="128" alt="">
					</a>
				</div>
				<h3 class="main-feedback__name"><a href="#">Екатерина <br>Константинопольская</a></h3>
				<div class="main-feedback__rating">
					<div class="rating-6"><i style="width: 100%"></i></div>
				</div>
				<div class="main-feedback__text">
					<blockquote class="main-feedback__quote">Все хорошо! Здорово и удобно работать. Использую только этот сервис. Конкуренты намного хуже и неудобнее. Этот — класс!</blockquote>
				</div>
				<div class="main-feedback__triangle"></div>
			</div>
			<div class="main-feedback__item">
				<div class="main-feedback__ava">
					<a href="#">
						<img src="upload/avatar-11.jpg" height="128" width="128" alt="">
					</a>
				</div>
				<h3 class="main-feedback__name"><a href="#">Екатерина <br>Константинопольская</a></h3>
				<div class="main-feedback__rating">
					<div class="rating-6"><i style="width: 100%"></i></div>
				</div>
				<div class="main-feedback__text">
					<blockquote class="main-feedback__quote">Все хорошо! Здорово и удобно работать. Использую только этот сервис. Конкуренты намного хуже и неудобнее. Этот — класс!</blockquote>
				</div>
				<div class="main-feedback__triangle"></div>
			</div>
			<div class="main-feedback__item">
				<div class="main-feedback__ava">
					<a href="#">
						<img src="upload/avatar-12.jpg" height="128" width="128" alt="">
					</a>
				</div>
				<h3 class="main-feedback__name"><a href="#">Екатерина <br>Константинопольская</a></h3>
				<div class="main-feedback__rating">
					<div class="rating-6"><i style="width: 100%"></i></div>
				</div>
				<div class="main-feedback__text">
					<blockquote class="main-feedback__quote">Все хорошо! Здорово и удобно работать. Использую только этот сервис. Конкуренты намного хуже и неудобнее. Этот — класс!</blockquote>
				</div>
				<div class="main-feedback__triangle"></div>
			</div>
		</div>
	</div>
</section>
<section class="main-steps__action">
	<div class="become-translator">
		<a href="#" class="main__actionbtn">ЗАКАЗАТЬ ПЕРЕВОД</a>
	</div>
	<div class="become-client">
		<a href="#" class="main__actionbtn">СТАТЬ ПЕРЕВОДЧИКОМ</a>
	</div>
</section>
