<div class="pop-box" id="about-person" style="display:none;">
	<div class="form-block">			
		<form accept-charset="utf-8" method="post" action="#">								
			<div class="form-block__in">
				<h2>Заказчик</h2>						
				<div class="form-block__row p-bot30">	
					<span class="label m-top0"><i class="label__avatar"><img src="upload/avatar-4.jpg" alt=""></i></span>						
					<div class="person-details">												
						<h3 class="person-details_name no-bord">Константин Константинопович</h3>	
						<p class="person-details__on-site">На сайте <b>2 года</b></p>							
					</div><!--/person-details-->									
				</div><!--/form-block__row-->	
				<div class="form-block__row p-bot30">	
					<span class="label bold m-top0">Тендеры</span>						
					<div class="person-details">													
						<div class="person-details__info">									
							<span class="processing">В работе <i>4</i></span>
							<span class="finished">Завершенных <i>14</i></span>										
						</div><!--/person-details__info-->						
					</div><!--/person-details-->									
				</div><!--/form-block__row-->	
				<div class="form-block__row p-bot30">	
					<span class="label bold m-top0">О себе</span>						
					<div class="person-details">														
						<p class="person-details__about">Имею большой опыт заказов письменных переводов. Приятный мужчина, с хорошим чувством юмора. Не было недовольных переводчиков. Сотрудничаю с издательством. Скоро выйдит новая серия книг с моим текстами зарубежных статей. </p>	
					</div><!--/person-details-->									
				</div><!--/form-block__row-->											
				<div class="form-block__bot al-right">					
					<button class="btn-add">Закрыть</button>						
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->