<div class="pop-box" id="complaint" style="display:none;">
	<div class="form-block">	
		<form accept-charset="utf-8" method="post" action="#">									
			<div class="form-block__in">
				<h2>Жалоба на перевод</h2>
				<p class="form-block__info">Вы хотите отказаться от заказа на выполнение которого ранее дали согласие</p>
				<div class="form-block__row">
					<label>Опишите, что Вам не нравится</label>
					<textarea cols="30" rows="10" class="h122"></textarea>									
				</div>
				<p class="form-block__clarification"><a href="#" class="link link--dotted link--sm">Прикрепить файл</a></p>
				<div class="form-block__bot al-right">					
					<button class="btn-add">Отмена</button>
					<button class="btn-main">Отправить</button>
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->	
