<div class="pop-box" id="delet-tender" style="display:none;">						
	<div class="form-block">
		<form accept-charset="utf-8" method="post" action="#">						
			<div class="form-block__in">
				<h2>Удаление тендера</h2>					
				<div class="form-block__row p-bot35">
					<label>Укажите причину удаления</label>
					<textarea cols="30" rows="10" class="h120"></textarea>									
				</div>					
				<div class="form-block__bot al-right">					
					<button class="btn-add">Отмена</button>
					<button class="btn-main">Отказаться</button>
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->