<div class="pop-box" id="original-text" style="display:none;">							
	<div class="form-block">
		<form accept-charset="utf-8" method="post" action="#">					
			<div class="form-block__in">
				<h2>Исходник</h2>						
				<div class="form-block__row">
					<label>Текст</label>
					<textarea cols="30" rows="10" class="h180"></textarea>						
				</div>
				<div class="form-block__row">
					<span class="label">Вы загрузили</span>
					<div class="form-block__radio-txt">
						<span class="radio-txt">
							<input type="radio" id="all-text" name="rdN">	
							<label for="all-text">Весь текст</label>
							<input type="radio" id="part-text" name="rdN">	
							<label for="part-text">Фрагмент</label>
						</span>	
					</div>																
				</div>						
				<div class="form-block__bot al-right">					
					<button class="btn-add">Отмена</button>
					<button class="btn-main">Отправить</button>
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->