<div class="pop-box" id="participate-tender" style="display:none;">	
	<div class="form-block">		
		<form accept-charset="utf-8" method="post" action="#">								
			<div class="form-block__in">
				<h2>Участие в тендере</h2>
				<div class="form-block__row">
					<label>Стоимость</label>
					<input type="text" class="field w150"> 
					<span class="sum-unit">руб.</span>						
				</div>
				<div class="form-block__row p-bot26">
					<label>Срок в днях</label>
					<div class="plus-minus">
						<div class="in">
							<button class="plus-btn">+</button>
							<input type="text" value="1" class="plus-minus-value">
							<button class="minus-btn">&ndash;</button>
						</div>
					</div>						
				</div>
				<div class="form-block__row p-bot37">
					<a href="" class="link link--dotted">Добавить комментарий</a>
				</div>					
				<div class="form-block__bot al-right">					
					<button class="btn-add">Отмена</button>
					<button class="btn-main big">Участвовать в тендере</button>
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->