<div class="pop-box" id="refusal-tender" style="display:none;">
	<div class="form-block">	
		<form accept-charset="utf-8" method="post" action="#">									
			<div class="form-block__in">
				<h2>Отказ от участия в тендере</h2>
				<p class="form-block__info">Вы хотите отказаться от заказа на выполнение которого ранее дали согласие</p>
				<div class="form-block__row">
					<label>Пожалуйста, укажите причину</label>
					<textarea cols="30" rows="10" class="h122"></textarea>									
				</div>
				<p class="form-block__clarification">За отказ без уважительной причины  администрация сайта <br>может применить санкции. Подробнее: <a href="#" class="link link--dotted link--sm">Правила сайта</a></p>
				<div class="form-block__bot al-right">					
					<button class="btn-add">Отмена</button>
					<button class="btn-main">Отказаться</button>
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->