<div class="pop-box" id="refill-balance-sum" style="display:none;">
	<div class="form-block">		
		<form accept-charset="utf-8" method="post" action="#">									
			<div class="form-block__in">
				<h2>Пополнение баланса</h2>
				<div class="form-block__row p-bot53">
					<label class="sum">Сумма</label>
					<input class="field" type="text"> 
					<span class="sum-unit">руб.</span>
					<span class="sum-info">Информация про комиссию</span>
				</div>
				<h3 class="fz21 p-bot3">Способы пополнения</h3>
				<div class="form-block__row">
					<div class="form-block__payment-systems">
						<span><a href="#" class="paypal"></a></span>
						<span><a href="#" class="yandex"></a></span>							
						<span><a href="#" class="sviaznoy active"></a></span>
						<span><a href="#" class="euroset"></a></span>
						<span><a href="#" class="visa-mastercard"></a></span>
					</div>							
				</div>						
				<div class="form-block__bot al-right">					
					<button class="btn-add">Отмена</button>
					<button class="btn-main">Подтвердить</button>
				</div>
			</div>	
		</form>					
	</div>			
</div><!--/pop-box-->