<div class="pop-box" id="selection-translator" style="display:none;">				
	<div class="form-block">
		<form accept-charset="utf-8" method="post" action="#">						
			<div class="form-block__in">
				<h2>Выбор переводчика и оплата тендера</h2>	
				<div class="form-block__row">
					<span class="label m-top-m3">Тендер</span>
					<div class="tender-item">							
						<div class="tender-item__info">
							<div class="lang"><span>Английский</span><span>Русский</span></div>
							<h4>Перевод документов судебного процесса для паспорта</h4>							
						</div><!--/tender-item__info-->							
						<div class="tender-item__bot">
							<span class="category ic-jur">Юриспруденция</span>									
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>									
						</div>	
					</div><!--/tender-item-->									
				</div><!--/form-block__row-->					
				<div class="form-block__row p-bot40">
					<span class="label m-top-m3">Переводчик</span>
					<div class="person-item2">
						<div class="person-item2__avatar-wrap">
							<div class="person-item2__avatar"><img src="upload/avatar-3.jpg" height="50" width="50" alt=""></div>
						</div>
						<div class="person-item2__info">
							<h4>Константин Константинопович</h4>
							<div class="person-item2__rating"><b>4,7</b><i class="rating"><i style="width: 80px;"></i></i><span>12 отзывов</span></div>	
							<p class="person-item2__offer">Предложение: <b>1 неделя</b> <b>52 500 руб.</b> </p>	
						</div><!--/person-item2__info-->							
					</div><!--/person-item2-->									
				</div><!--/form-block__row-->	
				<div class="form-block__row p-bot37">
					<span class="label">К оплате</span>
					<div class="form-block__payment-sum">52 500 руб.</div>
				</div><!--/form-block__row-->	
				<div class="form-block__row p-bot43">
					<span class="label m-top0">Вам доступно</span>
					<div class="form-block__payment-info"><b class="available">41 000 руб.</b></div>
				</div><!--/form-block__row-->
				<div class="form-block__row safety">
					<span class="label form-block__safety">Сделка <br>без риска</span>
					<p class="form-block__safety-info">Следующим шагом заморозится сумма оплаты на вашем счёте. Переводчик узнает, что выбран и сможет приступить к переводу. Замороженная сумма будет списана и работа переводчика оплачена после того, как вы примете перевод.</p>									
				</div><!--/form-block__row-->					
				<div class="form-block__bot al-right">					
					<button class="btn-add">Отмена</button>
					<button class="btn-main">Подтвердить</button>
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->