<div class="pop-box" id="tender-open" style="display:none;">
	<div class="form-block">			
		<form accept-charset="utf-8" method="post" action="#">								
			<div class="form-block__in">
				<h2>Тендер открыт</h2>	
				<div class="form-block__row">							
					<p class="form-block__completed-info p-bot10">Ваш тендер в списке открытых тендеров. <br>Переводчики могут просматривать его и откликаться.</p>
				</div>
				<div class="form-block__row">						
					<div class="tender-item to-left">							
						<div class="tender-item__info">
							<div class="lang"><span>Английский</span><span>Русский</span></div>
							<h4>Перевод документов судебного процесса для паспорта</h4>																
						</div><!--/tender-item__info-->							
						<div class="tender-item__bot">
							<span class="category ic-jur">Юриспруденция</span>									
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>									
						</div>	
					</div><!--/person-item-->									
				</div><!--/form-block__row-->												
				<div class="form-block__bot al-right">					
					<button class="btn-add">Закрыть</button>						
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->