<div class="pop-box" id="translation-completed" style="display:none;">	
	<div class="form-block">		
		<form accept-charset="utf-8" method="post" action="#">						
			<div class="form-block__in">
				<h2>Перевод готов!</h2>	
				<div class="form-block__row">							
					<p class="form-block__completed-info">Поздравляем — тендер успешно завершен. <br>Следующим шагом будет списана замороженная сумма с вашего счёта и работа переводчика будет оплачена. </p>
				</div>
				<div class="form-block__row p-bot21">
					<div class="form-block__completed-add-info">
						<b>3 дня на утверждение</b>
						Если спустя 3 дня после публикации перевода, вы&nbsp;не&nbsp;подтвердите готовность и не назначите правки, проект перейдет в «завершенные» автоматически. Переводчик получит оплату.
					</div>	
					<div class="form-block__completed-add-info">
						<b>Правки после утверждения</b>								
						Если позже  вы захотите внести правки, <br>то переводчик имеет право отказаться или согласиться за&nbsp;отдельную плату.
					</div>				
				</div><!--/form-block__row-->												
				<div class="form-block__bot al-right">					
					<button  class="btn-add">Отмена</button>
					<button  class="btn-main">Подтвердить</button>
				</div>
			</div>
		</form>						
	</div>			
</div><!--/pop-box-->