<div class="container">
	<div class="content">				
		<div class="content__main">
			<h2>Новый тендер</h2>
			<div class="form-block">
				<form action="#">
					<div class="form-block__in">				
						<div class="form-block__row form-block__row--upload">
							<span class="label">Исходник</span>
							<div class="form-block__upload-block">
								<span class="upload-block">
									<span class="upload-box">
										<span class="btn-upload">
											<label for="btn-hidden">Загрузить файл</label> 
											<input type="file" name="upload" id="btn-hidden">							
										</span>
										<small class="inf">Можно перетянуть сюда</small>
									</span>
									<span class="upload-block__insert">Или<a href="#original-text" class="fancybox btn3">Вставить текст</a></span>
								</span><!--/upload-block-->
								<div class="uploaded-files">
									<a href="#" class="uploaded-files__file pdf"></a>
									<a href="#" class="uploaded-files__file doc"></a>
									<a href="#" class="uploaded-files__file png"></a>
									<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
								</div>
							</div>
						</div><!--/form-block__row-->				
						<div class="form-block__row two-el">
							<label>Язык оригинала</label>
							<div class="language language-source">
								//= ../../template/_lang_list.html
							</div><!--/language-->
							<label class="w-auto">Язык перевода</label>
							<div class="language language-to-right">
								//= ../../template/_lang_list.html
							</div><!--/language-->
						</div><!--/form-block__row-->						
						<div class="form-block__row">									
							<span class="label tooltip-info">Тематика <i class="mark-qu has-tooltip-lightTop" data-tooltip="Тендер — 48 часов">?</i></span>	
							<div class="categories">
								<div class="categories__select"></div>
								<div class="categories__dropdown">
									<ul class="categories__list">
										<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
										<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
										<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
										<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
										<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
										<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
										<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
										<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
										<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
										<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
										<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
										<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
										<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
									</ul>
								</div>
							</div>				
						</div><!--/form-block__row-->
						<div class="form-block__row">									
							<label>Название</label><input class="field w580 req-field req" type="text">
						</div>
						<div class="form-block__row">
							<a class="link link--dotted link--warr m-left140 form-block__open-descr" href="#">Дополнительно: срок и описание</a>			
						</div>
						<div class="form-block__descr" style="display: none;">
							<div class="form-block__row">									
								<label class="m-top10">Описание</label>
								<textarea cols="30" rows="10" placeholder="Необязательно" class="h100 w580"></textarea>						
							</div>
							<div class="form-block__row time-complete">									
								<label>Время на перевод</label>
								<div class="plus-minus">
									<div class="in">
										<button class="plus-btn">+</button>
										<input type="text" value="1" class="plus-minus-value">
										<button class="minus-btn">&ndash;</button>
									</div>
								</div>
								<span class="radio-txt">
									<input type="radio" id="in-hour2" name="rdF">	
									<label for="in-hour2">В часах</label>
									<input type="radio" id="in-day2" name="rdF">	
									<label for="in-day2">Днях</label>
								</span>
								<span class="note">Не указывайте, если хотите чтобы <br>время на перевод предложили участники тендера</span>						
							</div><!--/form-block__row-->
						</div>				
						<div class="form-block__bot al-center">					
							<button class="btn-main-big disabled btn-submit" type="submit">Объявить</button>
						</div>
					</div>
				</form>
			</div><!--/form-block-->
		</div><!--/content__main-->	
	</div><!--/content-->
</div><!--/container-->
