<div class="container">
	<div class="content">
		<div class="content__title">					
			<h2>Мои тендеры</h2>
			<a href="#" class="btn-add-sm has-tooltip-lightBottom" data-tooltip="Создать тендер"></a>
			<div class="search">
				<form>
					<input type="text" class="search__field  focus" value="Перевод">
					<button class="search__btn"></button>
					<span class="search__over"></span>
				</form>
				<div class="search__result" style="display: block;">
					<ul class="search__list">
						<li>Перевод документов поворто влево вправо</li>
						<li>Перевод домашних текстов</li>
						<li>Перевод догматов философов</li>
					</ul>
				</div>
			</div>
		</div><!--/content__title-->
		<div class="content__main">
			<div class="content__leftside">
				<div class="content__tender-info">
					<div class="in">	
						<a href="#opened" class="link--status opened"><span class="active">Открытые</span><i>1</i></a>
						<a href="#processing" class="link--status processing"><span>В работе</span><i>2</i></a>			
						<a href="#approving" class="link--status approving"><span>На утверждении</span><i>3</i></a>		
						<a href="#finished" class="link--status finished"><span>Завершенные</span><i>1</i></a>
					</div>
				</div>
				<div class="content__tender-lists">
					<div class="content__tender-list">
						<h3 id="opened">Открытые</h3>
						<div class="tender-item opened">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>
								<div class="card-menu">
									<span class="card-menu-btn" style="display: block;"><i></i></span>
									<div class="mes-up">									
										<a href="#" class="mes-up__link">Удалить тендер</a>	
										<a href="#" class="mes-up__link">Редактировать</a>				
									</div>
								</div>					
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>				
								<span class="quantity"><b>5400</b> символов</span>				
								<div class="tender-item__avatar-block">							 	
									<a href="#" class="tender-item__mes">11</a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:30%"></div></div>	
							<div class="tender-item__progress">
								<span class="stade">Этап 1/3</span>
								<span class="standing" style="left:60%;">3 дня</span>
								<span class="residual">Осталось 1 д. 14 ч.</span>
							</div>				
						</div><!--/tender-item-->								
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<h3 id="processing">В работе</h3>
						<div class="tender-item processing">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>							
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>				
								<div class="tender-item__avatar-block">									
									<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes active"></a>
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:60%"></div></div>	
							<div class="tender-item__progress">
								<span class="stade">14 дней</span>										
							</div>
						</div><!--/tender-item-->
						<div class="tender-item processing">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>						
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>				
								<div class="tender-item__avatar-block">
									<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes"></a>
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:60%"></div></div>	
							<div class="tender-item__progress">
								<span class="stade">6 часов</span>										
							</div>
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<h3 id="approving">На утверждении</h3>
						<div class="tender-item approving">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>							
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes active"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:80%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">3 дня</span>										
							</div>					
						</div><!--/tender-item-->
						<div class="tender-item approving">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Вступительная статья нобелевского лауреата для английской версии журнала «Плутон каким мы его еще не видели»</h4>										
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:70%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">3 дня</span>										
							</div>					
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<h3>На экспертизе</h3>
						<div class="tender-item approving">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Вступительная статья нобелевского лауреата для английской версии журнала «Плутон каким мы его еще не видели»</h4>											
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:100%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">14 дней</span>										
							</div>					
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<h3 id="finished">Завершенные</h3>
						<div class="tender-item finished">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>							
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes active"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:100%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">3 дня</span>										
							</div>					
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
				</div><!--content__tender-lists-->
			</div><!--/content__leftside-->
			<div class="content__rightside">
				<h4>Уведомления</h4>
				<div class="notifications">
					<div class="notice">
						<div class="notice__head">Сегодня, 7 августа</div>
						<div class="notice__item ic_messages">5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков</div>
						<div class="notice__item ic_time">Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.</div>
						<div class="notice__item ic_tender">Срок тендера истек. Тендер перенесен в архив.</div>
						<div class="notice__item ic_messages">5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков</div>
						<div class="notice__item ic_time">Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.</div>
						<div class="notice__item ic_tender">Срок тендера истек. Тендер перенесен в архив.</div>
					</div>
				</div><!--/notifications-->
			</div><!--/content__rightside-->
		</div><!--/content__main-->
	</div><!--/content-->
</div><!--/container-->
