<div class="container">
	<div class="content">
		<div class="content__title">					
			<h2>Мои тендеры</h2>
			<a href="#" class="btn-add-sm has-tooltip-lightBottom" data-tooltip="Создать тендер"></a>
			<div class="search">
				<form>
					<input type="text" class="search__field">
					<button class="search__btn"></button>
					<span class="search__over"></span>
				</form>
			</div>
		</div><!--/content__title-->
		<div class="content__main">
			<div class="content__leftside">
				<div class="content__tender-info">
					<div class="in">	
						<a href="#" class="link--status opened"><span class="not-active">Открытые</span><i>0</i></a>
						<a href="#" class="link--status processing"><span class="not-active">В работе</span><i>0</i></a>			
						<a href="#" class="link--status approving"><span class="not-active">На утверждении</span><i>0</i></a>		
						<a href="#" class="link--status finished"><span class="not-active">Завершенные</span><i>0</i></a>
					</div>
				</div>
				<div class="content__tender-announce">
					<p>Ещё ни одного тендера не объявлено</p>
					<button class="btn-main2 has-tooltip-darkLeft-btn" data-tooltip="Объявите ваш первый тендер, <br>загрузив текст для перевода">Объявить тендер</button>
				</div>
			</div><!--/content__leftside-->
			<div class="content__rightside">
				<h4>Уведомления</h4>
				<div class="notifications">
					<div class="notice notice--empty">
						<div class="notice__head">
							Нет новых уведомлений
						</div>
					</div>
				</div><!--/notifications-->
			</div><!--/content__rightside-->
		</div><!--/content__main-->	
	</div><!--/content-->
</div><!--/container-->
