<div class="content-head">
	<div class="container">
		<div class="content-head__content">	
			<div class="content-head__lang">
				<div class="lang round"><span>Английский</span><span>Португальский</span></div>	
			</div>
			<div class="content-head__content-info">		
				<h1>Перевод вступительной статьи главного врача</h1>
				<ol class="content-head__stage-list">
					<li class="active"><span>Переводчик выбран</span></li>
					<li class="active"><span>Перевод загружен</span></li>
					<li class="to-down">
						<b>1 день, 3 часа, 45 мин</b>	
						<span>Утверждение</span>
						<div class="progress-bar">									
							<div class="progress-bar__line">
								<div class="progress-bar__line-progress approving" style="width: 70%;"></div>
							</div>
							<div class="progress-bar__info">
								<i class="progress-bar__start">9 сентября 10:45</i>							
								<i class="progress-bar__end">15 сентября 10:45</i>
								<i class="progress-bar__duration">3 дня</i>
							</div>
						</div>
					</li>						
				</ol>
			</div>
			<a href="#" class="btn-close2"></a>	
		</div><!--/content-head__content-->			
	</div><!--/container-->
</div><!--/content__head-->
<div class="container">
	<div class="content p-top0 m-top-m50">
		<div class="tabs">
			<div class="tabs__head">
				<a href="#tab-content-1" class="tab__title tab__title--approving"><span>Условия</span></a>
				<a href="#tab-content-2" class="tab__title tab__title--approving"><span>Переводчик</span></a>
				<a href="#tab-content-3" class="tab__title tab__title--approving tab__title--active"><span>Перевод</span></a>
			</div>
			<div class="tabs__content">
				<div class="tab-content" id="tab-content-1" style="display: none;">
					<div class="source">
						<div class="source__file">
							<div class="source-doc source-doc--sm">
								<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
								<a href="#" class="btn-add-sm download-sm"></a>
								<span>Загружено: 20 октября 2015, 14:65</span>								
							</div>
						</div>	
						<div class="source__part">
							<div class="textfragment">
								<div class="textfragment__tittle">
									<span class="textfragment__header">Опубликованный фрагмент</span>
									<span class="textfragment__number">12%</span>
								</div>
								<div class="textfragment__coll">								
									<div class="textfragment__wrapper">
										<span class="textfragment__letter">И</span>
										<p class="textfragment__text">The study as a consequence of the uniqueness of soil forma-tion in these conditions reflects fumed egocentrism. Ceteris paribus desuktsiya understands intelligence field. Coprolite, by definition, low permeable. Lessivage uneven. Rogers first introduced into scientific use the term "client" as ortzand integra tes individual behaviorism, however as soon as orthodoxy eventually prevail, even this little loophole will be closed. If we take into account the heterogeneity of soil physical individual, it can be concluded that the psychical self-regulation begins clay ground water level. Skinner introduced the concept of "operant".
										<p class="textfragment__text">Skinner introduced the concept of "operant", supported by teaching, which accentuated personality alienated subsurface psychosis. De- spite the seeming simplicity of the experiment, the archetype of intu- itive. Mass transfer mode is the mosaic. Collective Unconscious strengthens pit. Squeezing once. Soaking, at first glance, there is an accelerating fluctuation gestalt, regardless of the predictions of theo- retical models of the phenomenon.</p>
									</div>
									<div class="pagepreview">
										<div class="pagepreview__item"></div>
										<div class="pagepreview__item pagepreview__item--selected"></div>
										<div class="pagepreview__item"></div>
									</div>
								</div>
							</div><!--/textfragment-->
						</div><!--/source__part-->
						<div class="source__descript">
							<h3>Описание</h3>
							<p>After creating the project by the customer notification sent to translators, which are suitable for the language pairs of the project, a new order with a summary of the order. To have a letter from </p>
							<div class="source__info">
								<span class="quantity"><b>5400</b> символов</span>
								<span class="category ic-med">Медицина</span>							
							</div>
						</div>
					</div>	
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-2" style="display:none;">
					<div class="tab-content__leftside">														
						<div class="dialog-head">
							<h3>Диалог с Константином Константиновым</h3>
						</div>
						<div class="scroll-pane">	
							<div class="mes-old">
								<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Ну привет! Помнишь, мы уже работали? <span class="mes-old-item__time">01:13</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Я ничего не помню. Но твое лицо на аве кажется знакомым. Английский хорошо знаешь? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да нормально <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
							</div><!--/mes-old-->
							<div class="mes-old">
								<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Слушай, справишься за 4 дня? Только честно <span class="mes-old-item__time">01:13</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
							</div><!--/mes-old-->
						</div><!--scroll-pane-->
						<div class="add-comment">
							<form action="#">																
								<div class="ava ava--size50">
									<div class="ava__in">
										<img src="upload/avatar-6.jpg" height="50" width="50" alt="">
									</div>
								</div>														
								<div class="add-comment__info">
									<textarea cols="30" rows="10"></textarea>
									<button class="btn-main2" type="submit">Отправить</button>
								</div>
							</form>
						</div>	
					</div><!--/tab-content__leftside-->
					<div class="tab-content__rightside">
						<div class="translator-block">
							<div class="translator-block__head has-tooltip-darkTop-btn" data-tooltip="Вы выбрали этого переводчика">
								<div class="translator-block__avatar-wrap translator-block__avatar-wrap--to-left">
									<div class="ava ava--size31 ava--online">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
								</div>
								<div class="translator-block__info translator-block__info--to-left">
									<h5>Константин Константинов</h5>
									<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
								</div>
							</div>
							<div class="personal-info-min">
								<div class="personal-info-min__section">
									<h4>Переводы</h4>
									<div class="lang"><span>Мексиканский</span><span>Португальский</span></div>
									<div class="lang"><span>Английский</span><span>Русский</span></div>
									<div class="lang"><span>Португальский</span><span>Русский</span></div>
								</div><!--/personal-info-min__section-->
								<div class="personal-info-min__section">
									<h4>Специализация</h4>
									<div class="personal-info-min__category">
										<span class="category ic-jur">Юриспруденция</span>
										<span class="category ic-sci">Наука</span>
										<span class="category ic-med">Медицина</span>						
									</div>
								</div><!--/personal-info-min__section-->									
							</div>
						</div><!--/translator-block-->
					</div><!--/tab-content__rightside-->
				</div> <!--/tab__content-->				
				<div class="tab-content" id="tab-content-3" style="display:block;">
					<div class="tab-content__leftside no-bord short">
						<div class="source source--result">								
							<div class="source__file  source__file--mbot">
								<div class="source-doc source-doc--sm">
									<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
									<a href="#" class="btn-add-sm download-sm"></a>
									<span>Загружено: 20 октября 2015, 14:65</span>							
								</div>
							</div>	
						</div>	
						<div class="source source--result-old">
							<h3>Предыдущие версии</h3>
							<div class="source__file no-bord">
								<div class="source-doc source-doc--sm">
									<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
									<a href="#" class="btn-add-sm download-sm"></a>
									<span>Загружено: 20 октября 2015, 14:65</span>							
								</div>
							</div>	
							<div class="source__file no-bord">
								<div class="source-doc source-doc--sm">
									<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
									<a href="#" class="btn-add-sm download-sm"></a>
									<span>Загружено: 20 октября 2015, 14:65</span>							
								</div>
							</div>										
						</div><!--/source-result-->								
					</div><!--/tab-content__leftside-->	
					<div class="tab-content__rightside wide">
						<div class="form-vote">
							<div class="form-vote__in">
								<form action="#">
									<h3>Оцените результат</h3>
									<div class="form-vote__row"><a href="#translation-completed" class="btn-main w260 fancybox">Готово</a></div>
									<span class="form-vote__or">Или</span>
									<div class="form-vote__row"><a href="#complaint" class="btn-add w260 fancybox">Пожаловаться</a></div>
									<p class="form-vote__info">Если вы сомневаетесь в качестве перевода — пожалуйтесь и перевод прокомментируют эксперты</p>
								</form>
							</div>
						</div>
					</div><!--/tab-content__rightside-->	
				</div> <!--/tab__content-->	
			</div> <!--/tabs__content-->						
		</div> <!--/tabs-->	
	</div>	<!--/content-->			
</div><!--/container-->
