<div class="content-head">
	<div class="container">
		<div class="content-head__content">	
			<div class="content-head__lang">
				<div class="lang round"><span>Английский</span><span>Португальский</span></div>	
			</div>
			<div class="content-head__content-info">		
				<h1><span>Перевод вступительной статьи главного врача стоматологической поликлиники</span><a href="#delet-tender" class="btn-delet fancybox has-tooltip-lightRight" data-tooltip="Удалить"></a></h1>
				<ol class="content-head__stage-list">
					<li>
						<b>1 день, 3 часа, 45 мин</b>
						<span>Выбор переводчика</span> 
						<div class="progress-bar">
							<div class="progress-bar__line">
								<div class="progress-bar__line-progress opened" style="width: 40%;"></div>
							</div>
							<div class="progress-bar__info">
								<i class="progress-bar__start">9 сентября 10:45</i>							
								<i class="progress-bar__end">15 сентября 10:45</i>
								<i class="progress-bar__duration">6 дней</i>
							</div>
						</div>	
					</li>
					<li><span>Работа над переводом</span></li>
					<li><span>Утверждение</span></li>
				</ol>
			</div>
			<a href="#" class="btn-close2"></a>	
		</div><!--/content-head__content-->			
	</div><!--/container-->
</div><!--/content__head-->
<div class="container">
	<div class="content p-top0 m-top-m50">
		<div class="tabs">
			<div class="tabs__head">
				<a href="#tab-content-1" class="tab__title tab__title--opened"><span>Условия</span></a>
				<a href="#tab-content-2" class="tab__title tab__title--opened tab__title--active"><span>Участники<i>(2)</i></span></a>
				<a href="#tab-content-3" class="tab__title tab__title--opened"><span>Перевод</span></a>
			</div>
			<div class="tabs__content">
				<div class="tab-content" id="tab-content-1" style="display: none;">
					<div class="source">
						<div class="source__file">
							<div class="source-doc source-doc--sm">
								<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
								<a href="#" class="btn-add-sm download-sm"></a>
								<span>Загружено: 20 октября 2015, 14:65</span>									
							</div>
						</div>	
						<div class="source__part">
							<div class="textfragment">
								<div class="textfragment__tittle">
									<span class="textfragment__header">Опубликованный фрагмент</span>
									<span class="textfragment__number">12%</span>
								</div>
								<div class="textfragment__coll">								
									<div class="textfragment__wrapper">
										<span class="textfragment__letter">И</span>
										<p class="textfragment__text">The study as a consequence of the uniqueness of soil forma-tion in these conditions reflects fumed egocentrism. Ceteris paribus desuktsiya understands intelligence field. Coprolite, by definition, low permeable. Lessivage uneven. Rogers first introduced into scientific use the term "client" as ortzand integra tes individual behaviorism, however as soon as orthodoxy eventually prevail, even this little loophole will be closed. If we take into account the heterogeneity of soil physical individual, it can be concluded that the psychical self-regulation begins clay ground water level. Skinner introduced the concept of "operant".
										<p class="textfragment__text">Skinner introduced the concept of "operant", supported by teaching, which accentuated personality alienated subsurface psychosis. De- spite the seeming simplicity of the experiment, the archetype of intu- itive. Mass transfer mode is the mosaic. Collective Unconscious strengthens pit. Squeezing once. Soaking, at first glance, there is an accelerating fluctuation gestalt, regardless of the predictions of theo- retical models of the phenomenon.</p>
									</div>
									<div class="pagepreview">
										<div class="pagepreview__item"></div>
										<div class="pagepreview__item pagepreview__item--selected"></div>
										<div class="pagepreview__item"></div>
									</div>
								</div>
							</div><!--/textfragment-->
						</div><!--/source__part-->
						<div class="source__descript">
							<h3>Описание</h3>
							<p>After creating the project by the customer notification sent to translators, which are suitable for the language pairs of the project, a new order with a summary of the order. To have a letter from </p>
							<div class="source__info">
								<span class="quantity"><b>5400</b> символов</span>
								<span class="category ic-med">Медицина</span>								
							</div>
						</div>
					</div>	
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-2">
					<div class="tab-content__leftside">														
						<div class="message-item message-item--min">
							<span class="btn-close-sm"></span>
							<button  type="submit" class="btn2">Выбрать</button>	
							<div class="message-item__avatar-wrap message-item__avatar-wrap--min">			
								<div class="ava ava--size50 ava--online">
									<a href="#" class="ava__in">
										<img src="upload/avatar-3.jpg" height="50" width="50" alt="">
									</a>
								</div>
							</div>																				
							<div class="message-item__info">
								<div class="message-item__info-in message-item__info-in--min">
									<h4><a href="#">Константин Константинопович</a></h4>
									<div class="message-item__rating">
										<b>4,7</b><i class="rating-4"><i style="width: 63px;"></i></i><span>12 отзывов</span> 
										<a href="#" class="link link--sm">Подробнее</a>
									</div>	
								</div>
								<div class="message-item__offer message-item__offer--min">Предложение: <b>1 день</b> <b>52 500 руб.</b> </div>					
							</div><!--/message-item__info-->
						</div><!--/message-item-->
						<div class="scroll-pane">	
							<div class="mes-old">
								<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31 ava--online">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Ну привет! Помнишь, мы уже работали? <span class="mes-old-item__time">01:13</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Я ничего не помню. Но твое лицо на аве кажется знакомым. Английский хорошо знаешь? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да нормально <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
							</div><!--/mes-old-->
							<div class="mes-old">
								<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Слушай, справишься за 4 дня? Только честно <span class="mes-old-item__time">01:13</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
							</div><!--/mes-old-->
						</div><!--scroll-pane-->
						<div class="add-comment">
							<form action="#">				
								<div class="ava ava--size50">
									<div class="ava__in">
										<img src="upload/avatar-6.jpg" height="50" width="50" alt="">
									</div>
								</div>														
								<div class="add-comment__info">
									<textarea cols="30" rows="10"></textarea>
									<button class="btn-main2" type="submit">Отправить</button>
								</div>
							</form>
						</div>	
					</div><!--/tab-content__leftside-->
					<div class="tab-content__rightside">
						<div class="members">
							<div class="members__head">
								<h4>Участники <i>4</i></h4>
								<button class="members__search-btn"></button>
							</div>
							<div class="members-item">
								<div class="ava ava--size31">
									<a href="#" class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</a>
								</div>	
								<div class="members-item__info">
									<div class="members-item__offer"><b>2 дня</b> <b>4 000 руб.</b> </div>
									<h5><a href="#">Сергей Сергеевичук</a></h5>										
									<div class="members-item__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>						
									<span class="members-item__time">Сегодня 01:03</span>
								</div>
							</div><!--/members-item-->
							<div class="members-item">
								<div class="ava ava--size31">
									<a href="#" class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</a>
								</div>	
								<div class="members-item__info">
									<div class="members-item__offer"><b>1 день</b> <b>52 500 руб.</b> </div>
									<h5><a href="#">Константин Константинов</a></h5>								
									<div class="members-item__rating"><b>2,1</b><i class="rating-3" style="width: 33px"></i><span>(12)</span></div>						
									<span class="members-item__time">Сегодня 01:03</span>
								</div>
							</div><!--/members-item-->
							<div class="members-item">
								<div class="ava ava--size31">
									<a href="#" class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</a>
								</div>	
								<div class="members-item__info">
									<div class="members-item__offer"><b>1 день</b> <b>52 500 руб.</b> </div>
									<h5><a href="#">Константин Константинов</a></h5>								
									<div class="members-item__rating"><b>2,1</b><i class="rating-3" style="width: 33px"></i><span>(12)</span></div>						
									<span class="members-item__time">Сегодня 01:03</span>
								</div>
							</div><!--/members-item-->
						</div><!--/members-->
					</div><!--/tab-content__rightside-->
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-3" style="display:none;">
					контент таба-3		
				</div> <!--/tab__content-->	
			</div> <!--/tabs__content-->						
		</div> <!--/tabs-->	
	</div>	<!--/content-->			
</div><!--/container-->
