<div class="content-head">
	<div class="container">
		<div class="content-head__content">	
			<div class="content-head__lang">
				<div class="lang round"><span>Английский</span><span>Португальский</span></div>	
			</div>
			<div class="content-head__content-info">		
				<h1><span>Перевод вступительной статьи главного врача стоматологической поликлиники</span><a href="#delet-tender" class="btn-delet fancybox has-tooltip-lightRight" data-tooltip="Удалить"></a></h1>
				<ol class="content-head__stage-list">
					<li>
						<b>1 день, 3 часа, 45 мин</b>
						<span>Выбор переводчика</span> 
						<div class="progress-bar">
							<div class="progress-bar__line">
								<div class="progress-bar__line-progress opened" style="width: 40%;"></div>
							</div>
							<div class="progress-bar__info">
								<i class="progress-bar__start">9 сентября 10:45</i>							
								<i class="progress-bar__end">15 сентября 10:45</i>
								<i class="progress-bar__duration">6 дней</i>
							</div>
						</div>	
					</li>
					<li><span>Работа над переводом</span></li>
					<li><span>Утверждение</span></li>
				</ol>
			</div>
			<a href="#" class="btn-close2"></a>	
		</div><!--/content-head__content-->			
	</div><!--/container-->
</div><!--/content__head-->
<div class="container">
	<div class="content p-top0 m-top-m50">
		<div class="tabs">
			<div class="tabs__head">
				<a href="#tab-content-1" class="tab__title tab__title--opened"><span>Условия</span></a>
				<a href="#tab-content-2" class="tab__title tab__title--opened tab__title--active"><span>Участники<i>(2)</i></span></a>
				<a href="#tab-content-3" class="tab__title tab__title--opened"><span>Перевод</span></a>
			</div>
			<div class="tabs__content">
				<div class="tab-content" style="display: none;" id="tab-content-1">
					<div class="source">
						<div class="source__file">
							<div class="source-doc source-doc--sm">
								<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
								<a href="#" class="btn-add-sm download-sm"></a>
								<span>Загружено: 20 октября 2015, 14:65</span>									
							</div>
						</div>	
						<div class="source__part">
							<div class="textfragment">
								<div class="textfragment__tittle">
									<span class="textfragment__header">Опубликованный фрагмент</span>
									<span class="textfragment__number">12%</span>
								</div>
								<div class="textfragment__coll">								
									<div class="textfragment__wrapper">
										<span class="textfragment__letter">И</span>
										<p class="textfragment__text">The study as a consequence of the uniqueness of soil forma-tion in these conditions reflects fumed egocentrism. Ceteris paribus desuktsiya understands intelligence field. Coprolite, by definition, low permeable. Lessivage uneven. Rogers first introduced into scientific use the term "client" as ortzand integra tes individual behaviorism, however as soon as orthodoxy eventually prevail, even this little loophole will be closed. If we take into account the heterogeneity of soil physical individual, it can be concluded that the psychical self-regulation begins clay ground water level. Skinner introduced the concept of "operant".
										<p class="textfragment__text">Skinner introduced the concept of "operant", supported by teaching, which accentuated personality alienated subsurface psychosis. De- spite the seeming simplicity of the experiment, the archetype of intu- itive. Mass transfer mode is the mosaic. Collective Unconscious strengthens pit. Squeezing once. Soaking, at first glance, there is an accelerating fluctuation gestalt, regardless of the predictions of theo- retical models of the phenomenon.</p>
									</div>
									<div class="pagepreview">
										<div class="pagepreview__item"></div>
										<div class="pagepreview__item pagepreview__item--selected"></div>
										<div class="pagepreview__item"></div>
									</div>
								</div>
							</div><!--/textfragment-->
						</div><!--/source__part-->
						<div class="source__descript">
							<h3>Описание</h3>
							<p>After creating the project by the customer notification sent to translators, which are suitable for the language pairs of the project, a new order with a summary of the order. To have a letter from </p>
							<div class="source__info">
								<span class="quantity"><b>5400</b> символов</span>
								<span class="category ic-med">Медицина</span>								
							</div>
						</div>
					</div>	
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-2">
					<div class="tab-content__sort">	
						<span class="tab-content__sort-txt">Сортировать</span>							
						<span class="radio-txt-big">									
							<input type="radio" id="sort-new" name="rd4">	
							<label for="sort-new">По новизне</label>
							<input type="radio" id="sort-price" name="rd4">	
							<label for="sort-price">Стоимости</label>
							<input type="radio" id="sort-time" name="rd4">	
							<label for="sort-time">Времени</label>
							<input type="radio" id="sort-rating" name="rd4">	
							<label for="sort-rating">Рейтингу</label>
						</span>	
					</div>
					<div class="message-item">
						<div class="message-item__top">	
							<button  type="submit" class="btn2">Выбрать</button>			
							<div class="message-item__avatar-wrap">				
								<div class="ava ava--size50">
									<div class="ava__in">
										<img src="upload/avatar-3.jpg" height="50" width="50" alt="">
									</div>
								</div>
							</div>										
							<div class="message-item__info">
								<div class="message-item__info-in">
									<h4>Иван Иванович</h4>
									<div class="message-item__rating"><b>4,7</b><i class="rating-4"><i style="width: 63px;"></i></i><span>1 отзыв</span></div>	
								</div>
								<div class="message-item__offer"><b>1 день</b> <b>52 500 руб.</b> </div>
							</div><!--/message-item__info-->											
						</div>
						<div class="message-item__bot">									
							<span class="message-item__mes">
								<span class="user-txt">Вы: </span> Добрый день! Есть опыт в создании подобных переводов. Переведу все  качественно и в срок! Устраивает ли такая цена?&nbsp;<span class="date">29 августа 2015</span>
							</span>
							<a href="#" class="btn3">Ответить</a>
						</div>
					</div><!--/message-item-->
					<div class="message-item">
						<div class="message-item__top">	
							<button  type="submit" class="btn2">Выбрать</button>				
							<div class="message-item__avatar-wrap">				
								<div class="ava ava--size50">
									<div class="ava__in">
										<img src="upload/avatar-3.jpg" height="50" width="50" alt="">
									</div>
								</div>
							</div>										
							<div class="message-item__info">
								<div class="message-item__info-in">
									<h4>Михаил Муравьев-Амурский</h4>
									<div class="message-item__rating"><b>4,7</b><i class="rating-4"><i style="width: 63px;"></i></i><span>1 отзыв</span></div>	
								</div>
								<div class="message-item__offer"><b>1 день</b> <b>52 500 руб.</b> </div>
							</div><!--/message-item__info-->											
						</div>
						<div class="message-item__bot">									
							<span class="message-item__mes">
								<span class="user"></span> Добрый день! Есть опыт в создании подобных переводов. Переведу все  качественно и в срок!&nbsp;<span class="date">29 августа 2015</span>
							</span>
							<a href="#" class="btn3">Ответить</a>
						</div>
					</div><!--/message-item-->
					<div class="message-item">
						<div class="message-item__top">	
							<button  type="submit" class="btn2">Выбрать</button>			
							<div class="message-item__avatar-wrap">				
								<div class="ava ava--size50">
									<div class="ava__in">
										<img src="upload/avatar-3.jpg" height="50" width="50" alt="">
									</div>
								</div>
							</div>									
							<div class="message-item__info">
								<div class="message-item__info-in">
									<h4>Константин Константинопович</h4>
									<div class="message-item__rating"><b>4,7</b><i class="rating-4"><i style="width: 63px;"></i></i><span>1 отзыв</span></div>	
								</div>
								<div class="message-item__offer"><b>1 неделя</b> <b>52 500 руб.</b> </div>
							</div><!--/message-item__info-->											
						</div>
						<div class="message-item__bot">									
							<span class="message-item__mes">
								<span class="user"></span> Добрый день! Есть опыт в создании подобных переводов. Переведу все  качественно и в срок! Устраивает ли такая цена?&nbsp;<span class="date">29 августа 2015</span>
							</span>
							<a href="#" class="btn3">Ответить</a>
						</div>
					</div><!--/message-item-->
					<div class="message-item">
						<div class="message-item__top">	
							<button  type="submit" class="btn2">Выбрать</button>				
							<div class="message-item__avatar-wrap">				
								<div class="ava ava--size50">
									<div class="ava__in">
										<img src="upload/avatar-3.jpg" height="50" width="50" alt="">
									</div>
								</div>
							</div>										
							<div class="message-item__info">
								<div class="message-item__info-in">
									<h4>Михаил Муравьев-Амурский</h4>
									<div class="message-item__rating"><b>4,7</b><i class="rating-4"><i style="width: 63px;"></i></i><span>1 отзыв</span></div>	
								</div>
								<div class="message-item__offer"><b>1 день</b> <b>52 500 руб.</b> </div>
							</div><!--/message-item__info-->										
						</div>
						<div class="message-item__bot">									
							<span class="message-item__mes">
								<span class="user"></span> Добрый день! Есть опыт в создании подобных переводов. Переведу все  качественно и в срок! Устраивает ли такая цена?&nbsp;<span class="date">29 августа 2015</span>
							</span>
							<a href="#" class="btn3">Ответить</a>
						</div>
					</div><!--/message-item-->
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-3" style="display:none;">
					контент таба-3		
				</div> <!--/tab__content-->	
			</div> <!--/tabs__content-->						
		</div> <!--/tabs-->	
	</div>	<!--/content-->			
</div><!--/container-->
