<div class="profile profile--empty">
	<div class="profile-header move">
		<div class="container">
			<span class="profile__edit">
				<span>Мой профиль</span>
				<a href="#" class="profile__btn--edit has-tooltip-darkRight-btn" data-tooltip="Добавьте информацию о себе. <br>Заполненный профиль лучше воспринимается <br>другими пользователями"></a>
			</span>
			<span class="close-tips has-tooltip-darkTopLeft-btn" data-tooltip="Закрыть все подсказки"></span>
			<div class="profile-avatar  has-tooltip-darkLeft-btn" data-tooltip="Добавьте фотографию">
				<a href="#" class="profile-avatar__in"></a>
			</div>
			<div class="profile-title">
				<h1>Константин Константинопович <span>(Это вы)</span></h1>
				<div class="profile-title__rating"></div>
			</div>
			<a href="#" class="profile__exit btn-close"></a>
		</div>
	</div>
	<div class="container">
		<div class="content content__main">
			<div class="profile-info">
				<div class="personal-info">
					<div class="personal-info__section">
						<h4>Тендеры</h4>
						<div class="personal-info__content">
							<div class="personal-info__tenders">	
								<span class="processing">В работе <i>0</i></span>
								<span class="finished">Завершенных <i>0</i></span>
							</div>
						</div>
					</div>
					<div class="personal-info__section">
						<h4  class="has-tooltip-darkRight-btn" data-tooltip="Расскажите  о себе">О себе</h4>
						<div class="personal-info__content">
							<p class="personal-info__description"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>