<div class="profile profile--my">
	<div class="profile-header move">
		<div class="container">
			<span class="profile__edit">
				<span>Мой профиль</span>
				<a href="#" class="profile__btn--edit"></a>
			</span>
			<div class="profile-avatar">
				<a href="#" class="profile-avatar__in">
					<img src="upload/avatar-4.jpg" height="126" width="126" alt="">
					<span class="profile-avatar__overlay">Загрузить фотографию</span>
				</a>
			</div>
			<div class="profile-title">
				<h1>Константин Константинопович <span>(Это вы)</span></h1>
				<div class="profile-title__rating">
					<span class="rating-total">4,7</span>
					<div class="profile-title__stars rating-5"></div>
					<span class="profile-title__eval">125 оценок</span>
				</div>
			</div>
			<a href="#" class="profile__exit btn-close"></a>
		</div>
	</div>
	<div class="container">
		<div class="content content__main">
			<div class="profile-info">
				<div class="personal-info">
					<div class="personal-info__section">
						<h4>Тендеры</h4>
						<div class="personal-info__content">
							<div class="personal-info__tenders">	
								<span class="processing">В работе <i>4</i></span>
								<span class="finished">Завершенных <i>14</i></span>
							</div>
						</div>
					</div>
					<div class="personal-info__section">
						<h4>О себе</h4>
						<div class="personal-info__content">
							<p class="personal-info__description">Имею большой опыт письменных переводов. Приятный мужчина, с хорошим чувством юмора. Не было недовольных заказчиков. Сотрудничаю с издательством. Скоро выйдит новая серия книг с моим переводомами зарубежных статей. </p>
						</div>
					</div>
					<div class="section__breaker">
						<h3>Заказанные переводы</h3>
					</div>
					<div class="personal-info__section">
						<h4>Переводы</h4>
						<div class="personal-info__content">
							<div class="lang__wrap">
								<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
							</div>
							<div class="lang__wrap">
								<div class="lang"><span>Английский</span><span>Португальский</span><span>Русский</span></div>
							</div>
							<div class="lang__wrap">
								<div class="lang"><span>Португальский</span><span>Русский</span></div>
							</div>
						</div>
					</div>
					<div class="personal-info__section">
						<h4>Специализация</h4>
						<div class="personal-info__content">
							<div class="personal-info__category">
								<span class="category ic-jur">Юриспруденция</span>
								<span class="category ic-sci">Наука</span>
								<span class="category ic-med">Медицина</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-contacts">
				<h3 class="profile-contacts__title">Переводчики, с которыми вы работали </h3>
				<div class="person-item">
					<a href="#" class="person-item__avatar"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a>
					<div class="person-item__grade">
						<span>Ваша оценка</span>
						<i class="rating-2">
							<i class="star-5"></i>
						    <i class="star-4 active"></i>
						    <i class="star-3"></i>
						    <i class="star-2"></i>
						    <i class="star-1"></i>	    
						</i>
						<div class="person-item__grade-mes mes-up">
							<span class="mes-up__title">Спасибо за оценку</span>
							<a href="#" class="mes-up__link">Оставить отзыв</a>						
						</div>	
					</div>	
					<div class="person-item__info--grade">
						<h4><a href="#">Константин Константинопович</a></h4>
						<div class="person-item__rating"><b>4,7</b><i class="rating"><i></i></i><span>12 отзывов</span></div>
						<div class="person-item__lang--grade">
							<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>	
							<div class="lang"><span>Английский</span><span>Русский</span></div>
						</div>
					</div><!--/person-item__info-->
					<div class="person-item__bot">				
						<span class="category ic-sci">Наука</span>
						<span class="category ic-med">Медицина</span>
						<span class="category ic-jur">Юриспруденция</span>					
					</div>	
				</div><!--/person-item-->
				<div class="person-item">
					<a href="#" class="person-item__avatar"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a>
					<div class="person-item__grade">
						<span>Ваша оценка</span>
						<i class="rating-2">
							<i class="star-5"></i>
						    <i class="star-4"></i>
						    <i class="star-3 active"></i>
						    <i class="star-2"></i>
						    <i class="star-1"></i>	    
						</i>
						<span class="vote">Отзыв</span>
					</div>	
					<div class="person-item__info--grade">
						<h4><a href="#">Константин Константинопович</a></h4>
						<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
						<div class="person-item__lang--grade">
						<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>					
						</div>
					</div><!--/person-item__info-->
					<div class="person-item__bot">				
						<span class="category ic-sci">Наука</span>
						<span class="category ic-med">Медицина</span>
						<span class="category ic-jur">Юриспруденция</span>					
					</div>	
				</div><!--/person-item-->
				<div class="person-item">
					<a href="#" class="person-item__avatar"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a>
					<div class="person-item__grade">
						<span>Ваша оценка</span>
						<i class="rating-2">
							<i class="star-5"></i>
						  	<i class="star-4"></i>
						  	<i class="star-3"></i>
						  	<i class="star-2"></i>
						  	<i class="star-1"></i>	    
						</i>								
					</div>								
					<div class="person-item__info--grade">
						<h4><a href="#">Константин Константинопович</a></h4>
						<div class="person-item__rating"><b>4,7</b><i class="rating"><i></i></i><span>12 отзывов</span></div>
						<div class="person-item__lang--grade">
							<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>	
						</div>
					</div><!--/person-item__info-->
					<div class="person-item__bot">				
						<span class="category ic-sci">Наука</span>
						<span class="category ic-med">Медицина</span>
						<span class="category ic-jur">Юриспруденция</span>					
					</div>	
				</div><!--/person-item-->
			</div>
		</div>
	</div>
</div>
