<div class="container">
	<div class="content">				
		<div class="content__main">
			<h2>Редактирование тендера</h2>
			<div class="form-block">
				<form action="#">
					<div class="form-block__in">				
						<div class="form-block__row form-block__row--upload">
							<span class="label">Исходник</span>
							<div class="form-block__upload-block">
								<span class="upload-block">
									<span class="upload-box">
										<span class="download-file">
											<a href="#" class="link--field"><span>For_translators.pdf</span></a>
											<button class="del"></button>
											<small>17 МБ</small>
										</span>
										<span class="btn-upload-sm">
											<label for="btn-hidden-sm"></label> 
											<input type="file" name="upload" id="btn-hidden-sm">						
										</span>
									</span>
									<span class="upload-block__insert">Или<a href="#original-text" class="fancybox btn3">Вставить текст</a></span>
								</span><!--/upload-block-->
								<div class="uploaded-files">
									<a href="#" class="uploaded-files__file pdf"></a>
									<a href="#" class="uploaded-files__file doc"></a>
									<a href="#" class="uploaded-files__file png"></a>
									<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
								</div>
							</div>
						</div><!--/form-block__row-->
						<div class="form-block__row">
							<label>Языковые пары</label>
							<div class="form-block__language-pairs">
								<div class="lang round"><span>Английский</span><span>Португальский</span><button class="del"></button></div>
								<div class="lang round"><span>Русский</span><span>Португальский</span><span>Английский</span><button class="del"></button></div>
								<a href="#" class="btn-add-sm"></a>
							</div>					
						</div>				
						<div class="form-block__row">									
							<span class="label tooltip-info">Тематика <i class="mark-qu has-tooltip-lightTop" data-tooltip="Тендер — 48 часов">?</i></span>	
							<div class="categories">
								<div class="categories__select"><span style="line-height:48px;">Юриспруденция</span></div>
								<div class="categories__dropdown">
									<ul class="categories__list">
										<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
										<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
										<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
										<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
										<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
										<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
										<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
										<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
										<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
										<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
										<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
										<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
										<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
									</ul>
								</div>
							</div>				
						</div><!--/form-block__row-->
						<div class="form-block__row">									
							<label>Название</label><input class="field w580 req-field req" type="text" value="Срочный перевод документов">						
						</div>
						<div class="form-block__row" style="display: none">
							<a class="link link--dotted link--warr m-left140" href="#">Дополнительно: срок и описание</a>
						</div>	
						<div class="form-block__row">									
							<label class="m-top10">Описание</label>
							<textarea cols="30" rows="10" placeholder="Необязательно" class="h100 w580"></textarea>		
						</div>
						<div class="form-block__row time-complete">									
							<label>Время на перевод</label>
							<div class="plus-minus">
								<div class="in">
									<button class="plus-btn">+</button>
									<input type="text" value="1" class="plus-minus-value">
									<button class="minus-btn">&ndash;</button>
								</div>
							</div>
							<span class="radio-txt">
								<input type="radio" id="in-hour2" name="rdF">	
								<label for="in-hour2">В часах</label>
								<input type="radio" id="in-day2" name="rdF">	
								<label for="in-day2">Днях</label>
							</span>
							<span class="note">Не указывайте, если хотите чтобы <br>время на перевод предложили участники тендера</span>						
						</div><!--/form-block__row-->								
						<div class="form-block__bot al-center">
							<div class="form-block__conditions">
								<span>Количество символов <b>12 000</b></span>
								<span class="tooltip-info">Примерная стоимость <b>5 600</b> руб. <i class="mark-qu has-tooltip-lightTop" data-tooltip="Тендер — 48 часов">?</i></span>
							</div>
							<button id="invite-tender" class="btn-main-big btn-submit" type="submit">Объявить</button>
						</div>
					</div>
				</form>
			</div><!--/form-block-->
		</div><!--/content__main-->	
	</div><!--/content-->
</div><!--/container-->
