<div class="container">
	<div class="content">
		<h2>Редактирование профиля</h2>
		<div class="form-block">
			<form>
				<div class="form-block__in">
					<div class="form-block__row">
						<label for="profile__name">Имя</label>
						<input class="field" type="text" id="profile__name">
					</div>
					<div class="form-block__row">
						<label for="profile__lastname">Фамилия</label>
						<input class="field" type="text" id="profile__lastname">
					</div>
					<div class="form-block__row">
						<label for="profile__descriptor">О себе</label>
						<textarea name="" id="" cols="30" rows="10"></textarea>
					</div>
					<div class="form-block__bot al-center">
						<button class="btn-main-big" type="submit">Сохранить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>