<div class="container">
	<div class="content">
		<div class="content__title--dialog">
			<div class="dialog-links">					
				<a href="#" class="link link--notice link--sm link--status"><span>Уведомления</span></a>
				<a href="#" class="link link--letter link--sm link--status active"><span>Сообщения</span> <i>2</i></a>
			</div>
		</div><!--/content__title-->
		<div class="content__main">
			<div class="content__leftside wide bord">	
				<div class="dialog-head">
					<h3 class="dialog-head__tender-status approving"><i></i>Тендер: <span>Перевод документов судебного производства</span></h3>
				</div>													
				<div class="person-dialog">			
					<div class="ava ava--size50">
						<div class="ava__in">
							<img src="upload/avatar-3.jpg" height="50" width="50" alt="">
						</div>
					</div>													
					<div class="person-dialog__info">
						<div class="person-dialog__info-in">
							<h4>Константин Константинопович <i class="rating-3" style="width: 60px"></i><span>(12)</span></h4>									
						</div>																			
					</div>
					<span class="card-menu-btn"><i></i></span>		
				</div><!--person-dialog-->
				<div class="scroll-pane">	
					<div class="mes-old">
						<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31 ava--online">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>
							<div class="mes-old-item__info">
								<h5>Константин Константинов</h5>
								<p>Ну привет! Помнишь, мы уже работали? <span class="mes-old-item__time">01:13</span></p>
							</div>										
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>
							<div class="mes-old-item__info">
								<h5>Я</h5>
								<p>Я ничего не помню. Но твое лицо на аве кажется знакомым. Английский хорошо знаешь? <span class="mes-old-item__time">10:16</span></p>
							</div>										
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>										
							<div class="mes-old-item__info">
								<h5>Константин Константинов</h5>
								<p>Да нормально <span class="mes-old-item__time">10:16</span></p>
							</div>
						</div>
					</div><!--/mes-old-->
					<div class="mes-old">
						<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>
							<div class="mes-old-item__info">
								<h5>Константин Константинов</h5>
								<p>Слушай, справишься за 4 дня? Только честно <span class="mes-old-item__time">01:13</span></p>
							</div>										
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>
							<div class="mes-old-item__info">
								<h5>Я</h5>
								<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
							</div>										
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>										
							<div class="mes-old-item__info">
								<h5>Константин Константинов</h5>
								<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
							</div>
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>
							<div class="mes-old-item__info">
								<h5>Я</h5>
								<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
							</div>										
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>										
							<div class="mes-old-item__info">
								<h5>Константин Константинов</h5>
								<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
							</div>
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>
							<div class="mes-old-item__info">
								<h5>Я</h5>
								<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
							</div>										
						</div>
						<div class="mes-old-item">
							<div class="mes-old-item__avatar-wrap">
								<div class="ava ava--size31">
									<div class="ava__in">
										<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
									</div>
								</div>
							</div>										
							<div class="mes-old-item__info">
								<h5>Константин Константинов</h5>
								<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
							</div>
						</div>
					</div><!--/mes-old-->
				</div><!--scroll-pane-->
				<div class="add-comment">
					<form action="#">				
						<div class="ava ava--size50">
							<div class="ava__in">
								<img src="upload/avatar-6.jpg" height="50" width="50" alt="">
							</div>
						</div>														
						<div class="add-comment__info">
							<textarea cols="30" rows="10"></textarea>
							<button class="btn-main2" type="submit">Отправить</button>
						</div>
					</form>
				</div>	
			</div><!--/content__leftside-->
			<div class="content__rightside wide m-top0">
				<div class="msgpreview">
					<div class="msgpreview__head">
						<div class="msgpreview__links">
							<a href="#" class="link link--sm active">Все</a>
							<a href="#" class="link link--dotted link--sm">Непрочитанное</a>
						</div>							
						<div class="search">
							<form>
								<input type="text" class="search__field focus">
								<button class="search__btn"></button>
								<span class="search__over"></span>
							</form>
						</div>						
					</div><!--/msgpreview__head-->
					<div class="msgpreview__check-all" style="display: none;">
						<form>
							<div class="msgpreview__checkbox">
								<input type="checkbox" id="ch-all"><label for="ch-all" class="check-all"><span>Выделить все</span></label>
							</div>
						</form>
						<span class="card-menu-btn"><i></i></span>
					</div>
					<div class="msgpreview__item msgpreview__item--processing msgpreview__item--new">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch1"><label for="ch1"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--approving msgpreview__item--active">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch2"><label for="ch2"></label>
									</div>
								</form>

								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Вчера</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--opened msgpreview__item--seen">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch3"><label for="ch3"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--opened msgpreview__item--seen">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch4"><label for="ch4"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--processing msgpreview__item--seen">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch5"><label for="ch5"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--finished msgpreview__item--seen">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch6"><label for="ch6"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--processing msgpreview__item--new">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch7"><label for="ch7"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--approving msgpreview__item--seen">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch8"><label for="ch8"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
					<div class="msgpreview__item msgpreview__item--processing msgpreview__item--seen">
						<div class="msgpreview__inborder">
							<div class="msgpreview__wrapper ">
								<form>
									<div class="msgpreview__checkbox">
										<input type="checkbox" id="ch9"><label for="ch9"></label>
									</div>
								</form>
								<div class="msgpreview__avatar">
									<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
								</div>
							</div>
							<div class="msgpreview__textwrapper ">
								<span class="msgpreview__date">Сегодня</span>
								<span class="msgpreview__time">01:03</span>
								<span class="msgpreview__texthead">Перевод документов судебно ...</span>
								<span class="msgpreview__name">Константин Константинов...</span>
								<span class="msgpreview__text">Привет! Ну как вам перевод?</span>
							</div>
						</div>
					</div><!-- /msgpreview__item -->
				</div><!--/msgpreview-->
			</div><!--/content__rightside-->												
		</div> <!--/content__main-->	
	</div>	<!--/content-->			
</div><!--/container-->
