<div class="container">
	<div class="content">
		<div class="content__title--dialog">
			<div class="dialog-links">					
				<a href="#" class="link link--notice link--sm link--status"><span>Уведомления</span></a>
				<a href="#" class="link link--letter link--sm link--status active"><span>Сообщения</span> <i>2</i></a>
			</div>
		</div><!--/content__title-->
		<div class="content__main">									
			<div class="msgpreviewwide">
				<div class="msgpreviewwide__head">
					<button class="btn-main2">Написать новое сообщение</button>		
					<div class="msgpreviewwide__links">
						<a href="#" class="link link--sm active">Все</a>
						<a href="#" class="link link--dotted link--sm">Непрочитанное</a>
					</div>							
					<div class="search">
						<form>
							<input type="text" class="search__field focus">
							<button class="search__btn"></button>
							<span class="search__over"></span>
						</form>
					</div>											
				</div><!--/msgpreview__head-->
				<div class="msgpreviewwide__check-all" style="display:none;">
					<form>
						<div class="msgpreviewwide__checkbox">
							<input type="checkbox" id="ch-all"><label for="ch-all" class="check-all"><span>Выделить все</span></label>
						</div>
					</form>
					<span class="card-menu-btn"><i></i></span>
				</div>						
				<div class="msgpreviewwide__item msgpreviewwide__item--approving">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch1"><label for="ch1">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>									
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
							
							<span class="msgpreviewwide__text msgpreviewwide__text--arrowreply">Добрый день! Всю неделю ждал ваш перевод. Где он? Готов жаловаться...</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
				<div class="msgpreviewwide__item msgpreviewwide__item--opened msgpreviewwide__item--new">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch2"><label for="ch2">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>
						
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
							
							<span class="msgpreviewwide__text">
							Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?
							</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
				<div class="msgpreviewwide__item msgpreviewwide__item--approving ">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch3"><label for="ch3">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>						
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
							
							<span class="msgpreviewwide__text msgpreviewwide__text--arrowreply">Добрый день! Всю неделю ждал ваш перевод. Где он? Готов жаловаться...</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
				<div class="msgpreviewwide__item msgpreviewwide__item--finished ">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch4"><label for="ch4">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>						
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>			
							<span class="msgpreviewwide__text msgpreviewwide__text--arrowreply">Добрый день! Всю неделю ждал ваш перевод. Где он? Готов жаловаться...</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
				<div class="msgpreviewwide__item msgpreviewwide__item--approving ">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch5"><label for="ch5">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>						
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>	
							<span class="msgpreviewwide__text">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
				<div class="msgpreviewwide__item msgpreviewwide__item--finished ">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch6"><label for="ch6">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>						
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
							
							<span class="msgpreviewwide__text ">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
				<div class="msgpreviewwide__item msgpreviewwide__item--approving ">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch7"><label for="ch7">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>						
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>
							
							<span class="msgpreviewwide__text ">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
				<div class="msgpreviewwide__item msgpreviewwide__item--finished">
					<div class="msgpreviewwide__inborder">
						<div class="msgpreviewwide__wrapper ">
							<form>
								<div class="msgpreviewwide__checkbox">
									<input type="checkbox" id="ch8"><label for="ch8">
									</label>
								</div>
							</form>
						</div>
						<div class="msgpreviewwide__avatar">
							<img src="upload/avatar-1.jpg" height="46" width="46" alt="">
						</div>						
						<div class="msgpreviewwide__textwrapper ">
							<span class="msgpreviewwide__name">Иван Иванович</span>
							<span class="msgpreviewwide__texthead">Перевод документов судебно ...</span>			
							<span class="msgpreviewwide__text ">Добрый день! получили перевод? я работал над ним всю неделю. Будут правки?</span>
						</div>
						<div class="msgpreviewwide__timewrapper">
							<span class="msgpreviewwide__date">29 августа 2015</span>
							<span class="msgpreviewwide__time">01:03</span>
						</div>	
					</div>
				</div><!-- /msgpreviewwide__item -->
			</div><!--/msgpreviewwide-->															
		</div> <!--/content__main-->	
	</div>	<!--/content-->			
</div><!--/container-->
