<div class="container">
	<div class="content">
		<div class="content__title">					
			<h2>Поиск тендеров</h2>					
		</div><!--/content__title-->
		<div class="content__main">
			<div class="content__leftside">
				<div class="content__tender-info">
					<div class="in">
						<a href="#" class="link--status active opened"><span>Подходящие</span> <i>61</i></a>
						<a href="#" class="link--status opened"><span>Все</span><i>678</i></a>		
						<a href="#" class="link--status opened"><span>Участвую</span><i>4</i></a>
					</div>
				</div>
				<div class="content__tender-lists">							
					<div class="content__tender-list">
						<div class="tender-list-date">Сегодня, 29 сентября</div>
						<div class="tender-item">							
							<div class="tender-item__info">
								<button class="btn-main2-sm">Участвовать</button>
								<div class="time-publ">21:16</div>
								<div class="lang"><span>Английский</span><span>Португальский</span></div>	
								<h4>Вступительная статья нобелевского лауреата для английской версии журнала «Плутон каким мы его еще не видели»</h4>
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-sci">Наука</span>							
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">									 	
									<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
								</div>								
							</div>												
						</div><!--/tender-item-->
						<div class="tender-item">							
							<div class="tender-item__info">
								<button class="btn-main2-sm">Участвовать</button>
								<div class="time-publ">21:16</div>
								<div class="lang"><span>Русский</span><span>Португальский</span></div>		
								<h4>Перевод на европейские языки инструкции и расписания по уходу за больными</h4>
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-med">Медицина</span>							
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>5</b> дней</span>	
								<div class="tender-item__avatar-block">									 	
									<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
								</div>								
							</div>												
						</div><!--/tender-item-->
						<div class="tender-item">							
							<div class="tender-item__info">
								<button class="btn-main2-sm">Участвовать</button>
								<div class="time-publ">21:16</div>
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>	
								<h4>Перевод документов судебного процесса для паспорта</h4>
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>							
								<span class="quantity"><b>5400</b> символов</span>							
								<div class="tender-item__avatar-block">									 	
									<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
								</div>								
							</div>												
						</div><!--/tender-item-->								
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<div class="tender-list-date">Вчера, 28 сентября</div>
						<div class="tender-item">							
							<div class="tender-item__info">
								<button class="btn-main2-sm">Участвовать</button>
								<div class="time-publ">21:16</div>
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>		
								<h4>Перевод документов судебного процесса для получения паспорта с указанием двойного гражданства</h4>
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>							
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">									 	
									<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
								</div>								
							</div>												
						</div><!--/tender-item-->
						<div class="tender-item">							
							<div class="tender-item__info">
								<button class="btn-main2-sm">Участвовать</button>
								<div class="time-publ">21:16</div>
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>		
								<h4>Перевод документов судебного процесса для получения паспорта с указанием двойного гражданства</h4>
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>							
								<span class="quantity"><b>5400</b> символов</span>						
								<div class="tender-item__avatar-block">									 	
									<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
								</div>								
							</div>												
						</div><!--/tender-item-->
						<div class="tender-item">							
							<div class="tender-item__info">
								<button class="btn-main2-sm">Участвовать</button>
								<div class="time-publ">21:16</div>
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>		
								<h4>Перевод на европейские языки инструкции и расписания по уходу за больными</h4>
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>							
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">									 	
									<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
								</div>								
							</div>												
						</div><!--/tender-item-->								
					</div><!--content__tender-list-->
				</div><!--content__tender-lists-->						
			</div><!--/content__leftside-->
			<div class="content__rightside">
				<div class="form-narrow">
					<div class="form-narrow__main-title">
						<h4>Параметры поиска</h4>
					</div>
					<form action="#">	
						<div class="form-narrow__section">
							<span class="form-narrow__head">Языковая пара</span>								
							<label class="form-narrow__label">Язык оригинала</label>
							<div class="form-narrow__langlist form-narrow__langlist--bgarrow">
								<div class="language language-to-right">
									//= ../../template/_lang_list.html
								</div>
							</div>
							<label class="form-narrow__label">Язык перевода</label>
							<div class="form-narrow__langlist">
								<div class="language language-to-right">
									//= ../../template/_lang_list.html
								</div>
							</div>								
						</div><!--/form-narrow__section-->	
						<div class="form-narrow__section">
							<span class="form-narrow__head">Исходник</span>								
							<span class="form-narrow__title">Количество символов</span>
							<div class="form-narrow__row">
								<label class="form-narrow__label">от</label>
								<input class="form-narrow__input" type="text" value="200">
								<label class="form-narrow__label">до</label>
								<input class="form-narrow__input form-narrow__input--mgn" type="text" value="2000">
							</div>
							<span class="form-narrow__title form-narrow__title--bginf ">Тематика</span>
							<div class="form-narrow__categories">											
								<div class="categories">
									<div class="categories__select">
										<span style="line-height:48px; font-size: 16px;">Юриспруденция</span>
									</div>
									<div class="categories__dropdown">
									<ul class="categories__list">
										<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
										<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
										<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
										<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
										<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
										<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
										<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
										<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
										<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
										<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
										<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
										<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
										<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
									</ul>
									</div>
								</div>
							</div>				
						</div>
						<div class="form-narrow__section">
							<span class="form-narrow__head">Условия</span>
							<span class="form-narrow__title form-narrow__title--icclock ">Срок в днях</span>	
							<div class="form-narrow__row">									
								<label class="form-narrow__label">от</label>
								<input class="form-narrow__input" type="text" value="0">
								<label class="form-narrow__label">до</label>
								<input class="form-narrow__input form-narrow__input--mgn" type="text" value="20">
							</div>
							<input class="form-narrow__btnsubmit" type="submit" value="Применить">
							<input class="form-narrow__btnreset" type="submit" value="Сбросить">				
						</div>
					</form>			
				</div><!--/form-narrow-->
			</div><!--/content__rightside-->
		</div><!--/content__main-->
	</div><!--/content-->
</div><!--/container-->		