<div class="container">
	<div class="content">
		<div class="content__title">					
			<h2>Мои тендеры</h2>
			<a href="#" class="btn-add-sm"></a>
			<div class="search">
				<form>
					<input type="text" class="search__field">
					<button class="search__btn"></button>
					<span class="search__over"></span>
				</form>
			</div>
		</div><!--/content__title-->
		<div class="content__main">
			<div class="content__leftside">
				<div class="content__tender-info">
					<div class="in">							
						<a href="#processing" class="link--status processing"><span>В работе</span><i>2</i></a>		
						<a href="#approving" class="link--status approving"><span>На утверждении</span><i>3</i></a>	
						<a href="#finished" class="link--status finished"><span>Завершенные</span><i>1</i></a>
					</div>
				</div>
				<div class="content__tender-lists">							
					<div class="content__tender-list">
						<h3 id="processing">В работе</h3>
						<div class="tender-item processing">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>							
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>				
								<div class="tender-item__avatar-block">
									<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes active"></a>
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:60%"></div></div>	
							<div class="tender-item__progress">
								<span class="stade">14 дней</span>										
							</div>
						</div><!--/tender-item-->
						<div class="tender-item processing">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>						
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>				
								<div class="tender-item__avatar-block">
									<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes"></a>
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:60%"></div></div>	
							<div class="tender-item__progress">
								<span class="stade">6 часов</span>										
							</div>
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<h3 id="approving">На утверждении</h3>
						<div class="tender-item approving">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>							
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes active"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:80%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">3 дня</span>										
							</div>					
						</div><!--/tender-item-->
						<div class="tender-item approving">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Вступительная статья нобелевского лауреата для английской версии журнала «Плутон каким мы его еще не видели»</h4>										
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:70%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">3 дня</span>										
							</div>					
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<h3>На экспертизе</h3>
						<div class="tender-item approving">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Вступительная статья нобелевского лауреата для английской версии журнала «Плутон каким мы его еще не видели»</h4>											
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:100%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">14 дней</span>										
							</div>					
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
					<div class="content__tender-list">
						<h3 id="finished">Завершенные</h3>
						<div class="tender-item finished">							
							<div class="tender-item__info">
								<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>
								<div class="price"><b>5000</b> руб.</div>
								<h4>Перевод документов судебного процесса для паспорта</h4>							
							</div><!--/tender-item__info-->							
							<div class="tender-item__bot">
								<span class="category ic-jur">Юриспруденция</span>									
								<span class="quantity"><b>5400</b> символов</span>
								<span class="time"><b>14</b> дней</span>	
								<div class="tender-item__avatar-block">
								 	<div class="ava ava--size31">
										<div class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</div>
									</div>
									<a href="#" class="tender-item__mes active"></a> 
								</div>								
							</div>
							<div class="tender-item__status"><div class="status" style="width:100%"></div></div>
							<div class="tender-item__progress">
								<span class="stade">3 дня</span>										
							</div>					
						</div><!--/tender-item-->
					</div><!--content__tender-list-->
				</div><!--content__tender-lists-->
				<div class="content__tender-list suit">	
					<h3>Открытые тендеры, которые вам подойдут</h3>
					<div class="tender-item">							
						<div class="tender-item__info">
							<button class="btn-main2-sm">Участвовать</button>
							<div class="time-publ">21:16</div>
							<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>									
							<h4>Перевод на европейские языки инструкции и расписания по уходу за больными</h4>		
						</div><!--/tender-item__info-->							
						<div class="tender-item__bot">
							<span class="category ic-jur">Юриспруденция</span>									
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>	
							<div class="tender-item__avatar-block">									 	
								<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
							</div>								
						</div>												
					</div><!--/tender-item-->
					<div class="tender-item">							
						<div class="tender-item__info">
							<button class="btn-main2-sm">Участвовать</button>
							<div class="time-publ">21:16</div>
							<div class="lang"><span>Английский</span><span>Русский</span><span>Португальский</span></div>									
							<h4>Перевод на европейские языки инструкции и расписания по уходу за больными</h4>		
						</div><!--/tender-item__info-->							
						<div class="tender-item__bot">
							<span class="category ic-jur">Юриспруденция</span>									
							<span class="quantity"><b>5400</b> символов</span>
							<span class="time"><b>14</b> дней</span>	
							<div class="tender-item__avatar-block">									 	
								<a href="#" class="tender-item__mes tender-item__mes--num">2</a> 
							</div>								
						</div>												
					</div><!--/tender-item-->
				</div><!--content__tender-list-->
			</div><!--/content__leftside-->
			<div class="content__rightside">
				<h4>Уведомления</h4>
				<div class="notifications">
					<div class="notice">
						<div class="notice__head">Сегодня, 7 августа</div>
						<div class="notice__item ic_messages">5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков</div>
						<div class="notice__item ic_time">Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.</div>
						<div class="notice__item ic_tender">Срок тендера истек. Тендер перенесен в архив.</div>
						<div class="notice__item ic_messages">5 Новых откликов от Михаила Михаиловича и еще 4 переводчиков</div>
						<div class="notice__item ic_time">Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.</div>
						<div class="notice__item ic_tender">Срок тендера истек. Тендер перенесен в архив.</div>
					</div>
				</div><!--/notifications-->
			</div><!--/content__rightside-->
		</div><!--/content__main-->
	</div><!--/content-->
</div><!--/container-->
