<div class="profile">
	<div class="profile-header">
		<div class="container">
			<span class="close-tips has-tooltip-darkTopLeft-btn" data-tooltip="Закрыть все подсказки"></span>
			<div class="profile-avatar has-tooltip-darkLeft-btn" data-tooltip="Добавьте фотографию">
				<span class="profile-avatar__in"><img src="upload/avatar-4.jpg" height="126" width="126" alt=""></span>
			</div>
			<div class="profile-title">
				<h1>Константин Константинопович </h1>
				<div class="profile-title__rating">
					<span class="rating-total">4,7</span>
					<div class="profile-title__stars rating-5"></div>
					<span class="profile-title__eval">125 оценок</span>
				</div>
			</div>
			<a href="#" class="profile__exit btn-close"></a>
		</div>
	</div>
	<div class="container">
		<div class="content content__main">
			<div class="content__leftside wide">
				<div class="profile-info">
					<div class="personal-info">
						<div class="personal-info__section">
							<h4>Переводы</h4>
							<div class="personal-info__content">
								<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
								<div class="lang"><span>Английский</span><span>Португальский</span><span>Русский</span></div>
								<div class="lang"><span>Португальский</span><span>Русский</span></div>
							</div>
						</div>
						<div class="personal-info__section">
							<h4>Специализация</h4>
							<div class="personal-info__content">
								<div class="personal-info__category">
									<span class="category ic-jur">Юриспруденция</span>
									<span class="category ic-sci">Наука</span>
									<span class="category ic-med">Медицина</span>
								</div>
							</div>
						</div>
						<div class="personal-info__section">
							<h4>Тендеры</h4>
							<div class="personal-info__content">
								<div class="personal-info__tenders">	
									<span class="processing">В работе <i>4</i></span>
									<span class="finished">Завершенных <i>14</i></span>
								</div>
							</div>
						</div>
						<div class="personal-info__section pb-16">
							<h4>Образование</h4>
							<div class="personal-info__content">
								<p>СПбГУ’12, факультет иностранных языков</p>
							</div>
						</div>
						<div class="personal-info__section">
							<h4 class="has-tooltip-darkLeft-btn"  data-tooltip="Расскажите о себе">О себе</h4>
							<div class="personal-info__content">
								<p class="personal-info__description">Имею большой опыт письменных переводов, Приятный мужчина, с хорошим чувством юмора. Не было недовольных заказчиков. Сотрудничаю с издательствами. Скоро выйдет новая серия книг с моим переводом.</p>
							</div>
						</div>
						<div class="personal-info__section personal-info__section--docs">
							<h4>Документы, подтверждающие квалификацию</h4>
							<div class="personal-info__content">
								<a href="#" class="qualification-proof">
									<img src="upload/qualification-doc-1.jpg" height="112" width="156" alt="">
								</a>
								<a href="#" class="qualification-proof">
									<img src="upload/qualification-doc-2.jpg" height="112" width="158" alt="">
								</a>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="content__rightside wide">
				<div class="profile-hint">
					<h4>Еще с рейтингом <span class="rating-total">4,7</span></h4>
					<div class="translator-block">
						<div class="translator-block__avatar-wrap">
							<div class="ava ava--size31">
								<div class="ava__in">
									<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
								</div>
							</div>
						</div>
						<div class="translator-block__info">
							<h5>Константин Константинов</h5>
							<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
						</div>
					</div>
					<div class="translator-block">
						<div class="translator-block__avatar-wrap">
							<div class="ava ava--size31">
								<div class="ava__in">
									<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
								</div>
							</div>
						</div>
						<div class="translator-block__info">
							<h5>Константин Константинов</h5>
							<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
						</div>
					</div>
					<div class="translator-block">
						<div class="translator-block__avatar-wrap">
							<div class="ava ava--size31">
								<div class="ava__in">
									<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
								</div>
							</div>
						</div>
						<div class="translator-block__info">
							<h5>Константин Константинов</h5>
							<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
						</div>
					</div>
				</div>
				<div class="profile-hint">
					<h4>Еще со статусом PRO</h4>
					<div class="translator-block">
						<div class="translator-block__avatar-wrap">
							<div class="ava ava--size31">
								<div class="ava__in">
									<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
								</div>
							</div>
						</div>
						<div class="translator-block__info">
							<h5>Константин Константинов</h5>
							<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
						</div>
					</div>
					<div class="translator-block">
						<div class="translator-block__avatar-wrap">
							<div class="ava ava--size31">
								<div class="ava__in">
									<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
								</div>
							</div>
						</div>
						<div class="translator-block__info">
							<h5>Константин Константинов</h5>
							<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
						</div>
					</div>
					<div class="translator-block">
						<div class="translator-block__avatar-wrap">
							<div class="ava ava--size31">
								<div class="ava__in">
									<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
								</div>
							</div>
						</div>
						<div class="translator-block__info">
							<h5>Константин Константинов</h5>
							<div class="translator-block__rating"><b>4,7</b><i class="rating-3" style="width: 60px"></i><span>(12)</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="feedback">
				<div class="feedback__summary">
					<div class="circle-bar">
						<div class="circle-bar__field">
							 <input class="knob"    data-readOnly="true" data-step=".1" data-fgColor="#000000" data-width="140" data-thickness=".02"  data-bgColor="#ffffff" data-min="0" data-max="5" data-displayPrevious=true value="4.7">							
						</div>
					 	<div class="circle-bar__txt">Оценок <i>12</i></div>
					 </div>						
				</div>
				<div class="feedback__field">
					<h3>Отзывы</h3>
					<div class="feedback__item">
						<div class="feedback__avatar">
							<div class="ava ava--size43">
								<div class="ava__in">
									<img src="upload/avatar-7.jpg" height="44" width="44" alt="">
								</div>
							</div>
						</div>
						<div class="feedback__content">
							<div class="feedback__title">
								<a href="#" class="feedback__username">Марья Ивановна </a>
								<i class="feedback__date">29 августа 2015</i>
								<div class="lang"><span>Португальский</span><span>Русский</span></div>
							</div>
							<div class="feedback__text">
								<p>Неплохо, но лучше бы. Одно из требований проекта: подчеркнуть его академичность книжной вёрсткой, где строго рассчитано отношение ширины текстовой полосы </p>
							</div>
							<div class="feedback__rating">
								<div class="person-item__rating"><b>3.1</b><i class="rating"><i style="width:80px;"></i></i></div>
							</div>								
						</div>
						<a href="#" class="btn2">Ответить</a>
					</div>
					<div class="feedback__item">
						<div class="feedback__avatar">
							<div class="ava ava--size43">
								<div class="ava__in">
									<img src="upload/avatar-7.jpg" height="44" width="44" alt="">
								</div>
							</div>
						</div>
						<div class="feedback__content">
							<div class="feedback__title">
								<a href="#" class="feedback__username">Марья Ивановна </a>
								<i class="feedback__date">29 августа 2015</i>
								<div class="lang"><span>Португальский</span><span>Русский</span></div>
							</div>
							<div class="feedback__text">
								<p>Неплохо, но лучше бы. Одно из требований проекта: подчеркнуть его академичность книжной вёрсткой, где строго рассчитано отношение ширины текстовой полосы </p>
							</div>
							<div class="feedback__rating">
								<div class="person-item__rating"><b>3.1</b><i class="rating"><i style="width:80px;"></i></i></div>
							</div>								
						</div>
						<a href="#" class="btn2">Ответить</a>
					</div>
					<div class="feedback__item">
						<div class="feedback__avatar">
							<div class="ava ava--size43">
								<div class="ava__in">
									<img src="upload/avatar-7.jpg" height="44" width="44" alt="">
								</div>
							</div>
						</div>
						<div class="feedback__content">
							<div class="feedback__title">
								<a href="#" class="feedback__username">Марья Ивановна </a>
								<i class="feedback__date">29 августа 2015</i>
								<div class="lang"><span>Португальский</span><span>Русский</span></div>
							</div>
							<div class="feedback__text">
								<p>Неплохо, но лучше бы. Одно из требований проекта: подчеркнуть его академичность книжной вёрсткой, где строго рассчитано отношение ширины текстовой полосы </p>
							</div>
							<div class="feedback__rating">
								<div class="person-item__rating"><b>3.1</b><i class="rating"><i style="width:80px;"></i></i></div>
							</div>
						</div>
						<a href="#" class="btn2">Ответить</a>
					</div>
					<div class="feedback__reply">
						<span class="feedback__note">Ваш ответ</span>
						<div class="feedback__item">
							<div class="feedback__avatar">
								<div class="ava ava--size43">
									<div class="ava__in">
										<img src="upload/avatar-2.jpg" height="70" width="70" alt="">
									</div>
								</div>
							</div>
							<div class="feedback__content">
								<div class="feedback__title">
									<a href="#" class="feedback__username">Константин Константинопович</a>
									<i class="feedback__date">29 августа 2015</i>
								</div>
								<div class="feedback__text">
									<p>Не понимаю что вы этим хотите сказать. Я предлагал варианты, а вы сами отказались. Перфекционизм еще никого до добра не доводил. Вот и вас не довел.</p>
								</div>
							</div>
						</div>							
					</div>
					<div class="feedback__item">
						<div class="feedback__avatar">
							<div class="ava ava--size43">
								<div class="ava__in">
									<img src="upload/avatar-7.jpg" height="44" width="44" alt="">
								</div>
							</div>
						</div>
						<div class="feedback__content">
							<div class="feedback__title">
								<a href="#" class="feedback__username">Марья Ивановна </a>
								<i class="feedback__date">29 августа 2015</i>
								<div class="lang"><span>Португальский</span><span>Русский</span></div>
							</div>
							<div class="feedback__text">
								<p>Неплохо, но лучше бы. Одно из требований проекта: подчеркнуть его академичность книжной вёрсткой, где строго рассчитано отношение ширины текстовой полосы </p>
							</div>
							<div class="feedback__rating">
								<div class="person-item__rating"><b>3.1</b><i class="rating"><i style="width:80px;"></i></i></div>
							</div>
						</div>
						<a href="#" class="btn2">Ответить</a>
					</div>
					<div class="feedback__item">
						<div class="feedback__avatar">
							<div class="ava ava--size43">
								<div class="ava__in">
									<img src="upload/avatar-7.jpg" height="44" width="44" alt="">
								</div>
							</div>
						</div>
						<div class="feedback__content">
							<div class="feedback__title">
								<a href="#" class="feedback__username">Марья Ивановна </a>
								<i class="feedback__date">29 августа 2015</i>
								<div class="lang"><span>Португальский</span><span>Русский</span></div>
							</div>
							<div class="feedback__text">
								<p>Неплохо, но лучше бы. Одно из требований проекта: подчеркнуть его академичность книжной вёрсткой, где строго рассчитано отношение ширины текстовой полосы </p>
							</div>
							<div class="feedback__rating">
								<div class="person-item__rating"><b>3.1</b><i class="rating"><i style="width:80px;"></i></i></div>
							</div>
						</div>
						<a href="#" class="btn2">Ответить</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	