		<div class="container">
			<div class="content">
				<div class="content__title--dialog">
					<div class="dialog-links">					
						<a href="#" class="link link--notice link--sm link--status active"><span>Уведомления</span><i>12</i></a>
						<a href="#" class="link link--letter link--sm link--status"><span>Сообщения</span> <i>2</i></a>
					</div>
				</div><!--/content__title-->
				<div class="content__main">		
					<div class="notificationwide">
						<div class="notificationwide__head">
							Сегодня, 7 августа
						</div>
						<div class="notificationwide__item notificationwide__item--ic-mes">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text"><b>Михаил Михаилович</b> и еще 2  переводчика откликнулись на тендер</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-circle">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">Остался 1 час чтобы выбрать переводчика. После — тендер будет закрыт.</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-cube">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">Срок тендера истек. Тендер перенесен в архив.</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-coin">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">Вы предварительно оплатили перевод. На счету заморожено: 5 000 р. Остаток: 200 руб.</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>	
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-mescr">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text"><b>Михаил Михаилович</b> отказался от участия в тендере. На вашем счету разморожено: 2 000 руб</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-arrdown">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text"><b>Алексей Алексеевич</b> загрузил часть перевода</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">
									15:34
								</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-sheet">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text"><b>Семен Семенович</b> загрузил весь текст перевода</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>	
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-med">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">Экспертиза подтвердила качество перевода. Ваша жалоба отклонена.</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item  notificationwide__item--brdbotom notificationwide__item--ic-medcr">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">Экспертиза подтвердила низкое качество перевода. Переводчику отказано в работе.</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>	
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__head">Вчера, 6 августа</div>
						<div class="notificationwide__item notificationwide__item--ic-arrcoinl">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">На счет поступили 18 000 руб.</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-arrcoinr">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">Работа Алексея Алесеевича оплачена. Со счёта списано: 5000 руб. Остаток: 200 руб.</span>
								<a href="" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-magnifier">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text">Объявлены новые подходящие для вас тендеры</span>
								<a href="#" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
								<span class="notificationwide__inlink">и еще</span>
								<a href="#" class="notificationwide__link">5</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-sheetapr">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text"><b>Алексей Алексеевич</b> одобрил перевод</span>
								<a href="#" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
						<div class="notificationwide__item notificationwide__item--ic-sheetcr">
							<div class="notificationwide__wraptext">
								<span class="notificationwide__text"><b>Семен Семенович</b> пожаловался на перевод</span>
								<a href="#" class="notificationwide__link">Перевод документов судебного процесса для паспорта</a>
							</div>
							<div class="notificationwide__wraptime">
								<span class="notificationwide__time">15:34</span>
							</div>
						</div><!--/notificationwide__item-->
					</div><!--/notificationwide-->
				</div> <!--/content__main-->	
			</div>	<!--/content-->			
		</div><!--/container-->
		