<div class="content-head">
	<div class="container">
		<div class="content-head__content">	
			<div class="content-head__lang content-head__lang--move">
				<div class="lang round"><span>Английский</span><span>Португальский</span></div>	
			</div>
			<div class="content-head__content-info">		
				<h1>Перевод вступительной статьи главного врача стоматологической поликлиники</h1>
				<ol class="content-head__stage-list">
					<li class="active"><span>Вас выбрали переводчиком</span></li>
					<li class="to-down">
						<b>1 день, 3 часа, 45 мин</b>	
						<span>Работа над переводом</span>
						<div class="progress-bar">
							<div class="progress-bar__doc">
								<i style="left: 5%"></i>
								<i style="left: 35%"><span>12 сентября 10:45</span></i>						
							</div>
							<div class="progress-bar__line">
								<div class="progress-bar__line-progress processing" style="width: 70%;"></div>
							</div>
							<div class="progress-bar__info">
								<i class="progress-bar__start">9 сентября 10:45</i>							
								<i class="progress-bar__end">15 сентября 10:45</i>
								<i class="progress-bar__duration">6 дней</i>
							</div>
						</div>
					</li>
					<li><span>Утверждение</span></li>					
				</ol>					</div>
			<a href="#" class="btn-close2"></a>						
		</div><!--/content-head__content-->			
	</div><!--/container-->
</div><!--/content__head-->
<div class="container">
	<div class="content p-top0 m-top-m50">
		<div class="tabs">
			<div class="tabs__head">
				<a href="#tab-content-1" class="tab__title tab__title--processing"><span>Условия</span></a>
				<a href="#tab-content-2" class="tab__title tab__title--processing"><span>Диалог</span></a>
				<a href="#tab-content-3" class="tab__title tab__title--processing tab__title--active"><span>Перевод</span></a>
			</div>
			<div class="tabs__content">
				<div class="tab-content" id="tab-content-1" style="display:none;">
					контент таба-1		
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-2" style="display:none;">
					контент таба-2		
				</div> <!--/tab__content-->		
				<div class="tab-content" id="tab-content-3" style="display:block;">
					<div class="form-block">
						<form action="#">
							<div class="form-block__in">				
								<div class="form-block__row form-block__row--upload">
									<span class="label">Текст</span>
									<div class="form-block__upload-block">
										<span class="upload-block">
											<span class="upload-box">
												<span class="btn-upload">
													<label for="btn-hidden">Загрузить файл</label> 
													<input type="file" name="upload" id="btn-hidden">							
												</span>
												<small class="inf">Можно перетянуть сюда</small>
											</span>
											<span class="upload-block__insert">Или<a href="#original-text" class="fancybox btn3">Вставить текст</a></span>
										</span><!--/upload-block-->
										<div class="uploaded-files">
											<a href="#" class="uploaded-files__file pdf"></a>
											<a href="#" class="uploaded-files__file doc"></a>
											<a href="#" class="uploaded-files__file png"></a>
											<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
										</div>
									</div>
								</div><!--/form-block__row-->
								<div class="form-block__row">
									<span class="label">Вы загрузили</span>
									<div class="form-block__radio-txt">
										<span class="radio-txt">
											<input type="radio" id="all-text" name="rdN">	
											<label for="all-text">Весь текст</label>
											<input type="radio" id="part-text" name="rdN">	
											<label for="part-text">Фрагмент</label>
										</span>	
									</div>																
								</div><!--/form-block__row-->
								<div class="form-block__row">
									<label>Комментарий</label>
									<textarea cols="30" rows="10" class="h122" placeholder="Необязательно"></textarea>					
								</div><!--/form-block__row-->
								<div class="form-block__bot al-center">					
									<button class="btn-main-big btn-submit" type="submit">Отправить</button>
								</div>
							</div><!--/form-block__in-->
						</form>
					</div><!--/form-block-->		
				</div> <!--/tab__content-->	
			</div> <!--/tabs__content-->						
		</div> <!--/tabs-->	
	</div>	<!--/content-->			
</div><!--/container-->
