<div class="content-head">
	<div class="container">
		<div class="content-head__content">	
			<div class="content-head__lang content-head__lang--move">
				<div class="lang round"><span>Английский</span><span>Португальский</span></div>	
			</div>
			<div class="content-head__content-info">		
				<h1>Перевод вступительной статьи главного врача стоматологической поликлиники</h1>
				<ol class="content-head__stage-list">
					<li class="active"><span>Вас выбрали переводчиком</span></li>
					<li class="to-down">
						<b>1 день, 3 часа, 45 мин</b>	
						<span>Работа над переводом</span>
						<div class="progress-bar">
							<div class="progress-bar__doc">
								<i style="left: 5%"></i>
								<i style="left: 35%"><span>12 сентября 10:45</span></i>						
							</div>
							<div class="progress-bar__line">
								<div class="progress-bar__line-progress processing" style="width: 70%;"></div>
							</div>
							<div class="progress-bar__info">
								<i class="progress-bar__start">9 сентября 10:45</i>							
								<i class="progress-bar__end">15 сентября 10:45</i>
								<i class="progress-bar__duration">6 дней</i>
							</div>
						</div>
					</li>
					<li><span>Утверждение</span></li>					
				</ol>					</div>
			<a href="#" class="btn-close2"></a>						
		</div><!--/content-head__content-->			
	</div><!--/container-->
</div><!--/content__head-->
<div class="container">
	<div class="content p-top0 m-top-m50">
		<div class="tabs">
			<div class="tabs__head">
				<a href="#tab-content-1" class="tab__title tab__title--processing"><span>Условия</span></a>
				<a href="#tab-content-2" class="tab__title tab__title--processing  tab__title--active"><span>Диалог</span></a>
				<a href="#tab-content-3" class="tab__title tab__title--processing"><span>Перевод</span></a>
			</div>
			<div class="tabs__content">
				<div class="tab-content" id="tab-content-1" style="display:none;">
					контент таба-1		
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-2" style="display:block;">
					<div class="tab-content__leftside">														
						<div class="dialog-head">
							<h3>Диалог с Константином Константиновым</h3>
						</div>
						<div class="scroll-pane">	
							<div class="mes-old">
								<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Ну привет! Помнишь, мы уже работали? <span class="mes-old-item__time">01:13</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Я ничего не помню. Но твое лицо на аве кажется знакомым. Английский хорошо знаешь? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да нормально <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
							</div><!--/mes-old-->
							<div class="mes-old">
								<div class="mes-old__title"><span>Вчера, 29 сентября</span></div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Слушай, справишься за 4 дня? Только честно <span class="mes-old-item__time">01:13</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>
									<div class="mes-old-item__info">
										<h5>Я</h5>
										<p>Да не вопрос. Все сделаем в лучшем виде. Не трусь. Деньги то есть у тебя? <span class="mes-old-item__time">10:16</span></p>
									</div>										
								</div>
								<div class="mes-old-item">
									<div class="mes-old-item__avatar-wrap">
										<div class="ava ava--size31">
											<div class="ava__in">
												<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
											</div>
										</div>
									</div>										
									<div class="mes-old-item__info">
										<h5>Константин Константинов</h5>
										<p>Да есть. Смотри, а то пожалуюсь на тебя экспертам. <span class="mes-old-item__time">10:16</span></p>
									</div>
								</div>
							</div><!--/mes-old-->
						</div><!--scroll-pane-->
						<div class="mes-about-sel">
							<div class="mes-about-sel__txt">Вас выбрали переводчиком на тендер</div>
							<div class="mes-about-sel__time">10:16</div>
						</div>
						<div class="add-comment">
							<form action="#">																
								<div class="ava ava--size50">
									<div class="ava__in">
										<img src="upload/avatar-6.jpg" height="50" width="50" alt="">
									</div>
								</div>														
								<div class="add-comment__info">
									<textarea cols="30" rows="10"></textarea>
									<button class="btn-main2" type="submit">Отправить</button>
								</div>
							</form>
						</div>	
					</div><!--/tab-content__leftside-->
					<div class="tab-content__rightside">
						<div class="client-block bord">
							<div class="client-block__head">
								<div class="client-block__avatar-wrap client-block__avatar-wrap--to-left">
									<div class="ava ava--size31 ava--online">
										<a href="#" class="ava__in">
											<img src="upload/avatar-5.jpg" height="31" width="31" alt="">
										</a>
									</div>
								</div>
								<div class="client-block__info client-block__info--to-left">
									<h5><a href="#">Семен Семенович</a></h5>
									<p>На сайте: <b>2 года</b></p>
								</div>
							</div>
							<div class="personal-info-min">										
								<div class="personal-info-min__section">
									<h4>Тендеры</h4>
									<div class="personal-info-min__txt">
										<p>В работе: <b>1</b></p>
										<p>Завершенных: <b>14</b></p>
									</div>											
								</div><!--/personal-info-min__section-->									
							</div>
						</div><!--/translator-block-->
					</div><!--/tab-content__rightside-->
				</div> <!--/tab__content-->		
				<div class="tab-content" id="tab-content-3" style="display:none;">
					контент таба-3		
				</div> <!--/tab__content-->	
			</div> <!--/tabs__content-->						
		</div> <!--/tabs-->	
	</div>	<!--/content-->			
</div><!--/container-->
