<div class="content-head">
	<div class="container">
		<div class="content-head__content">	
			<div class="content-head__lang content-head__lang--move">
				<div class="lang round"><span>Английский</span><span>Португальский</span></div>	
			</div>
			<div class="content-head__content-info">		
				<h1>Перевод вступительной статьи главного врача стоматологической поликлиники</h1>
				<ol class="content-head__stage-list">
					<li class="active"><span>Вас выбрали переводчиком</span></li>
					<li class="active"><span>Вы загрузили перевод</span></li>
					<li class="to-down">
						<b>1 день, 3 часа, 45 мин</b>	
						<span>Утверждение</span>
						<div class="progress-bar">									
							<div class="progress-bar__line">
								<div class="progress-bar__line-progress approving" style="width: 70%;"></div>
							</div>
							<div class="progress-bar__info">
								<i class="progress-bar__start">9 сентября 10:45</i>							
								<i class="progress-bar__end">15 сентября 10:45</i>
								<i class="progress-bar__duration">3 дня</i>
							</div>
						</div>
					</li>					
				</ol>					</div>
			<a href="#" class="btn-close2"></a>						
		</div><!--/content-head__content-->			
	</div><!--/container-->
</div><!--/content__head-->
<div class="container">
	<div class="content p-top0 m-top-m50">
		<div class="tabs">
			<div class="tabs__head">
				<a href="#tab-content-1" class="tab__title tab__title--approving"><span>Условия</span></a>
				<a href="#tab-content-2" class="tab__title tab__title--approving"><span>Диалог</span></a>
				<a href="#tab-content-3" class="tab__title tab__title--approving tab__title--active"><span>Перевод</span></a>
			</div>
			<div class="tabs__content">
				<div class="tab-content" id="tab-content-1" style="display:none;">
					контент таба-1		
				</div> <!--/tab__content-->	
				<div class="tab-content" id="tab-content-2" style="display:none;">
					контент таба-2		
				</div> <!--/tab__content-->		
				<div class="tab-content" id="tab-content-3"  style="display:block;">
					<div class="source source--result">								
						<div class="source__file  source__file--mbot">
							<div class="source-doc source-doc--sm">
								<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
								<a href="#" class="btn-add-sm download-sm"></a>
								<span>Загружено: 20 октября 2015, 14:65</span>							
							</div>
						</div>
						<div class="source__btn-upload">
							<span class="btn-upload2">
								<label for="btn-hidden">Загрузить еще перевод</label> 
								<input type="file" name="upload" id="btn-hidden">							
							</span>
						</div>						
					</div>	
					<div class="source source--result-old">
						<h3>Предыдущие версии</h3>
						<div class="source__file no-bord">
							<div class="source-doc source-doc--sm">
								<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
								<a href="#" class="btn-add-sm download-sm"></a>
								<span>Загружено: 20 октября 2015, 14:65</span>							
							</div>
						</div>	
						<div class="source__file no-bord">
							<div class="source-doc source-doc--sm">
								<a href="#" class="link--field link--field-file link--field-pdf active">For_translators.pdf <i>17 МБ</i></a>
								<a href="#" class="btn-add-sm download-sm"></a>
								<span>Загружено: 20 октября 2015, 14:65</span>							
							</div>
						</div>										
					</div><!--/source-result-->		
				</div> <!--/tab__content-->	
			</div> <!--/tabs__content-->						
		</div> <!--/tabs-->	
	</div>	<!--/content-->			
</div><!--/container-->
