<div class="container">
	<div class="content">
		<h2>Настройки</h2>
		<div class="form-block setting">
			<form action="#">
				<div class="form-block__in">
					<div class="form-block__section">
						<h4>Личная информация</h4>			
						<div class="form-block__row p-bot30">
							<label>Эл. почта</label><input class="field w340 email req" type="text">
						</div>				
						<div class="form-block__row p-bot30">
							<label>Телефон</label><input class="field w340 tel req" type="text">
						</div>
					</div><!--/form-block__section-->
					<div class="form-block__section">
						<h4>Смена пароля</h4>			
						<div class="form-block__row p-bot30">
							<label>Старый пароль</label><input class="field w340" type="password" placeholder="">
						</div>		
						<div class="form-block__row p-bot30">
							<label>Новый пароль</label><input class="field w340" type="password" placeholder="">
						</div>
						<div class="form-block__row p-bot30">
							<label>Подтвердите пароль</label><input class="field w340" type="password" placeholder="">
						</div>
					</div><!--/form-block__section-->
					<div class="form-block__section">
						<h4>Уведомления</h4>
						<p class="subtitle">Присылать уведомления</p>			
						<div class="form-block__row">
							<div class="check-section">
								<span class="check-btn">
									<input type="checkbox" id="ch1"><label for="ch1"><span>Об изменении статуса моих проектов</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch2"><label for="ch2"><span>О предложении откликнуться на тендер</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch3"><label for="ch3"><span>О новых  сообщениях</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch4"><label for="ch4"><span>Об изменении моего баланса</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch5"><label for="ch5"><span>О подходящих для меня тендерах</span></label>
								</span>
							</div>
							<div class="radio-txt-section">
								<span class="radio-txt-big">
									<input type="radio" id="v1" name="rd4">	
									<label for="v1">Каждый раз</label>
									<input type="radio" id="v2" name="rd4">	
									<label for="v2">Раз в день</label>											
									<select class="select-last">
										<option selected>За период</option>
										<option value="">5 дней</option>
										<option value="">неделя</option>
										<option value="">месяц</option>											
									</select>
								</span>
							</div>
						</div>									
					</div><!--/form-block__section-->
					<div class="form-block__section">
						<h4>Рассылка</h4>
						<p class="subtitle">Присылать уведомления на электронную почту</p>			
						<div class="form-block__row">
							<div class="check-section">
								<span class="check-btn">
									<input type="checkbox" id="ch1"><label for="ch1"><span>Об изменении статуса моих проектов</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch2"><label for="ch2"><span>О предложении откликнуться на тендер</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch3"><label for="ch3"><span>О новых  сообщениях</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch4"><label for="ch4"><span>Об изменении моего баланса</span></label>
								</span>
								<span class="check-btn">
									<input type="checkbox" id="ch5"><label for="ch5"><span>О подходящих для меня тендерах</span></label>
								</span>
							</div>
							<div class="radio-txt-section">
								<span class="radio-txt-big">
									<input type="radio" id="v1" name="rd4">	
									<label for="v1">Каждый раз</label>
									<input type="radio" id="v2" name="rd4">	
									<label for="v2">Раз в день</label>											
									<select class="select-last">
										<option selected>За период</option>
										<option value="">5 дней</option>
										<option value="">неделя</option>
										<option value="">месяц</option>											
									</select>
								</span>
							</div>
						</div>									
					</div><!--/form-block__section-->
					<div class="form-block__section last">
						<h4>Шаблон отклика на тендер</h4>
						<div class="form-block__row">
							<div class="form-block__templs">							
								<a href="#" class="link--field2"><span>Для английского</span></a>
								<a href="#" class="link--field2"><span>На русский</span></a>
								<a href="#" class="link--field2 active"><span>На болгарский с русского</span></a>
								<a href="#" class="link--field2"><span>Для юридических документов</span></a>
								<a href="#" class="btn-delet"></a>
								<button class="btn-add-sm"></button>												
							</div>
						</div>									
						<div class="form-block__row p-bot30">									
							<label>Название</label><input class="field w580 req-field req" type="text" value="На болгарский с русского">			
						</div>
						<div class="form-block__row">
							<label>Сообщение</label> 
							<textarea class="h160" cols="30" rows="10" placeholder="Необязательно">Имею большой опыт письменных переводов, Приятный мужчина, с хорошим чувством юмора. Не было недовольных заказчиков. Сотрудничаю с издательствами. Скоро выйдит новая серия книг с моим переводом</textarea>
						</div>
					</div><!--/form-block__section-->											
					<div class="form-block__bot">					
						<button class="btn-main-big" type="submit">Сохранить</button>
					</div>
				</div>
			</form>
		</div><!--/form-block-->
	</div>	<!--/content-->			
</div><!--/container-->
