<div class="container">
	<div class="content">
		<div class="content__title no-bord">
			<h2>Переводчики</h2>	
		</div>								
		<div class="content__main">
			<div class="content__leftside">										
				<div class="content__translator-list">											
					<div class="person-item">
						<div class="person-item__avatar"><a href="#"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a></div>
						<div class="person-item__info">
							<h4><a href="#">Константин Константинопович</a></h4>
							<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
							<div class="person-item__lang">
								<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
								<div class="lang"><span>Английский</span><span>Русский</span></div>
							</div>								
						</div><!--/person-item__info-->
						<div class="person-item__bot">
							<small>Еще (3)</small>
							<span class="category ic-sci">Наука</span>
							<span class="category ic-med">Медицина</span>
							<span class="category ic-jur">Юриспруденция</span>
						</div>	
					</div><!--/person-item-->
					<div class="person-item">
						<div class="person-item__avatar"><a href="#"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a></div>
						<div class="person-item__info">
							<h4><a href="#">Константин Константинопович</a></h4>
							<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
							<div class="person-item__lang">
								<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>										
							</div>								
						</div><!--/person-item__info-->
						<div class="person-item__bot">
							<small>Еще (3)</small>
							<span class="category ic-sci">Наука</span>
							<span class="category ic-med">Медицина</span>
							<span class="category ic-jur">Юриспруденция</span>
						</div>	
					</div><!--/person-item-->
					<div class="person-item">
						<div class="person-item__avatar"><a href="#"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a></div>
						<div class="person-item__info">
							<h4><a href="#">Константин Константинопович</a></h4>
							<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
							<div class="person-item__lang">
								<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>										
							</div>								
						</div><!--/person-item__info-->
						<div class="person-item__bot">
							<small>Еще (3)</small>
							<span class="category ic-sci">Наука</span>
							<span class="category ic-med">Медицина</span>
							<span class="category ic-jur">Юриспруденция</span>
						</div>	
					</div><!--/person-item-->
					<div class="person-item">
						<div class="person-item__avatar"><a href="#"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a></div>
						<div class="person-item__info">
							<h4><a href="#">Константин Константинопович</a></h4>
							<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
							<div class="person-item__lang">
								<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
								<div class="lang"><span>Английский</span><span>Русский</span></div>
							</div>								
						</div><!--/person-item__info-->
						<div class="person-item__bot">
							<small>Еще (3)</small>
							<span class="category ic-sci">Наука</span>
							<span class="category ic-med">Медицина</span>
							<span class="category ic-jur">Юриспруденция</span>
						</div>	
					</div><!--/person-item-->
					<div class="person-item">
						<div class="person-item__avatar"><a href="#"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a></div>
						<div class="person-item__info">
							<h4><a href="#">Константин Константинопович</a></h4>
							<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
							<div class="person-item__lang">
								<div class="lang"><span>Русский</span><span>Португальский</span><span>Английский</span></div>
								<div class="lang"><span>Английский</span><span>Русский</span></div>
								<div class="lang"><span>Русский</span><span>Португальский</span></div>
								<div class="lang"><span>Английский</span><span>Русский</span></div>
							</div>								
						</div><!--/person-item__info-->								
					</div><!--/person-item-->
					<div class="person-item">
						<div class="person-item__avatar"><a href="#"><img src="upload/avatar-2.jpg" height="70" width="70" alt=""></a></div>
						<div class="person-item__info">
							<h4><a href="#">Константин Константинопович</a></h4>
							<div class="person-item__rating"><b>4,7</b><i class="rating"><i style="width:80px;"></i></i><span>12 отзывов</span></div>
							<div class="person-item__lang">										
								<div class="lang"><span>Английский</span><span>Русский</span></div>
							</div>								
						</div><!--/person-item__info-->
						<div class="person-item__bot">									
							<span class="category ic-sci">Наука</span>									
						</div>	
					</div><!--/person-item-->								
				</div><!--content__translator-list-->								
			</div><!--/content__leftside-->
			<div class="content__rightside">
				<div class="form-narrow">
					<div class="form-narrow__main-title move">
						<h4>Параметры поиска</h4>
					</div>
					<form action="#">	
						<div class="form-narrow__section">
							<span class="form-narrow__head">Языковая пара</span>								
							<label class="form-narrow__label">Язык оригинала</label>
							<div class="form-narrow__langlist form-narrow__langlist--bgarrow">
								<div class="language language-to-right">
									<div class="language__select"></div>
									<div class="language__dropdown">
										<ul class="language__list">
											<li class="language__item"><a class="ic-af" href="#">Язык</a></li>
											<li class="language__item"><a class="ic-am" href="#">Язык</a></li>
											<li class="language__item"><a class="ic-se" href="#">Язык</a></li>
											<li class="language__item"><a class="ic-ht" href="#">Мексиканский</a></li>
											<li class="language__item"><a class="ic-ba" href="#">Мексиканский</a></li>
											<li class="language__item"><a class="ic-dk" href="#">Мексиканский</a></li>
											<li class="language__item"><a class="ic-de" href="#">Немецкий</a></li>
											<li class="language__item"><a class="ic-bd" href="#">Немецкий</a></li>
											<li class="language__item"><a class="ic-ee" href="#">Немецкий</a></li>
											<li class="language__item"><a class="ic-hu" href="#">Итальянский</a></li>
											<li class="language__item"><a class="ic-be" href="#">Итальянский</a></li>
											<li class="language__item"><a class="ic-es" href="#">Итальянский</a></li>
											<li class="language__item"><a class="ic-id" href="#">Финский</a></li>
											<li class="language__item"><a class="ic-bg" href="#">Финский</a></li>
											<li class="language__item"><a class="ic-fr" href="#">Финский</a></li>
											<li class="language__item"><a class="ic-ie" href="#">Португальский</a></li>
											<li class="language__item"><a class="ic-br" href="#">Португальский</a></li>
											<li class="language__item"><a class="ic-gb" href="#">Португальский</a></li>
											<li class="language__item"><a class="ic-il" href="#">Американский</a></li>
											<li class="language__item"><a class="ic-by" href="#">Американский</a></li>
											<li class="language__item"><a class="ic-ge" href="#">Американский</a></li>
											<li class="language__item"><a class="ic-is" href="#">Чешский</a></li>
											<li class="language__item"><a class="ic-ch" href="#">Чешский</a></li>
											<li class="language__item"><a class="ic-gr" href="#">Чешский</a></li>
											<li class="language__item"><a class="ic-it" href="#">Корейский</a></li>
											<li class="language__item"><a class="ic-cn" href="#">Корейский</a></li>
											<li class="language__item"><a class="ic-th" href="#">Корейский</a></li>
											<li class="language__item"><a class="ic-jp" href="#">Японский</a></li>
											<li class="language__item"><a class="ic-cz" href="#">Японский</a></li>
											<li class="language__item"><a class="ic-tr" href="#">Японский</a></li>
											<li class="language__item"><a class="ic-lv" href="#">Русский</a></li>
											<li class="language__item"><a class="ic-fi" href="#">Русский</a></li>
											<li class="language__item"><a class="ic-ua" href="#">Русский</a></li>
										</ul>
									</div>
								</div>
							</div>
							<label class="form-narrow__label">Язык перевода</label>
							<div class="form-narrow__langlist">
								<div class="language language-to-right">
									<div class="language__select"></div>
									<div class="language__dropdown">
										<ul class="language__list">
											<li class="language__item"><a class="ic-af" href="#">Язык</a></li>
											<li class="language__item"><a class="ic-am" href="#">Язык</a></li>
											<li class="language__item"><a class="ic-se" href="#">Язык</a></li>
											<li class="language__item"><a class="ic-ht" href="#">Мексиканский</a></li>
											<li class="language__item"><a class="ic-ba" href="#">Мексиканский</a></li>
											<li class="language__item"><a class="ic-dk" href="#">Мексиканский</a></li>
											<li class="language__item"><a class="ic-de" href="#">Немецкий</a></li>
											<li class="language__item"><a class="ic-bd" href="#">Немецкий</a></li>
											<li class="language__item"><a class="ic-ee" href="#">Немецкий</a></li>
											<li class="language__item"><a class="ic-hu" href="#">Итальянский</a></li>
											<li class="language__item"><a class="ic-be" href="#">Итальянский</a></li>
											<li class="language__item"><a class="ic-es" href="#">Итальянский</a></li>
											<li class="language__item"><a class="ic-id" href="#">Финский</a></li>
											<li class="language__item"><a class="ic-bg" href="#">Финский</a></li>
											<li class="language__item"><a class="ic-fr" href="#">Финский</a></li>
											<li class="language__item"><a class="ic-ie" href="#">Португальский</a></li>
											<li class="language__item"><a class="ic-br" href="#">Португальский</a></li>
											<li class="language__item"><a class="ic-gb" href="#">Португальский</a></li>
											<li class="language__item"><a class="ic-il" href="#">Американский</a></li>
											<li class="language__item"><a class="ic-by" href="#">Американский</a></li>
											<li class="language__item"><a class="ic-ge" href="#">Американский</a></li>
											<li class="language__item"><a class="ic-is" href="#">Чешский</a></li>
											<li class="language__item"><a class="ic-ch" href="#">Чешский</a></li>
											<li class="language__item"><a class="ic-gr" href="#">Чешский</a></li>
											<li class="language__item"><a class="ic-it" href="#">Корейский</a></li>
											<li class="language__item"><a class="ic-cn" href="#">Корейский</a></li>
											<li class="language__item"><a class="ic-th" href="#">Корейский</a></li>
											<li class="language__item"><a class="ic-jp" href="#">Японский</a></li>
											<li class="language__item"><a class="ic-cz" href="#">Японский</a></li>
											<li class="language__item"><a class="ic-tr" href="#">Японский</a></li>
											<li class="language__item"><a class="ic-lv" href="#">Русский</a></li>
											<li class="language__item"><a class="ic-fi" href="#">Русский</a></li>
											<li class="language__item"><a class="ic-ua" href="#">Русский</a></li>
										</ul>
									</div>
								</div>
							</div>								
						</div><!--/form-narrow__section-->	
						<div class="form-narrow__section">
							<span class="form-narrow__head">Исходник</span>								
							<span class="form-narrow__title">Количество символов</span>
							<div class="form-narrow__row">
								<label class="form-narrow__label">от</label>
								<input class="form-narrow__input" type="text" value="200">
								<label class="form-narrow__label">до</label>
								<input class="form-narrow__input form-narrow__input--mgn" type="text" value="2000">
							</div>
							<span class="form-narrow__title form-narrow__title--bginf ">Тематика</span>
							<div class="form-narrow__categories">											
								<div class="categories">
									<div class="categories__select">
										<span style="line-height:48px; font-size: 16px;">Юриспруденция</span>
									</div>
									<div class="categories__dropdown">
									<ul class="categories__list">
										<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
										<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
										<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
										<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
										<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
										<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
										<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
										<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
										<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
										<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
										<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
										<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
										<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
									</ul>
									</div>
								</div>
							</div>				
						</div>
						<div class="form-narrow__section">
							<span class="form-narrow__head">Условия</span>
							<span class="form-narrow__title form-narrow__title--icclock ">Срок в днях</span>	
							<div class="form-narrow__row">									
								<label class="form-narrow__label">от</label>
								<input class="form-narrow__input" type="text" value="0">
								<label class="form-narrow__label">до</label>
								<input class="form-narrow__input form-narrow__input--mgn" type="text" value="20">
							</div>
							<input class="form-narrow__btnsubmit" type="submit" value="Применить">
							<input class="form-narrow__btnreset" type="submit" value="Сбросить">				
						</div>
					</form>			
				</div><!--/form-narrow-->
			</div><!--/content__rightside-->
		</div><!--/content__main-->
	</div><!--/content-->
</div><!--/container-->
