<div class="container">
	<div class="content">
		<h2>Редактирование профиля</h2>
		<div class="form-block">
			<form action="#">
				<div class="form-block__in">
					<h4>Основное</h4>			
					<div class="form-block__row two-el">
						<label>Имя</label>
						<input class="field w270 req-field req" type="text" value="Константин">
						<label class="w-auto">Фамилия</label>
						<input class="field w340 req-field req" type="text" value="Константинопольский">
					</div>				
					<div class="form-block__row">									
						<label class="m-top10">О себе</label>
						<textarea cols="30" rows="10" placeholder="Необязательно" class="h160 w580"></textarea>			
					</div>
					<h4>Переводы</h4>	
					<div class="form-block__row two-el">
						<label>Язык оригинала</label>
						<div class="language language-source">
							//= ../../template/_lang_list.html
						</div><!--/language-->
						<label class="w-auto">Язык перевода</label>
						<div class="language language-to-right">
							//= ../../template/_lang_list.html
						</div><!--/language-->
					</div><!--/form-block__row-->
					<div class="form-block__row">									
						<span class="label tooltip-info">Специализация</span>	
						<div class="categories">
							<div class="categories__select"></div>
							<div class="categories__dropdown">
								<ul class="categories__list">
									<li class="categories__item"><a class="ic-fin" href="#">Бизнес / Финансы</a></li>
									<li class="categories__item"><a class="ic-docs" href="#">Документы / Сертификаты</a></li>
									<li class="categories__item"><a class="ic-games" href="#">Видеоигры</a></li>
									<li class="categories__item"><a class="ic-ads" href="#">Маркетинг / Реклама</a></li>
									<li class="categories__item"><a class="ic-med" href="#">Медицина</a></li>
									<li class="categories__item"><a class="ic-mob" href="#">Мобильные приложения</a></li>
									<li class="categories__item"><a class="ic-sci" href="#">Наука</a></li>
									<li class="categories__item"><a class="ic-it" href="#">IT / Софт / Техника</a></li>
									<li class="categories__item"><a class="ic-tour" href="#">Туризм</a></li>
									<li class="categories__item"><a class="ic-lit" href="#">Литература</a></li>
									<li class="categories__item"><a class="ic-pol" href="#">Политика</a></li>
									<li class="categories__item"><a class="ic-jur" href="#">Юриспруденция</a></li>
									<li class="categories__item"><a class="ic-tech" href="#">Инженерное дело</a></li>
								</ul>
							</div>
						</div>				
					</div><!--/form-block__row-->
					<h4>Образование</h4>	
					<div class="form-block__row">									
						<label>Страна</label><input class="field w580 req-field req" type="text">			
					</div>
					<div class="form-block__row">									
						<label>Город</label><input class="field w580 req-field req" type="text">				
					</div>
					<div class="form-block__row">									
						<label>Вуз</label><input class="field w580 req-field req" type="text">			
					</div>
					<div class="form-block__row">									
						<label>Факультет</label><input class="field w580 req-field req" type="text">		
					</div>
					<div class="form-block__row">									
						<label>Дата выпуска</label><input class="field w580 req-field req" type="text">			
					</div>
					<div class="form-block__row form-block__row--upload">
						<span class="label m-top10">Документы подтверждающие квалификацию</span>
						<div class="form-block__upload-block">
							<span class="upload-block">
								<span class="upload-box w580">
									<span class="btn-upload">
										<label for="btn-hidden2">Загрузить файл</label> 
										<input type="file" name="upload" id="btn-hidden2">						
									</span>
									<small class="inf">Можно перетянуть сюда</small>
								</span>						
							</span><!--/upload-block-->
							<div class="uploaded-files">
								<a href="#" class="uploaded-files__file pdf"></a>
								<a href="#" class="uploaded-files__file doc"></a>
								<a href="#" class="uploaded-files__file png"></a>
								<a class="link link--dotted link--sm" href="#">Все поддерживаемые форматы</a>
							</div>
						</div>
					</div><!--/form-block__row-->						
					<div class="form-block__bot al-center">					
						<button class="btn-main-big" type="submit">Сохранить</button>
					</div>
				</div>
			</form>
		</div><!--/form-block-->
	</div>	<!--/content-->			
</div><!--/container-->
